{% extends 'base/base_form.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Añadir Transacción
{% endblock title %}
{% block content %}
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">{{ title }}</h5>
            </div>
            <form enctype="multipart/form-data" method="post" id="update-form">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12">
                            Product: <b>{{ product.name }}</b>
                            <a {% if form.instance.id %}onclick="deleteTransaction({{ form.instance.id }}, '{{ product.name }}')"{% endif %}
                               type="button"
                               class="btn btn-icon btn-outline-danger float-end">
                                <span class="tf-icons bx bx-trash"></span>
                            </a>
                        </div>
                    </div>
                    {% crispy form %}
                </div>
            </form>
        </div>
    </div>
    <script>
        function deleteTransaction(id, name) {
            let confirmAction = confirm("Are you sure to delete the product " + name + " from this order?");
            if (confirmAction) {
                window.location = "/inventory/delete-transaction/" + id;
            }
        }
    </script>
{% endblock content %}
