{% extends 'base/base_list.html' %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block Ttitle %}
    <h5 class="card-header">Kits</h5>
{% endblock Ttitle %}
{% block Theader %}
    <th>
        <i class="bx bx-cog"></i>
    </th>
    <th>Name</th>
    <th>Price</th>
{% endblock Theader %}
{% block Tbody %}
    {% for kit in kits %}
        <tr data-search="{{ kit.category.name }}" data-search="{{ kit.name }}">
            <td>
                <a href={% url 'detail-kit' kit.id %}><i class="bx bx-dots-vertical-rounded"></i></a>
            </td>
            <td>
                <strong>{{ kit.name }}</strong>
            </td>
            <td>${{ kit.total|floatformat:"2" }}</td>
        </tr>
    {% endfor %}
{% endblock Tbody %}
{% block createUrl %}
    {% url 'create-kit' %}
{% endblock createUrl %}
{% block help %}
    Add kit
{% endblock help %}
