{% extends 'base/base_list.html' %}
{% block title %}
    Unidades de medida
{% endblock title %}
{% block Ttitle %}
    <h5 class="card-header">Unidades de medida</h5>
{% endblock Ttitle %}
{% block Theader %}
    <th>
        <i class="bx bx-cog"></i>
    </th>
    <th>Unit</th>
    <th>Magnitude</th>
    <th>Value</th>
{% endblock Theader %}
{% block Tbody %}
    {% for unit in units %}
        <tr x-show='match("{{unit.name|escapejs}} | {{unit.magnitude|escapejs}}", $store.search.search)'>
            <td>
                <a href={% url 'update-unit' unit.id %}><i class="bx bx-dots-vertical-rounded"></i></a>
            </td>
            <td>
                <i class="fab fa-angular fa-lg text-danger"></i>
                <strong
                    x-html='highlightMatch("{{unit.name|escapejs}}", $store.search.search)'
                >{{ unit.name }}</strong>
            </td>
            <td
                x-html='highlightMatch("{{unit.magnitude|escapejs}}", $store.search.search)'
            >{{ unit.magnitude }}</td>
            <td>
                {% if unit.factor == 1 %}
                    -
                {% else %}
                    {{ unit.factor|floatformat:"-3" }}
                    {% if unit.magnitude == 'mass' %}
                        kg
                    {% elif unit.magnitude == 'distance' %}
                        m
                    {% elif unit.magnitude == 'volume' %}
                        m<sup>3</sup>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock Tbody %}
{% block createUrl %}
    {% url 'create-unit' %}
{% endblock createUrl %}
{% block help %}
    New unit
{% endblock help %}
