{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Editor
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href="{% static 'assets/css/editor.css' %}" />
    <link rel="stylesheet"
          href="{% static 'libs/richtexteditor/rte_theme_default.css' %}" />
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <form enctype="multipart/form-data" method="post" id="form">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
                <div id="editor">{{ content|safe }}</div>
            </div>
        </div>
    </div>
    <script>
        const VARS = [
            {%for v in vars%}
            {
                pattern: "{{v.pattern}}",
                var_name: "{{v.var_name}}",
            },
            {%endfor%}
        ];
    </script>
    <script src="{%static 'libs/richtexteditor/rte.js'%}"></script>
    <script src="{%static 'assets/js/texteditor.js'%}"></script>
{% endblock content %}
