{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    Editor
{% endblock title %}
{% block content %}
    <link rel="stylesheet" href="{% static 'libs/ckeditor/ckeditor.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/editor.css' %}" />
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-body m-0 p-1">
                    <div class="flex flex-wrap justify-end items-center">
                        <div class="flex flex-grow items-center flex-wrap">
                            <h5 class="card-title p-2 m-0">
                                <a href="{% url 'template-list' %}">
                                    <i class='bx bx-left-arrow-alt'></i>
                                </a>
                                {{ template.module|upper }} /
                                {{ template.template|upper }} /
                                {{ template.language|upper }}
                            </h5>
                        </div>
                        {% if versions %}
                            <div class="btn-group">
                                <button type="button"
                                        class="btn btn-link dropdown-toggle"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    {{ version.version }} - {{ version.created_date }}
                                </button>
                                <ul class="dropdown-menu">
                                    {% for v in versions %}
                                        <li>
                                            <a href="{% url 'template-version-edit' template.id v.version %}"
                                               class="dropdown-item">{{ v.version }} - {{ v.date }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <a href="{% url 'template-version-new' template.id %}"
                               class="btn btn-link btn-icon">
                                <i class='bx bxs-file-plus'></i>
                            </a>
                        {% endif %}
                        <div>
                            <button class="btn btn-link btn-icon" onclick="save()">
                                <i class='bx bx-save'></i>
                            </button>
                        </div>
                    </div>
                </div>
                <form enctype="multipart/form-data" method="post" id="form">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
    <script src="{%static 'libs/ckeditor/ckeditor.js'%}"></script>
    <script src="{%static 'assets/js/ckeditor.js'%}"></script>
{% endblock content %}
