{% extends 'base/base_form.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block page %}
    <style>
#id_users {
    height: 10rem;
}

.accordion-header {
    padding-left: 1.2rem;
    align-items: center;
}
.accordion-header button {
    margin-left: 0 !important;
    padding-left: 0 !important;
}
.accordion-header input {
    margin-right: 1rem;
    margin-top: 0;
    width: 1.5rem;
    height: 1.5rem;
}
    </style>
{% endblock page %}
{% block content %}
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header flex items-center justify-end gap-2 flex-wrap">
                <h5 class="mb-0 flex-grow">{{ title }}</h5>
                <!-- <div class="position-absolute top-0 end-0 pe-3 pt-3"> -->
                <a class="btn btn-outline-primary" href="{% url 'rbac-list-roles' %}">
                    <i class='bx bx-left-arrow-alt'></i>
                    Cancel
                </a>
                {% if role is not None %}
                    <a class="btn btn-outline-danger"
                       href="{% url 'rbac-role-delete' role.id %}">
                        <i class="bx bx-trash"></i>
                    </a>
                {% endif %}
                <!-- </div> -->
            </div>
            <form enctype="multipart/form-data" method="post" id="update-form">
                {% csrf_token %}
                <div class="card-body" x-data="RBACSearch">{% crispy form %}</div>
            </form>
        </div>
    </div>
    <script src='{%static 'assets/js/role-form.js'%}'></script>
    <script src='{%static 'assets/js/rbac-form-search.js'%}'></script>
{% endblock content %}
