{% extends 'base/base_form.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block page %}
    <style>
#id_users {
    height: 10rem;
}
    </style>
{% endblock page %}
{% block content %}
    <div class="col-xxl" x-data="userPass">
        <div class="card mb-4">
            <div class="card-header flex items-center justify-end flex-wrap gap-2">
                <h5 class="mb-2 flex-grow">{{ title }}</h5>
                <!-- <div class="flex flex-wrap gap-2 justify-end"> -->
                <a class="btn btn-outline-primary"
                   href="{% url 'rbac-user-update' user_instance.id %}">
                    <i class='bx bx-left-arrow-alt'></i>
                    Cancel
                </a>
                <button class="btn btn-outline-warning" @click="randomPass">
                    <i class='bx bx-dice-5'></i>
                    Random pass
                </button>
                <button class="btn btn-outline-success" onclick="send()">
                    <i class='bx bx-save'></i>
                    Save
                </button>
                <!-- </div> -->
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" method="post" id="user-form">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
    <script>
        function send() {
            const passIn = document.querySelector('#id_new_password1')
            const pass = passIn.value
            navigator.clipboard.writeText(pass);
            const form = document.getElementById('user-form')
            form.submit()
        }
    </script>
    <script src='{%static 'assets/js/user-pass.js'%}'></script>
{% endblock content %}
