aioesphomeapi==10.13.0
aiofiles==0.8.0
aiohttp==3.8.3
aiosignal==1.3.1
ajsonrpc==1.2.0
altgraph==0.17.3
anyio==3.6.1
appdirs==1.4.3
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
astroid==2.12.10
asttokens==2.1.0
async-timeout==4.0.2
attrs==22.1.0
autopep8==1.7.0
backcall==0.1.0
backports.zoneinfo==0.2.1
bcrypt==3.1.7
beautifulsoup4==4.11.1
bitstring==3.1.9
bleach==5.0.1
blinker==1.4
bottle==0.12.23
Brlapi==0.7.0
Brotli==1.0.9
cachetools==4.2.4
certifi==2019.11.28
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
command-not-found==0.3
commonmark==0.9.1
cryptography==2.8
cssbeautifier==1.14.6
cssselect2==0.7.0
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
debugpy==1.6.3
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
dill==0.3.5.1
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
Django==4.1.2
django-cleanup==6.0.0
django-crispy-forms==1.14.0
django-googledrive-storage==1.6.0
django-phonenumber-field==7.0.0
django-sendgrid-v5==1.2.1
djlint==1.18.0
dnspython==2.2.1
docutils==0.19
duplicity==0.8.12.0
ecdsa==0.18.0
EditorConfig==0.12.3
entrypoints==0.3
esphome==2022.9.2
esphome-dashboard==20220925.0
esptool==3.3.1
examples==1.0.2
executing==1.2.0
fasteners==0.14.1
fastjsonschema==2.16.2
filelock==3.0.12
flaskwebgui==1.0.3
fonttools==4.38.0
frozenlist==1.3.3
future==0.18.2
google-api-core==2.10.2
google-api-python-client==2.70.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.8.0
googleapis-common-protos==1.57.0
Guake==3.6.3
h11==0.14.0
html-tag-names==0.1.2
html-void-elements==0.1.0
html5lib==1.1
httplib2==0.21.0
idna==2.8
ifaddr==0.2.0
importlib-metadata==4.13.0
importlib-resources==5.10.0
ipykernel==6.16.2
ipython==8.5.0
ipython_genutils==0.2.0
ipywidgets==8.0.2
isort==5.10.1
jedi==0.18.1
Jinja2==3.1.2
jsbeautifier==1.14.6
jsonschema==4.16.0
jupyter-console==6.4.4
jupyter-server==1.21.0
jupyter_client==7.4.4
jupyter_core==4.11.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
kazam==1.4.5
kconfiglib==13.7.1
keyring==18.0.1
kiwisolver==1.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.7.1
lockfile==0.12.2
louis==3.12.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.4.1
Markups==3.1.3
MarkupSafe==2.1.1
marshmallow==3.18.0
matplotlib==3.1.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune==2.0.4
modbus-tk==1.1.2
monotonic==1.5
more-itertools==4.2.0
multidict==6.0.2
mypy==0.990
mypy-extensions==0.4.3
nbclassic==0.4.5
nbclient==0.7.0
nbconvert==7.2.3
nbformat==5.7.0
nest-asyncio==1.5.6
netifaces==0.10.4
noiseprotocol==0.3.1
notebook==6.5.1
notebook_shim==0.2.0
numpy==1.17.4
oauthlib==3.1.0
olefile==0.46
packaging==21.3
paho-mqtt==1.6.1
pandocfilters==1.5.0
paramiko==2.6.0
parso==0.8.3
pathspec==0.10.1
pbr==5.4.5
pexpect==4.6.0
phonenumberslite==8.12.56
pickleshare==0.7.5
Pillow==9.3.0
pkgutil_resolve_name==1.3.10
platformdirs==2.5.2
platformio==6.0.2
prometheus-client==0.15.0
prompt-toolkit==3.0.8
protobuf==3.20.3
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycodestyle==2.9.1
pycparser==2.21
pycups==1.9.73
pydantic==1.10.2
pydyf==0.5.0
pyelftools==0.29
Pygments==2.12.0
PyGObject==3.36.0
pygsheets==2.0.6
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.13
PyJWT==1.7.1
pylint==2.15.3
pymacaroons==0.13.0
pymodbus==3.0.2
PyNaCl==1.3.0
pyparsing==3.0.9
pyphen==0.13.2
PyQt6==6.4.0
PyQt6-Qt6==6.4.0
PyQt6-sip==13.4.0
pyRFC3339==1.1
pyrsistent==0.18.1
pyserial==3.5
pyserial-asyncio==0.6
python-apt==2.0.0+ubuntu0.20.4.8
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-http-client==3.3.7
python-markdown-math==0.8
pytz==2020.1
pytz-deprecation-shim==0.1.0.post0
pyxattr==0.6.1
pyxdg==0.26
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.3.2
QtPy==2.2.1
reedsolo==1.5.4
regex==2022.9.13
reportlab==3.5.34
requests==2.22.0
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
ReText==8.0.0
rich==12.6.0
rsa==4.9
scipy==1.3.3
SecretStorage==2.3.1
semantic-version==2.10.0
Send2Trash==1.8.0
sendgrid==6.9.7
shellingham==1.5.0
simplejson==3.16.0
six==1.14.0
smtp-server==0.0.2
sniffio==1.3.0
sorl-thumbnail==12.9.0
soupsieve==2.3.2.post1
sqlparse==0.3.1
ssh-import-id==5.10
stack-data==0.5.1
starkbank-ecdsa==2.2.0
starlette==0.20.4
systemd-python==234
tabulate==0.8.10
terminado==0.17.0
thonny==4.0.1
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.5
tornado==6.1
tqdm==4.64.1
traitlets==5.5.0
typer==0.7.0
typing_extensions==4.3.0
tzdata==2022.4
tzlocal==4.2
ubuntu-advantage-tools==27.12
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==1.25.8
usb-creator==0.3.7
uvicorn==0.17.6
vboxapi==1.0
virtualenv==20.0.17
voluptuous==0.13.1
wadllib==1.3.3
waitress==2.1.2
wcwidth==0.1.8
weasyprint==57.2
webencodings==0.5.1
websocket-client==1.4.1
whitenoise==6.2.0
widgetsnbextension==4.0.3
wrapt==1.14.1
wsproto==1.1.0
xkit==0.0.0
yarl==1.8.1
youtube-dl==2021.12.17
zeroconf==0.39.1
zipp==3.10.0
zopfli==0.2.2
