{% extends "./registration_base.html" %}
{% block content %}
  <h4 class="mb-2">Forgot Password? 🔒</h4>
  <p>Enter your email and we'll send you instructions to reset your password.</p>
  <form method="post">
    {% csrf_token %}
    <label for="email" class="form-label">Email</label>
    <input type="email"
           class="form-control mb-3"
           id="email"
           name="email"
           autocomplete="email"
           placeholder="correo@ejemplo.com"
           maxlength="254"
           required
           autofocus/>
    <div class="mb-3">
      <button class="btn btn-primary d-grid w-100" type="submit">Send Reset Link</button>
    </div>
    <div class="text-center">
      <a href="auth-login-basic.html"
         class="d-flex align-items-center justify-content-center">
        <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
        Back to login
      </a>
    </div>
  </form>
{% endblock content %}
