{% extends "./registration_base.html" %}
{% block content %}
  <h4>Forgotten your password?</h4>
  <p>Enter your e-mail address to obtain a new password.</p>
  <form method="post">
    {% csrf_token %}
    <label for="email" class="form-label">Email</label>
    <input type="email"
           class="form-control mb-3"
           id="email"
           name="email"
           autocomplete="email"
           placeholder="correo@ejemplo.com"
           maxlength="254"
           required
           autofocus/>
    <div class="mb-3">
      <button class="btn btn-primary d-grid w-100" type="submit">Send e-mail</button>
    </div>
  </form>
{% endblock content %}
