{% load static %}
<div class="card !h-full">
    <div class="card-header flex items-center justify-end flex-wrap gap-2">
        <h4 class="mb-0 flex-grow">
            {{title}}:
            {% if total > 0 %}
                <strong>${{total|floatformat:'-2'}}</strong>
            {% endif %}
        </h4>
        <div>
            <a href="{% url 'create-contract-toll' contract.id %}"
               class="btn btn-icon btn-outline-primary"
               data-bs-toggle="tooltip"
               data-bs-placement="top"
               data-bs-custom-class="custom-tooltip"
               data-bs-title="Create a new toll">
                <i class='bx bx-plus'></i>
            </a>
        </div>
    </div>
    <div class="table-responsive text-nowrap">
        <div class="container ps-0 max-h-96 overflow-auto">
            <table class="table">
                <thead class="sticky top-0 bg-white">
                    <tr>
                        <th>Invoice Number</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for toll in tolls %}
                        <tr>
                            <td>
                                {{toll.invoice_number}}
                            </td>
                            <td>
                                {{toll.created_date|date:'E d, Y'}}
                            </td>
                            <td>
                                <strong>
                                    ${{toll.amount|floatformat:'-2'}}
                                </strong>
                            </td>
                            <td class="flex justify-end">
                                <a href="{% url 'update-contract-toll' toll.id contract.id %}"
                                   class="btn btn-icon btn-link"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-custom-class="custom-tooltip"
                                   data-bs-title="Edit toll">
                                    <i class='bx bx-cog'></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
