{% load static %}
<div class="card">
    <div class="card-header flex items-center justify-end flex-wrap gap-2">
        <h2 class="mb-0 flex-grow">Finished Contract</h2>
        <div class="flex flex-wrap gap-2 items-center justify-end">
            {% if devolution.returned %}
                <strong>
                    Security deposit returned on {{devolution.returned_date|date:'E d, Y'}}
                </strong>
            {% else %}
                <strong>
                    Security deposit should be returned on {{devolution.refund_date}}
                </strong>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="flex mb-3 gap-2 flex-wrap">
            <div class="">
                Valid from
                <strong>{{ contract.effective_date|date:"E d, Y" }}</strong>
                to
                <strong>{{ contract.ended_date|date:"E d, Y" }}</strong>
                .
            </div>
            <div class="">
                <strong>{{ contract.validity_days }}</strong>
                {%if contract.validity_days == 1%}
                    day
                {%else%}
                    days
                {%endif%}
                validity.
            </div>
        </div>
        <div class="flex gap-4 flex-wrap justify-between">
            <div>
                <a class="btn btn-icon btn-outline-warning"
                   href="{% url 'security_deposit_devolution_invoice' devolution.id True %}"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   data-bs-custom-class="custom-tooltip"
                   data-bs-title="Security deposit devolution invoice (Original)">
                    <i class='bx bx-printer' ></i>
                </a>
                <a class="btn btn-icon btn-outline-primary"
                   href="{% url 'security_deposit_devolution_invoice' devolution.id False %}"
                   data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   data-bs-custom-class="custom-tooltip"
                   data-bs-title="Security deposit devolution invoice">
                    <i class='bx bx-printer' ></i>
                </a>
            </div>
            <div>
                {% if not devolution.returned %}
                    <span
                        data-bs-toggle="tooltip"
                        data-bs-placement="left"
                        data-bs-custom-class="custom-tooltip"
                        {% if devolution.returned %}
                            data-bs-title="Deposit details"
                        {% else %}
                            {% if devolution.debt_amount > 0 %}
                                data-bs-title="Pay off debt"
                            {% else %}
                                data-bs-title="Return deposit"
                            {% endif %}
                        {% endif %}
                    >
                        <button type="button"
                                class="btn btn-icon btn-outline-success"
                                data-bs-toggle="modal"
                                data-bs-target="#ReturnDepositModal">
                            <i class='bx bx-money'></i>
                        </button>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "./ended_contract_details_contract_return_dialog.html" %}
</div>
