{% load static %}
<div class="card !h-full">
    <div class="card-header flex items-center justify-end flex-wrap gap-2">
        <h4 class="mb-0 flex-grow">
            {{title}}:
            {% if total > 0 %}
                <strong>${{total|floatformat:'-2'}}</strong>
            {% endif %}
        </h4>
    </div>
    <div class="table-responsive text-nowrap">
        <div class="container ps-0 max-h-96 overflow-auto">
            <table class="table">
                <thead class="sticky top-0 bg-white">
                    <tr>
                        <th>Invoice Number</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for toll in tolls %}
                        <tr>
                            <td>
                                {{toll.invoice_number}}
                            </td>
                            <td>
                                {{toll.created_date|date:'E d, Y'}}
                            </td>
                            <td>
                                $
                                <strong>
                                    {{toll.amount|floatformat:'-2'}}
                                </strong>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
