{% extends 'base/base.html' %}
{% block title %}
{% endblock title %}
{% block page %}
    <style>
        .add {
            position: fixed;
            font-size: 27px;
            bottom: 3rem;
            right: 1.625rem;
            z-index: 999999;
            box-shadow: 0 1px 20px 1px #696cff;
        }
        .add .tooltip{
            opacity: 1;
        }
        .tooltip-inner{
            font-size: 10px;
        }
        .tabs {
            padding-top: 0;
        }
        html {
            height: 110%;
            margin-bottom: 0.01em;
        }
        .pl-0 {
            padding-left: 0! important;
        }
        .stock{
            border: 2px solid #fff;
        }
        .chapilla{
            position: relative;
        }
        .chapilla a{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .chapilla a span{
            font-size: 15px;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-100%, -20%);
        }
        .chapilla span{
            font-size: 15px;
            position: absolute;
            bottom: 5%;
            right: 5%;
        }
    </style>
    {% block extra_scripts %}
    {% endblock extra_scripts %}
{% endblock page %}
{% block content %}
    {% block nav %}
    {% endblock nav %}
    <!-- Basic with Icons -->
    <div class="card">
        {% block card %}
            <div class="list-head">
                {% block Ttitle %}
                {% endblock Ttitle %}
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            {% block Theader %}
                            {% endblock Theader %}
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% block Tbody %}
                        {% endblock Tbody %}
                    </tbody>
                </table>
            </div>
        {% endblock card %}
    </div>
    {% block addButton %}
        <a href="{% block createUrl %} {% endblock createUrl %}">
            <button type="button"
                    style="visibility: {% block add %}{% endblock add %}"
                    class="btn rounded-pill btn-primary btn-icon add"
                    data-bs-toggle="tooltip"
                    data-bs-offset="0,4"
                    data-bs-placement="left"
                    data-bs-html="true"
                    title=""
                    data-bs-original-title="{% block help %} {% endblock help %}">
                <b>+</b>
            </button>
        </a>
    {% endblock addButton %}
{% endblock content %}
{% block scripts %}
    <script>
    let tables = document.getElementsByTagName("tbody");
    window.onload = function(){  
            add = document.getElementsByClassName("add")[0];  
            if (add.style.visibility != "hidden"){
                $(add).tooltip('show'); 
            }  
    }
    function filterTag(tagName) {
        let i, j;

        let title_tag = document.getElementById("filter_tag");
        if(tagName == 'all'){
            title_tag.innerHTML = "";
                search = document.getElementById("search");
                search.value="";
        } else {
            title_tag.innerHTML = "("+tagName+")";
        }
        let tables = document.getElementsByTagName("tbody");
        for (j = 0; j < tables.length; j++) {
            tr = tables[j].getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                if (tr[i].dataset['tag'] == tagName || tagName == 'all') {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }                    
            }
        }
    }
    let grids = document.getElementsByTagName("table");
    for (j = 0; j < tables.length; j++) {
        grids[j].onclick = function(e) {
            if (e.target.tagName != 'TH') return;
    
            let th = e.target;
            // if TH, then sort
            // cellIndex is the number of th:
            //   0 for the first column
            //   1 for the second column, etc
            const tableElement = th.closest('table');

            // Get the tbody element associated with the table
            const tbodyElement = tableElement.querySelector('tbody');

            sortGrid(tbodyElement, th.cellIndex, th.dataset.type);
        };
    }
  
      function sortGrid(tbody, colNum, type) {
  
        let rowsArray = Array.from(tbody.rows);
  
        // compare(a, b) compares two rows, need for sorting
        let compare;

        let reversed = false;
  
        switch (type) {
          case 'amount':
            reversed = true;
            compare = function(rowA, rowB) {
              return rowA.cells[colNum].innerHTML.replace("$", "") - rowB.cells[colNum].innerHTML.replace("$", "");
            };
            break;
          case 'days':
              reversed = true;
              compare = function(rowA, rowB) {
                return rowA.cells[colNum].dataset.days - rowB.cells[colNum].dataset.days;
              };
            break;
          case 'number':
              compare = function(rowA, rowB) {
                return rowA.cells[colNum].innerHTML - rowB.cells[colNum].innerHTML;
              };
              break;
          case 'string':
            compare = function(rowA, rowB) {
              return rowA.cells[colNum].innerHTML > rowB.cells[colNum].innerHTML ? 1 : -1;
            };
            break;
          default:
            return;
        }
  
        // sort
        rowsArray.sort(compare);
        if (reversed === true){
            console.log("reversed")
            reversedArray = rowsArray.reverse();
            tbody.append(...reversedArray);
        }else{
            console.log("normal")
            tbody.append(...rowsArray);
        }
      }
    </script>
{% endblock scripts %}
