{% extends 'base/base.html' %}
{% block title %}
{% endblock title %}
{% block page %}
    <style>
        .add {
            position: fixed;
            font-size: 27px;
            bottom: 3rem;
            right: 1.625rem;
            z-index: 999999;
            box-shadow: 0 1px 20px 1px #696cff;
        }
        .card-body {
            padding-top: 0;
        }
    </style>
{% endblock page %}
{% block content %}
    <!-- Basic with Icons -->
    <div class="card">
        {% block card %}
            <h5 class="card-header">
                {% block Ttitle %}
                {% endblock Ttitle %}
            </h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            {% block Theader %}
                            {% endblock Theader %}
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% block Tbody %}
                        {% endblock Tbody %}
                    </tbody>
                </table>
            </div>
        {% endblock card %}
    </div>
    <a href= {% block createUrl %} {% endblock createUrl %}>
        <button type="button" class="btn rounded-pill btn-primary add">
            <b>+</b>
        </button>
    </a>
{% endblock content %}
