{% extends 'base/base.html' %}
<!-- Page CSS -->
{% block page %}
    <style></style>
{% endblock page %}
{% block title %}
{% endblock title %}
{% block content %}
{% endblock content %}
{% block scripts %}
    {% include "base/toast.html" with msg="Please, be pacient, we are uploading your file to Google Drive." %}
    {% block img_id %}
    {% endblock img_id %}
    {% comment %} // About date
   function formatDate(userDate) {
       userDate = new Date(userDate);
       y = userDate.getFullYear().toString();
       m = (userDate.getMonth() + 1).toString();
       d = userDate.getDate().toString();
       if(m.length == 1) m = '0' + m;
       if(d.length == 1) d = '0' + d;
       return y+"-"+d+"-"+m;
   }
   const date = document.getElementById("id_date");
   console.log(date.getAttribute("value"));
    date.value=formatDate(date.getAttribute("value")); {% endcomment %}
    <script>
        let imgInput = document.getElementById(img_id);
        imgInput.addEventListener('change', function (e) {
        if (e.target.files) {
            let imageFile = e.target.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                var img = document.createElement("img");
                img.onload = function (event) {
                    var MAX_WIDTH = 64;
                    var MAX_HEIGHT = 64;

                    var width = img.width;
                    var height = img.height;

                    // Change the resizing logic
                    if (width > height) {
                        if (width > MAX_WIDTH) {
                            height = height * (MAX_WIDTH / width);
                            width = MAX_WIDTH;
                        }
                    } else {
                        if (height > MAX_HEIGHT) {
                            width = width * (MAX_HEIGHT / height);
                            height = MAX_HEIGHT;
                        }
                    }
                    // Dynamically create a canvas element
                    var canvas = document.createElement("canvas");
                    canvas.width = width;
                    canvas.height = height;

                    // var canvas = document.getElementById("canvas");
                    var ctx = canvas.getContext("2d");

                    // Actual resizing
                    ctx.drawImage(img, 0, 0, 64, 64);

                    // Show resized image in preview element
                    var dataurl = canvas.toDataURL(imageFile.type);
                    document.getElementById('preview').src = dataurl;
                }
                img.src = e.target.result;
            }
            reader.readAsDataURL(imageFile);
        }
        });
    </script>
{% endblock scripts %}
