{% extends 'base/base.html' %}
{% block title %}
{% endblock title %}
{% block page %}
    <style>
        .add {
            position: fixed;
            font-size: 27px;
            bottom: 3rem;
            right: 1.625rem;
            z-index: 999999;
            box-shadow: 0 1px 20px 1px #696cff;
        }
        .tooltip-inner{
            font-size: 10px;
        }
    </style>
{% endblock page %}
{% block content %}
    <h4 class="fw-bold py-3 mb-4">
        {% block Ctitle %}
        {% endblock Ctitle %}
    </h4>
    <div class="row mb-5">
        {% block Cards %}
        {% endblock Cards %}
    </div>
    <a href= {% block createUrl %} {% endblock createUrl %}>
        <button type="button"
                class="btn rounded-pill btn-primary btn-icon add"
                data-bs-toggle="tooltip"
                data-bs-offset="0,4"
                data-bs-placement="left"
                data-bs-html="true"
                title=""
                data-bs-original-title="{% block help %} {% endblock help %}">
            <b>+</b>
        </button>
    </a>
{% endblock content %}
{% block scripts %}
    <script>
        window.onload = function(){  
            add = document.getElementsByClassName("add")[0];  
            $(add).tooltip('show'); 
        }  
        filterText = function () {
            let j;
            let text = document.getElementById("search").value;
            // Filer objects by text
            let cards = document.getElementsByClassName("infocard");
            for (j = 0; j < cards.length; j++) {
                let title = cards[j].getElementsByClassName("card-title")[0];
                let name = title.innerHTML.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
                if (name.toUpperCase().search(text.toUpperCase()) != -1 || text == '') {
                    cards[j].style.display = "";
                } else {
                    cards[j].style.display = "none";
                }    
            }
          }
    </script>
{% endblock scripts %}
