{% extends 'base/base.html' %}
{% block title %}
{% endblock title %}
{% block page %}
    <style>
        .add {
            position: fixed;
            font-size: 27px;
            bottom: 3rem;
            right: 1.625rem;
            z-index: 999999;
            box-shadow: 0 1px 20px 1px #696cff;
        }
        .tabs {
            padding-top: 0;
        }
        html {
            height: 110%;
            margin-bottom: 0.01em;
        }
    </style>
{% endblock page %}
{% block content %}
    <!-- Basic with Icons -->
    <div class="card">
        {% block card %}
            {% block Ttitle %}
            {% endblock Ttitle %}
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr>
                            {% block Theader %}
                            {% endblock Theader %}
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% block Tbody %}
                        {% endblock Tbody %}
                    </tbody>
                </table>
            </div>
        {% endblock card %}
    </div>
    <a href={% block createUrl %} {% endblock createUrl %}>
        <button type="button" class="btn rounded-pill btn-primary add">
            <b>+</b>
        </button>
    </a>
{% endblock content %}
{% block scripts %}
    <script>
    function filterTag(tagName) {
        let i, j;

        let title_tag = document.getElementById("filter_tag");
        if(tagName == 'all'){
            title_tag.innerHTML = "";
        } else {
            title_tag.innerHTML = "("+tagName+")";
        }

        let tables = document.getElementsByTagName("tbody");
        for (j = 0; j < tables.length; j++) {
            tr = tables[j].getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                if (tr[i].dataset['tag'] == tagName || tagName == 'all') {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }                    
            }
        }
    }
    </script>
{% endblock scripts %}
