{% load static %}
<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img id="logo"
                     src="{% static 'assets/img/icons/logo.png' %}"
                     alt="logo"
                     style="width: 60px;
                            height: 25px" />
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">Towit</span>
        </a>
        <a href="javascript:void(0);"
           class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item active">
            <a href="/" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Principal</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-stats"></i>
                <div data-i18n="Reportes">Reportes</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <div data-i18n="Reportes">MANTENIMIENTO</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="{% url 'weekly-report' %}" class="menu-link">
                                <div data-i18n="Weekly">Weekly</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'monthly-report' %}" class="menu-link">
                                <div data-i18n="Weekly">Monthly</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="javascript:void(0);" class="menu-link menu-toggle">
                        <div data-i18n="Reportes">RENTA</div>
                    </a>
                    <ul class="menu-sub">
                        <li class="menu-item">
                            <a href="{% url 'weekly-membership' %}" class="menu-link">
                                <div data-i18n="Weekly">Weekly</div>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="{% url 'monthly-membership' %}" class="menu-link">
                                <div data-i18n="Weekly">Monthly</div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user-circle"></i>
                <div data-i18n="Negocio">Asociados</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="{% url 'list-client' %}" class="menu-link">
                        <div data-i18n="Clientes">Clientes</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'list-company' %}" class="menu-link">
                        <div data-i18n="Companies">Compañías</div>
                    </a>
                </li>
                {% if perms.can_add_user %}
                    <li class="menu-item">
                        <a href="{% url 'list-user' %}" class="menu-link">
                            <div data-i18n="Usuarios">Operarios</div>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
        <!-- MANTENIMIENTO -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">MANTENIMIENTO</span>
        </li>
        <li class="menu-item">
            <a href="{% url 'list-service-order' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-wrench"></i>
                <div data-i18n="Sells">Órdenes</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-cog"></i>
                <div data-i18n="Account Settings">Configuración</div>
            </a>
            <ul class="menu-sub">
                {% if perms.can_add_user %}
                    <li class="menu-item">
                        <a href="{% url 'list-service' %}" class="menu-link">
                            <div data-i18n="Usuarios">Servicios</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'list-service-category' %}" class="menu-link">
                            <div data-i18n="Clientes">Categorías</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'list-payment-category' %}" class="menu-link">
                            <div data-i18n="Payments">Pagos</div>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
        {% if perms.can_add_user %}
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-credit-card"></i>
                    <div data-i18n="Account Settings">Gastos</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="{% url 'list-cost' %}" class="menu-link">
                            <div data-i18n="Sells">Gastos</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'list-costs-category' %}" class="menu-link">
                            <div data-i18n="Clientes">Categorías</div>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
        <!-- RENTA -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">RENTA</span>
        </li>
        <li class="menu-item">
            <a href="{% url 'list-trailer' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-traffic-cone"></i>
                <div data-i18n="Sells">Trailers</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-cog"></i>
                <div data-i18n="Account Settings">Configuración</div>
            </a>
            <ul class="menu-sub">
                {% if perms.can_add_user %}
                    <li class="menu-item">
                        <a href="{% url 'manufacturer-list' %}" class="menu-link">
                            <div data-i18n="Usuarios">Marca</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'trackers-table' %}" class="menu-link">
                            <div data-i18n="Clientes">Trackers</div>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
        <!--Inventario-->
        {% if perms.can_add_user %}
            <li class="menu-header small text-uppercase">
                <span class="menu-header-text">Inventario</span>
            </li>
            <li class="menu-item">
                <a href={% url 'list-product' %} class="menu-link">
                    <i class="menu-icon tf-icons bx bx-collection"></i>
                    <div data-i18n="Inventario">Productos</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-cog"></i>
                    <div data-i18n="Account Settings">Configuración</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href={% url 'list-kit' %} class="menu-link">
                            <div data-i18n="Inventario">Kits</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href={% url 'minprice-product' %} class="menu-link">
                            <div data-i18n="Precios">Precios</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href={% url 'list-category' %} class="menu-link">
                            <div data-i18n="Categorías">Categorías</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href={% url 'list-unit' %} class="menu-link">
                            <div data-i18n="Unidades">Unidades</div>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-store"></i>
                    <div data-i18n="Account Settings">Compras</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="{% url 'list-order' %}" class="menu-link">
                            <div data-i18n="Purchases">Órdenes</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'list-provider' %}" class="menu-link">
                            <div data-i18n="Proveedores">Proveedores</div>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
    </ul>
</aside>
<!-- / Menu -->
