{% load static %}
{% load menu_items %}
<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img id="logo"
                     src="{% static 'assets/img/icons/logo.png' %}"
                     alt="logo"
                     style="width: 60px;
                            height: 25px" />
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">Towit</span>
        </a>
        <a href="javascript:void(0);"
           class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>
    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        {% for menu_item in MenuItems %}
            {% renderMI menu_item request as mi_result %}
            {{ mi_result|safe }}
        {% endfor %}
    </ul>
</aside>
<!-- / Menu -->
