{% extends 'base/base_select.html' %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block Ctitle %}
    Select equipment
{% endblock Ctitle %}
{% block Cards %}
    {% for equipment in trailers %}
        <div class="col-md-6 infocard">{% include "equipment/equipment_select_card.html" with trailer="true" %}</div>
    {% endfor %}
    {% for equipment in vehicles %}
        <div class="col-md-6 infocard">{% include "equipment/equipment_select_card.html" with vehicle="true" %}</div>
    {% endfor %}
{% endblock Cards %}
{% block createUrl %}
    {% url 'select-equipment-type' %}
{% endblock createUrl %}
{% block help %}
    New equipment
{% endblock help %}
