{% load static %}
<div class="d-flex pb-1">
    <div class="avatar flex-shrink-0 me-3">
        <span class="avatar-initial rounded-circle bg-label-primary">
            <img {% if equipment.image %} src="{{ equipment.image.url }}" {% else %} {% if trailer %} src="{% static 'assets/img/icons/trailer.png' %}" {% else %} src="{% static 'assets/img/icons/truck.jpg' %}" {% endif %}
                 {% endif %}
                 alt="icon"
                 height="100px"
                 width="100px"
                 class="w-px-40 h-auto rounded-circle"/>
        </span>
    </div>
    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
        <div data-search="{{ equipment.vin }}{{ equipment.manufacturer }}"
             class="me-2  associated-data">
            <h6 class="mb-0">
                {{ equipment.get_manufacturer_display }} {{ equipment.get_model_display }} ({{ equipment.get_year_display }})
            </h6>
            <small class="text-muted">{{ equipment.vin }}</small>
        </div>
        <div class="user-progress">
            <form enctype="multipart/form-data" method="post" id="update-form">
                {% csrf_token %}
                <div>
                    <input type="hidden" name="id" value="{{ equipment.id }}" />
                    <input type="hidden"
                           name="type"
                           value="{% if trailer %}trailer{% elif vehicle %}vehicle{% endif %}"/>
                </div>
                <button class="btn btn-icon btn-outline-primary" type="submit">
                    <span class="tf-icons bx bx-check"></span>
                </button>
            </form>
        </div>
    </div>
</div>
