{%load static%}

<style>
  .loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
  }
  .loader {
    color: #06F;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }

  @keyframes bblFadInOut {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
  }
</style>
<div x-data="OrderParts" :class="newProductMode() && 'fixed top-0 left-0 right-0 bottom-0 z-[1100] bg-[rgba(0,0,0,0.4)] py-4 px-20'" style="backdrop-filter: blur(5px);">
  <div class="card mb-3 transition-all h-full partsCard">

    <div class="fixed top-0 left-0 right-0 bottom-0 z-50 bg-[rgba(0,0,0,0.4)]" style="backdrop-filter: blur(5px);" x-show="showRemoveDialog()" x-cloak>
      <div class="">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Remove this part?</h5>
              <button type="button" class="btn-close absolute right-0 top-0 m-0 shadow-sm bg-white rounded p-2" @click="removeCancel()"></button>
            </div>

            <div class="modal-body">
              <div>
                Are you sure to remove this part?
              </div>
              <div>
                Part to remove: <strong x-text='getToRemoveName()'></strong>
              </div>
            </div>

            <div>
              <div class="flex justify-center" x-show="removing">
                <span class="loader"></span>
              </div>
              <div x-show="!removing">
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" @click="removeCancel()">Cancel</button>
                  <button type="button" class="btn btn-danger" @click="doRemove()">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-header flex items-center">
      <h5 class="flex-grow m-0 p-0">
        Parts

        <strong>
          $<span x-text="satisfied_args.total.toFixed(2)"></span>
        </strong>
        =
        <span>
          $<span x-text="satisfied_args.amount.toFixed(2)"></span>
        </span>
        +
        <span>
          $<span x-text="satisfied_args.tax.toFixed(2)"></span>
        </span>
      </h5>
      <div class="flex">
        {%if not terminated%}
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
              <i class='bx bx-search-alt-2' ></i>
            </span>
            <input type="text" class="form-control" placeholder="Add a new part" x-model="searchNewProduct" x-ref="searchProducts">
          </div>

          <a
            href="{% url 'select-service' 'create-service-transaction' order.id 'parts' %}"
            type="button"
            data-bs-toggle="tooltip"
            data-bs-offset="0,4"
            data-bs-placement="left"
            data-bs-html="true"
            data-bs-original-title="Add part or service"
            class="btn btn-icon btn-outline-info float-end"
          >
            <span class="tf-icons bx bx-plus"></span>
          </a>
        {% endif %}
      </div>
    </div>
    <template x-if="newProductMode()">
      <div class="overflow-y-auto">
        <template x-if="loadingPartsProducts">
          <div class="flex justify-center items-center w-96 h-12">
            <span class="loader"></span>
          </div>
        </template>
        <template x-if="!loadingPartsProducts">
          {% include "./components/order_new_part.html" %}
        </template>
      </div>
    </template>
    <template x-if="!newProductMode()">
      <div>
        <template x-if="loading">
          <div class="flex justify-center items-center w-96 h-12">
            <span class="loader"></span>
          </div>
        </template>
        <template x-if="!loading">
          {% include "./components/order_part_table.html" %}
        </template>
      </div>
    </template>

    <script>
      globalThis.OrderID = {{order.id}}
      globalThis.UpdateTransUrl = "{% url 'update-transaction' 0 %}"
      globalThis.DetailTransUrl = "{% url 'detail-transaction' 0 %}"
      globalThis.DetailProductUrl = "{% url 'detail-product' 0 %}"
      {% if terminated %}
        globalThis.Terminated = true
      {% else %}
        globalThis.Terminated = false
      {% endif %}
    </script>
    <script src="{% static "assets/js/orders/config/get_cookies.js" %}"></script>
    <script src="{% static "assets/js/orders/config/order_parts_urls.js" %}"></script>
    <script src="{% static "assets/js/orders/config/products_url.js" %}"></script>
    <script src="{% static "assets/js/orders/api/get_order_parts.js" %}"></script>
    <script src="{% static "assets/js/orders/api/get_order_products.js" %}"></script>
    <script src="{% static "assets/js/orders/controllers/order_parts.js" %}"></script>
  </div>
</div>
