{% load static %}
<style>
  .loader, .loader:before, .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
  }
  .loader {
    color: #06F;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    content: '';
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }

  @keyframes bblFadInOut {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
  }

  .selected {
    box-shadow: inset 0 0 10px 3px rgba(0, 100, 255, 0.5);

    &.unavailable {
      box-shadow: inset 0 0 10px 3px rgba(255, 0, 0, 0.5);
    }
  }
  .highlight {
    box-shadow: inset 0 0 10px rgba(0, 50, 255, 0.5);
  }
</style>


{%include "services/order_detail/parts_card.html"%}
{%include "services/order_detail/services_card.html"%}
{%include "services/order_detail/consumables_card.html"%}
{%include "services/order_detail/kits_card.html"%}

<!-- Scripts -->
<script>
  globalThis.OrderID = {{order.id}}

  globalThis.DetailServiceTransUrl = "{% url 'detail-service-transaction' 0 %}"
  globalThis.UpdateServiceTransUrl = "{% url 'update-service-transaction' 0 %}"

  globalThis.UpdateTransUrl = "{% url 'update-transaction' 0 %}"
  globalThis.DetailTransUrl = "{% url 'detail-transaction' 0 %}"
  globalThis.DetailProductUrl = "{% url 'detail-product' 0 %}"

  {% if terminated %}
    globalThis.Terminated = true
  {% else %}
    globalThis.Terminated = false
  {% endif %}
</script>

<!-- Tools -->
<script src="{% static "assets/js/orders/config/get_cookies.js" %}"></script>

<!-- Urls -->
<script src="{% static "assets/js/orders/config/service_transaction_urls.js" %}"></script>
<script src="{% static "assets/js/orders/config/service_urls.js" %}"></script>

<script src="{% static "assets/js/orders/config/product_transaction_urls.js" %}"></script>
<script src="{% static "assets/js/orders/config/product_urls.js" %}"></script>

<script src="{% static "assets/js/orders/config/kit_urls.js" %}"></script>

<!-- Clients -->
<script src="{% static "assets/js/orders/api/service_api_client.js" %}"></script>
<script src="{% static "assets/js/orders/api/service_transaction_api_client.js" %}"></script>

<script src="{% static "assets/js/orders/api/product_api_client.js" %}"></script>
<script src="{% static "assets/js/orders/api/product_transaction_api_client.js" %}"></script>

<script src="{% static "assets/js/orders/api/kit_api_client.js" %}"></script>

<!-- Controllers -->
<script src="{% static "assets/js/orders/controllers/order_controller.js" %}"></script>

<script src="{% static "assets/js/orders/controllers/order_parts.js" %}"></script>
<script src="{% static "assets/js/orders/controllers/order_consumables.js" %}"></script>

<script src="{% static "assets/js/orders/controllers/order_service.js" %}"></script>
<script src="{% static "assets/js/orders/controllers/order_kits.js" %}"></script>

<script src="{% static "assets/js/orders/controllers/order_psc.js" %}"></script>
