{% load static %}
<div class="col-6 col-md-3 mb-3 text-center infocard">
    <div class="card text-center">
        <div class="card-body">
            <div class="demo-inline-spacing mb-2">
                <img {% if associated.avatar %}src="{{ associated.avatar.url }}"{% else %} src="{% static 'images/icons/client.png' %}" {% endif %}
                     alt="Avatar"
                     height="100px"
                     width="100px"
                     class="w-px-100 h-px-100 rounded-circle card-img-top"/>
            </div>
            <h5 class="card-title">{{ associated.name }}</h5>
            <div class="card-subtitle text-muted mb-3">{{ associated.company }}</div>
            <p class="card-text">{{ associated.note }}</p>
            {% if associated.last_order %}
                <p class="card-text">
                    <small class="text-muted">Last order {{ associated.last_order }}</small>
                </p>
            {% endif %}
            <div class="demo-inline-spacing">
                {% if associated.phone_number %}
                    <a class="btn btn-icon btn-outline-primary"
                       type="button"
                       href="tel:{{ associated.phone_number }}">
                        <span class="tf-icons bx bx-phone-call"></span>
                    </a>
                {% endif %}
                {% if associated.email %}
                    <a class="btn btn-icon btn-outline-primary"
                       type="button"
                       href="mailto:{{ associated.email }}">
                        <span class="tf-icons bx bx-mail-send"></span>
                    </a>
                {% endif %}
                <form enctype="multipart/form-data" method="post" id="update-form">
                    {% csrf_token %}
                    <div>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                    <div>
                        <input type="hidden" name="id" value="{{ associated.id }}" />
                    </div>
                    <button class="btn btn-icon btn-outline-primary" type="submit">
                        <span class="tf-icons bx bx-check"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
