{% extends 'base/base_select.html' %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block Ctitle %}
    Clients
    {% if skip %}
        <a href="{% url 'select-company' %}"
           type="button"
           class="btn btn-outline-primary float-end">Skip</a>
    {% endif %}
{% endblock Ctitle %}
{% block Cards %}
    {% for associated in associates %}
        <div class="col-md-6 infocard">{% include "users/associated_select_card.html" %}</div>
    {% endfor %}
{% endblock Cards %}
{% block createUrl %}
    {% url 'create-client' %}?next={{ request.path|urlencode }}
{% endblock createUrl %}
{% block help %}
    New client
{% endblock help %}
