{% extends 'base/base_form.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Add expense
{% endblock title %}
{% block content %}
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <h5>
                        {{ title }}
                        {% if form.instance.id %}
                            <a onclick="deleteExpense('{% url 'delete-expense' form.instance.id %}', '{{ expense.concept }}')"
                               type="button"
                               class="btn btn-icon btn-outline-danger float-end">
                                <span class="tf-icons bx bx-trash"></span>
                            </a>
                        {% endif %}
                    </h5>
                </div>
                <form enctype="multipart/form-data" method="post" id="update-form">
                    {% csrf_token %}
                    {% crispy form %}
                </div>
            </form>
        </div>
    </div>
    <script>
        function deleteExpense(url, name) {
            let confirmAction = confirm("Are you sure to delete the expense " + name + " from this order?");
            if (confirmAction) {
                window.location = url;
            }
        }
    </script>
{% endblock content %}
