{% extends 'base/base_list.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    {{ order.concept }}
{% endblock title %}
{% block content %}
    <div class="card mb-3 container">
        <div class="card-body">
            <h5 class="mt-4">
                Service order: <a href="{% url 'detail-service-order' order.id %}">{{ order.concept }}</a> (${{ order.amount|floatformat:"2" }})
            </h5>
            {% if order.trailer %}
                {% include "services/order_header.html" with client=order.associated equipment=order.trailer equipment_type="trailer" %}
            {% elif order.vehicle %}
                {% include "services/order_header.html" with client=order.associated equipment=order.vehicle equipment_type="vehicle" %}
            {% endif %}
            <div class="demo-inline-spacing">
                <a class="btn btn-icon btn-outline-primary"
                   type="button"
                   href="{% url 'pdf-invoice' order.id %}">
                    <span class="tf-icons bx bx-file"></span>
                </a>
                <button class="btn btn-icon btn-outline-primary"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#sendMail"
                        aria-expanded="true"
                        aria-controls="sendMail">
                    <span class="tf-icons bx bx-mail-send"></span>
                </button>
                <a class="btn btn-icon btn-outline-primary"
                   type="button"
                   href="{% url 'service-invoice' order.id %}">
                    <span class="tf-icons bx bx-message-rounded-dots"></span>
                </a>
            </div>
            <div class="collapse mt-2" id="sendMail" style="">
                <form enctype="multipart/form-data" method="post" id="update-form">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
    <div class="card mb-3">{% include "services/invoice.html" %}</div>
{% endblock content %}
