{% extends 'base/base_list.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    {{ order.concept }}
{% endblock title %}
{% block page %}
    <style>
        #tire img{
            height: 150px;
            width: 250px;
        }
    </style>
{% endblock page %}
{% block content %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="mt-4">
                Service order: <a href="{% url 'detail-service-order' order.id %}">{{ order.concept }}</a> ${{ order.total|floatformat:"2" }}
            </h5>
            {% if order.trailer %}
                {% include "services/order_header.html" %}
            {% elif order.vehicle %}
                {% include "services/order_header.html" %}
            {% endif %}
            <div class="demo-inline-spacing">
                <ul class="p-0 m-0">
                    {% for payment in payments %}
                        <li class="d-flex mb-4 pb-1">
                            <div class="avatar flex-shrink-0 me-3">
                                {% if payment.category.icon %}<img src="{{ payment.category.icon.url }}" alt="" class="w-px-40 h-auto" />{% endif %}
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <small class="text-muted d-block mb-1">{{ payment.category }}</small>
                                    <h6 class="mb-0">${{ payment.amount|floatformat:"2" }}</h6>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="demo-inline-spacing">
                <a class="btn btn-icon btn-outline-primary"
                   type="button"
                   href="{% url 'pdf-labor' order.id %}">
                    <span class="tf-icons bx bx-file"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="card mb-3">{% include "services/labor.html" %}</div>
{% endblock content %}
