{% load static %}
{% load nbsp %}
<style>
    .invoice-descrpition{
        width: 100%;
    }
</style>
<div class="card-header">
    <h3>
        <strong>Order:</strong> {{ order.concept }}
    </h3>
    <h5>
        <strong>Client:</strong> {{ order.associated.name }}
    </h5>
</div>
<div class="card-body">
    {% if services %}
        <h5 class="card-title mt-3 mb-0">Labor</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th class="invoice-descrpition">Description</th>
                        <th>Qty</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for service in services %}
                        <tr>
                            <td>{{ service.id|stringformat:"04i" }}</td>
                            <td>
                                <i class="fab fa-angular fa-lg text-danger"></i> <strong>{{ service.service.name }}</strong>
                            </td>
                            <td>
                                <div class="float-end">{{ service.quantity|floatformat:"-2" }}</div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% if parts_amount %}
        <h5 class="card-title mt-3 mb-0">Parts</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th class="invoice-descrpition">Description</th>
                        <th>Qty</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for trans in transactions %}
                        {% if trans.product.type == 'part' %}
                            <tr>
                                <td>{{ trans.product.id|stringformat:"04i" }}</td>
                                <td>
                                    <i class="fab fa-angular fa-lg text-danger"></i> <strong>{{ trans.product.name }}</strong>
                                </td>
                                <td>
                                    <div class="float-end">{{ trans.quantity|floatformat:"-2" }}</div>
                                </td>
                                <td>
                                    <div class="float-end">{{ trans.unit }}</div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <!-- Supplies -->
    {% if consumable_amount %}
        <h5 class="card-title mt-3 mb-0">Supplies</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th class="invoice-descrpition">Description</th>
                        <th>Qty</th>
                        <th>Each</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for trans in transactions %}
                        {% if trans.product.type == 'consumable' %}
                            <tr>
                                <td>{{ trans.product.id|stringformat:"04i" }}</td>
                                <td>
                                    <i class="fab fa-angular fa-lg text-danger"></i> <strong>{{ trans.product.name }}</strong>
                                </td>
                                <td>
                                    <div class="float-end">{{ trans.quantity|floatformat:"-2" }}</div>
                                </td>
                                <td>
                                    <div class="float-end">${{ trans.price|floatformat:"2" }}</div>
                                </td>
                                <td>
                                    <div class="float-end">${{ trans.amount|floatformat:"2" }}</div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <strong class="float-end">${{ consumable_amount|floatformat:"2" }}</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
    <!-- Expenses -->
    {% if expenses %}
        <h5 class="card-title mt-3 mb-0">Third Party Expenses</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Description</th>
                        <th class="invoice-descrpition">Provider</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for expense in expenses %}
                        <tr data-tag="{{ expense.concept }}">
                            <td>{{ expense.id|stringformat:"04i" }}</td>
                            <td>
                                <strong>{{ expense.concept|nbsp }}</strong>
                            </td>
                            <td>
                                {% if expense.associated %}{{ expense.associated }}{% endif %}
                            </td>
                            <td>${{ expense.cost|floatformat:"2" }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <strong class="float-end">${{ expenses_amount|floatformat:"2" }}</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
