{% load static %}
{% load nbsp %}
<style>
    .invoice-descrpition{
        width: 100%;
    }
    .cb {
        text-align: center;
    }
</style>
<div class="card-header pb-0">
    <h3>
        <strong>Client:</strong> {{ order.associated.name }}
        <strong>Vin:</strong> {{ order.vin }}
        <span class="float-end"><strong>Date:</strong> {{ order.created_date|date:"m/d/Y" }}</span>
    </h3>
    <h3>
        <strong>Concept:</strong> {{ order.concept }}
        <span class="float-end"><strong>Pos:</strong> {{ order.position }}</span>
    </h3>
    <strong>Note:</strong> {{ order.note }}
</div>
<div class="card-body pt-0">
    {% if parts_amount %}
        <h5 class="card-title mt-3 mb-0">Parts</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th class="invoice-descrpition">Description</th>
                        <th>Qty</th>
                        <th>Unit</th>
                        {% for worker in workers %}<th>{{ worker.user.username|slice:"2" }}</th>{% endfor %}
                        <th>ok</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for trans in transactions %}
                        {% if trans.product.type == 'part' %}
                            <tr>
                                <td>
                                    <i class="fab fa-angular fa-lg text-danger"></i> <strong>{{ trans.product.name }}</strong>
                                </td>
                                <td>
                                    <div class="float-end">{{ trans.quantity|floatformat:"-2" }}</div>
                                </td>
                                <td>
                                    <div class="float-end">{{ trans.unit }}</div>
                                </td>
                                {% for worker in workers %}<td class="cb">&#9634;</td>{% endfor %}
                                <td class="cb">&#9634;</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% if services %}
        <h5 class="card-title mt-3 mb-0">Labor</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th class="invoice-descrpition">Description</th>
                        <th>Qty</th>
                        {% for worker in workers %}<th>{{ worker.user.username|slice:"2" }}</th>{% endfor %}
                        <th>ok</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for service in services %}
                        {% if not service.service.tire and not service.service.marketing and not service.service.internal %}
                            <tr>
                                <td>
                                    <i class="fab fa-angular fa-lg text-danger"></i> <strong>{{ service.service.name }}</strong>
                                </td>
                                <td>
                                    <div class="float-end">{{ service.quantity|floatformat:"-2" }}</div>
                                </td>
                                {% for worker in workers %}<td class="cb">&#9634;</td>{% endfor %}
                                <td class="cb">&#9634;</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <!--Tires-->
    {% if tire %}
        <div class="row">
            <div id="tire" class="col-4">
                <img src="{% static 'assets/img/tires.png' %}" alt="trailer skecht">
            </div>
            <div class="table-responsive text-nowrap col-8">
                <h5 class="card-title mt-3 mb-0">Tires</h5>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="invoice-descrpition">Description</th>
                            <th>Qty</th>
                            {% for worker in workers %}<th>{{ worker.user.username|slice:"2" }}</th>{% endfor %}
                            <th>ok</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% for service in services %}
                            {% if service.service.tire %}
                                <tr>
                                    <td>
                                        <i class="fab fa-angular fa-lg text-danger"></i> <strong>{{ service.service.name }}</strong>
                                    </td>
                                    <td>
                                        <div class="float-end">{{ service.quantity|floatformat:"-2" }}</div>
                                    </td>
                                    {% for worker in workers %}<td class="cb">&#9634;</td>{% endfor %}
                                    <td class="cb">&#9634;</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    <!--Internal-->
    <h5 class="card-title mt-3 mb-0">Internal</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th class="invoice-descrpition">Description</th>
                    {% for worker in workers %}<th>{{ worker.user.username|slice:"2" }}</th>{% endfor %}
                    <th>ok</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for service in internal_services %}
                    {% if service.internal %}
                        <tr>
                            <td>
                                <i class="fab fa-angular fa-lg text-danger"></i> <strong>{{ service.name }}</strong>
                            </td>
                            {% for worker in workers %}<td class="cb">&#9634;</td>{% endfor %}
                            <td class="cb">&#9634;</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--Marketing-->
    <h5 class="card-title mt-3 mb-0">Marketing</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th class="invoice-descrpition">Description</th>
                    {% for worker in workers %}<th>{{ worker.user.username|slice:"2" }}</th>{% endfor %}
                    <th>ok</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for service in marketing_services %}
                    {% if service.marketing %}
                        <tr>
                            <td>
                                <i class="fab fa-angular fa-lg text-danger"></i> <strong>{{ service.name }}</strong>
                            </td>
                            {% for worker in workers %}<td class="cb">&#9634;</td>{% endfor %}
                            <td class="cb">&#9634;</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Supplies
    {% if consumable_amount %}
        <h5 class="card-title mt-3 mb-0">Supplies</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th class="invoice-descrpition">Description</th>
                        <th>Qty</th>
                        <th>Unit</th>
                        {% for worker in workers %}<th>{{ worker.user.username|slice:"2"  }}</th>{% endfor %}
                        <th>ok</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for trans in transactions %}
                        {% if trans.product.type == 'consumable' %}
                            <tr>
                                <td>
                                    <i class="fab fa-angular fa-lg text-danger"></i> <strong>{{ trans.product.name }}</strong>
                                </td>
                                <td>
                                    <div class="float-end">{{ trans.quantity|floatformat:"-2" }}</div>
                                </td>
                                <td>
                                    <div class="float-end">{{ trans.unit }}</div>
                                </td>
                                {% for worker in workers %}<td class="cb">&#9634;</td>{% endfor %}
                                <td class="cb">&#9634;</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}-->
</div>
