{% load static %}
<head>
    <meta charset="utf-8" />
    <!-- Core CSS -->
    <link rel="stylesheet"
          href="{% static 'assets/vendor/css/core.css' %}"
          class="template-customizer-core-css"/>
    <style>
        @page {
            size: A4;
            margin: 1.5cm;
        }
        body{
            background-color: white;
            margin: 0;
        }
        .invoice-descrpition{
            width: 100%;
        }
        .card-header .card-body{
            padding: 0;
        }
        img {
            position: absolute;
            top: 60px;
            right: 40px;
        }
    </style>
</head>
<body>{% include "services/labor.html" %}</body>
