{% extends 'base/base_form.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Añadir Orden
{% endblock title %}
{% block content %}
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">{{ title }}</h5>
            </div>
            {% include "services/order_header.html" %}
            <form enctype="multipart/form-data" method="post" id="update-form">
                {% csrf_token %}

                <datalist id="vinsList">
                    {% for vin in vins %}
                        <option value="{{ vin }}"></option>
                    {% endfor %}
                </datalist>
                <datalist id="platesList">
                    {% for plate in plates %}
                        <option value="{{ plate }}"></option>
                    {% endfor %}
                </datalist>

                <div class="card-body" x-data="orderForm">{% crispy form %}</div>
            </form>
        </div>
    </div>
    <script src="{%static 'assets/js/order-form.js'%}"></script>
{% endblock content %}
