{% extends 'base/base_list.html' %}
{% load static %}
{% block title %}
    Service Orders
{% endblock title %}
{% block Ttitle %}
    <h5 class="card-header">
        Service Orders <spam id="filter_tag"></spam>
    </h5>
    <div class="card-body">
        <div class="demo-inline-spacing">
            <button onClick="filterTag('all')"
                    type="button"
                    class="btn rounded-pill btn-primary">all</button>
            {% for status in statuses %}
                <button onClick="filterTag('{{ status }}')"
                        type="button"
                        class="btn rounded-pill btn-outline-{% if status == 'processing' %}primary{% elif status == 'complete' %}success{% elif status == 'pending' %}warning{% elif status == 'approved' %}info{% elif status == 'decline' %}danger{% endif %}">
                    {{ status }}
                </button>
            {% endfor %}
        </div>
    </div>
{% endblock Ttitle %}
{% block Theader %}
    <th>
        <i class="bx bx-cog"></i>
    </th>
    <th>Client</th>
    <th>Concept</th>
    <th>Date</th>
    <th>Amount</th>
{% endblock Theader %}
{% block Tbody %}
    {% for order in orders %}
        <tr data-tag="{{ order.status }}"
            data-search="{{ order.associated.alias }}{{ order.associated.name }}{{ order.associated.phone_number }}">
            <td class="chapilla">
                <a href={% url 'detail-service-order' order.id %}>
                    <img {% if order.status == 'processing' %} src="{% static 'images/icons/tag-primary.png' %}" {% elif order.status == 'complete' %} src="{% static 'images/icons/done.png' %}" {% elif order.status == 'pending' %} src="{% static 'images/icons/tag-warning.png' %}" {% elif order.status == 'approved' %} src="{% static 'images/icons/tag-info.png' %}" {% elif order.status == 'decline' %} src="{% static 'images/icons/cancel.png' %}" {% endif %}
                         alt="{{ order.badge }}"
                         height="32px"
                         width="20px"
                         class="h-px-40 w-auto"/>
                    {% if  order.status == 'processing' or order.status == 'pending' %}
                        {% if order.badge %}<span>{{ order.badge }}</span>{% endif %}
                    {% endif %}
                </a>
                {% if order.trailer %}
                    <span>T</span>
                {% elif order.vehicle %}
                    <span>C</span>
                {% elif order.equipment_type == "trailer" %}
                    <span>T</span>
                {% elif order.equipment_type == "vehicle" %}
                    <span>C</span>
                {% endif %}
            </td>
            {% if order.associated %}
                <td class="d-flex pb-1">
                    <div class="avatar flex-shrink-0 me-3">
                        <a href={% url 'detail-associated' order.associated.id %}>
                            <span class="avatar-initial rounded-circle bg-label-primary">
                                <img {% if order.associated.avatar %} src="{{ order.associated.avatar.url }}" {% else %} src="{% static 'images/icons/client.png' %}" {% endif %}
                                     alt="Avatar"
                                     height="100px"
                                     width="100px"
                                     class="w-px-40 h-auto rounded-circle"/>
                            </span>
                        </a>
                    </div>
                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                        <div data-tag="{{ order.associated.name }}{{ order.associated.phone_number }}"
                             class="me-2  associated-data">
                            <h6 class="mb-0">
                                {% if order.associated.alias %}
                                    {{ order.associated.alias }}
                                {% else %}
                                    {{ order.associated.name }}
                                {% endif %}
                            </h6>
                            <small class="text-muted">{{ order.associated.phone_number }}</small>
                        </div>
                    </div>
                </td>
            {% elif order.company %}
                <td class="d-flex pb-1">
                    <div class="avatar flex-shrink-0 me-3">
                        <a href={% url 'detail-company' order.company.id %}>
                            <span class="avatar-initial rounded-circle bg-label-primary">
                                <img {% if order.company.avatar %} src="{{ order.company.avatar.url }}" {% else %} src="{% static 'images/icons/company.png' %}" {% endif %}
                                     alt="Avatar"
                                     height="100px"
                                     width="100px"
                                     class="w-px-40 h-auto rounded-circle"/>
                            </span>
                        </a>
                    </div>
                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                        <div data-tag="{{ order.associated.name }}{{ order.associated.phone_number }}"
                             class="me-2  associated-data">
                            <h6 class="mb-0">{{ order.company.name }}</h6>
                            <small class="text-muted">{{ order.company.phone_number }}</small>
                        </div>
                    </div>
                </td>
            {% else %}
                <td></td>
            {% endif %}
            <td>
                <i class="fab fa-angular fa-lg text-danger"></i> <strong>{{ order.concept }}</strong>
            </td>
            <td>{{ order.created_date|date:"SHORT_DATE_FORMAT" }}</td>
            <td>${{ order.amount|floatformat:"2" }}</td>
        </tr>
    {% endfor %}
{% endblock Tbody %}
{% block createUrl %}
    {% url 'select-service-client' %}
{% endblock createUrl %}
{% block help %}
    New order
{% endblock help %}
