{% extends 'base/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    {{ order.concept }}
{% endblock title %}

{% block containerFull %}
    <div class="px-4">
{% endblock containerFull %}

{%block navbar%}
{%endblock navbar%}

{% block content %}
    <style>
        .add {
            position: fixed;
            font-size: 27px;
            bottom: 3rem;
            right: 1.625rem;
            z-index: 999999;
            box-shadow: 0 1px 20px 1px #696cff;
        }
        .add .tooltip{
            opacity: 1;
        }
        .hidden{
            visibility: hidden;
        }
        .dot {
            height: 1em;
            width: 1em;
            background-color: {{trailer.color.code}};
            border-radius: 50%;
            display: inline-block;
            padding-top:5px;
        }
        .bottom-space {
            margin-bottom: 1em;
        }

        #trigger {
            display: none;
        }
        .checker {
            object-fit: cover;
            object-position: center;
            height: 200px;
            width: 200px;
        }
        {% for img in images %}
            #trigger-{{ img.id }}:checked + .img-border {
                border:3px solid blue;
            }
        {% endfor %}

        .chapilla{
            position: relative;
        }
        .chapilla a{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .chapilla a span{
            font-size: 15px;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-100%, -20%);
        }
        .chapilla span{
            font-size: 15px;
            position: absolute;
            bottom: 5%;
            right: 5%;
        }
    </style>
    <div class="row"
         x-data="{
                 show: true,
                 parts_args: {
                 total: 0,
                 amount: 0,
                 tax: 0,
                 },
                 services_args: {
                 total: 0,
                 amount: 0,
                 tax: 0,
                 },
                 consumables_args: {
                 total: 0,
                 amount: 0,
                 tax: 0,
                 },
                 }">
        <div class="transition-all"
             :class="show && 'lg:pr-[30vw]'">
            {% if mensaje %}
                <div class="alert alert-danger" role="alert">
                    {{ mensaje }}
                </div>

            {% endif %}
            {% include "services/order_detail/order_main_card.html" %}
            {%if order.status == 'decline' and order.decline_reazon%}
                {% include "services/order_detail/decline_card.html" %}
            {% endif %}
            {%include "services/order_detail/parts_card.html"%}
            {%include "services/order_detail/services_card.html"%}
            {%include "services/order_detail/consumables_card.html"%}
            {%include "services/order_detail/kits_card.html"%}
            {% if not terminated or expenses %}
                <div class="card mb-3">
                    <h5 class="card-header">
                        Third Party Expenses
                        {% if expenses_amount %}<b>${{ expenses_amount|floatformat:"-2" }}</b>{% endif %}
                        {% if not terminated %}
                            <a href="{% url 'create-expense' order.id %}">
                                <button type="button"
                                        class="btn rounded-pill btn-icon btn-primary"
                                        data-bs-toggle="tooltip"
                                        data-bs-offset="0,4"
                                        data-bs-placement="top"
                                        data-bs-html="true"
                                        title=""
                                        data-bs-original-title="Add third party expense">
                                    <span class="tf-icons bx bx-plus"></span>
                                </button>
                            </a>
                        {% endif %}
                    </h5>
                    {% if expenses %}
                        <div class="table-responsive text-nowrap">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>
                                            <i class="bx bx-cog"></i>
                                        </th>
                                        <th>Concept</th>
                                        <th>Provider</th>
                                        <th>Cost</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    {% for expense in expenses %}
                                        <tr data-tag="{{ expense.concept }}">
                                            <td>
                                                <a href="{% url 'update-expense' expense.id %}">${{ expense.cost|floatformat:"0" }}</a>
                                            </td>
                                            <td>
                                                <strong>{{ expense.concept }}</strong>
                                                {% if expense.image %}
                                                    <a href="{{ expense.image.url }}" target="blank" class="float-end"><span class="tf-icons bx bx-image"></span></a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if expense.associated %}
                                                    <a href={% url 'detail-associated' expense.associated.id %}>{{ expense.associated }}</a>
                                                {% endif %}
                                            </td>
                                            <td>${{ expense.cost|floatformat:"2" }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <!-- Images -->
            <div class="card mb-3">
            <!-- Gallery -->
                <h5 id="gallery" class="mt-3 card-header">
                    Gallery
                    <div class="demo-inline-spacing">
                        <a onclick="shareImages()"
                           class="btn btn-icon btn-outline-primary"
                           type="button">
                            <span class="tf-icons bx bx-share-alt"></span>
                        </a>
                        <a class="btn btn-icon btn-outline-primary"
                           type="button"
                           href="{% url 'create-service-pictures' order.id %}">
                            <span class="tf-icons bx bx-plus"></span>
                        </a>
                        {% if images %}
                            <a onclick="deletePictures()"
                               type="button"
                               class="btn btn-icon btn-outline-danger float-end">
                                <span class="tf-icons bx bx-trash"></span>
                            </a>
                        {% endif %}
                    </div>
                </h5>
                <hr class="mt-0 mb-4" />
                {% if images %}
                    <div class="row col-12">
                        {% for img in images %}
                            <div class="col-6 col-md-4 text-center">
                                <input value={{ img.id }} id="trigger-{{ img.id }}" type="checkbox" style="display: none;" class="img-cb">
                                <label for="trigger-{{ img.id }}" class="img-border">
                                    <img class="checker" src="{{ img.image.url }}" alt="Service picture">
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="lg:fixed lg:top-6 lg:bottom-6 lg:right-2 lg:w-[30vw] transition-all relative"
             :style="{
                     'transform': show ? 'translateX(0)': 'translateX(100%)',
                     }">
            <div class="!hidden lg:!block w-12 h-12 rounded-full bg-[#f5f5f9] absolute top-[-1.2rem] left-[-1.25rem] z-10 p-2 transition-all"
                 :style="{
                         'transform': show ? 'translateX(0)': 'translateX(-50%)',
                         }"
                 @click="show = !show">
                <div class="w-full h-full rounded-full transition bg-main hover:bg-blue-400 text-white flex justify-center items-center">
                    <i class='bx bx-chevron-right text-3xl' x-show="show"></i>
                    <i class='bx bx-chevron-left text-3xl' x-show="!show" x-cloak></i>
                </div>
            </div>
            {% include "services/order_parts_history.html" %}
            {% include "services/order_services_history.html" %}
        </div>
    </div>
    <!-- <a href="{% url 'select-service' 'create-service-transaction' order.id %}" class="z-50"> -->
    <!--     <button type="button" -->
    <!--             style="visibility: {% if terminated %}hidden{% endif %}" -->
    <!--             class="btn rounded-pill btn-primary btn-icon add" -->
    <!--             data-bs-toggle="tooltip" -->
    <!--             data-bs-offset="0,4" -->
    <!--             data-bs-placement="left" -->
    <!--             data-bs-html="true" -->
    <!--             title="" -->
    <!--             data-bs-original-title="Add part or service"> -->
    <!--         <b>+</b> -->
    <!--     </button> -->
    <!-- </a> -->
    <script>
        function updateStatus(url, status) {
            let confirmAction = confirm("Are you sure you want to change the order status to " + status + "?");
            if (confirmAction) {
                window.location = url;
            }
        }

        let round_to, cost, hint, profit, discount;

        function updateProfit(){
            const variation = cost-Number(round_to.value);
            hint.innerHTML = "Profit: $"+ (profit-variation);
            if(variation >= profit){
                round_to.style.color = "red";
                discount.disabled = true;
            } else {
                round_to.style.color = "";
                discount.disabled = false;
            }
        }

        window.onload = function(){
            add = document.getElementsByClassName("add")[0];
            if (add.style.visibility != "hidden"){
                $(add).tooltip('show');
            }

            discount = document.getElementById("submit-id-submit");
            round_to = document.getElementById("id_round_to");
            cost = Number(round_to.value);
            hint = document.getElementById("hint_id_round_to");
            profit = Number(hint.innerHTML.split("$")[1]);

            round_to.oninput = updateProfit;
        }

        function getSelectedImages(){
            /* Get the text field */
            let imgs =  document.getElementsByClassName("img-cb");

            /* Select the text field */
            let urls = "";

            for (let item of imgs) {
                if(item.checked){
                    urls += item.value + ",";
                }
            }
            return urls
        }

        function shareImages() {
            let imgs = getSelectedImages();
            if (imgs.length > 0){
                window.open("/services/share_images/"+imgs, '_blank');
            } else {
                alert("Please, select at least one picture!")
            }
        }

        function deletePictures() {
            let imgs = getSelectedImages();
            if (imgs.length > 0){
                let confirmAction = confirm("Are you sure to delete the selected pictures?");
                if (confirmAction) {
                    window.location = "/services/delete_service_images/"+imgs;
                }
            } else {
                alert("Please, select at least one picture!")
            }
        }

        {%for n in notifications%}
            notify(
                "{{n.title}}",
                "{{n.msg}}",
                "{{n.icon}}",
            )
        {%endfor%}
    </script>
{% endblock content %}
