{% load static %}
<div class="card mb-3 lg:h-[45vh]">
    <div class="list-head">
        <h5 class="card-header d-flex justify-content-between">
            <div>
                Historial de partes: <strong>{{ parts_total_count }}</strong>
            </div>
            <div>
                <div class="input-group mb-3">
                    <div class="input-group-text" id="basic-addon1">
                        <i class="bx bx-search"></i>
                    </div>
                    <input class="form-control"
                           type='text'
                           placeholder="Search"
                           name='parts_filter'
                           onkeyup='partFilter(this)'>
                </div>
            </div>
        </h5>
    </div>
    <div class="card-body pt-0 table-box h-72 lg:h-full mb-3">
        <table class="table" id="partTable">
            <thead class="sticky top-0 bg-white">
                <th class="w-3 text-center">
                    <i class='bx bx-cog'></i>
                </th>
                <th>Part</th>
                <th>Date</th>
                <th>Price</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script src="{%static 'assets/js/order-history.js'%}"></script>
<script>
    const partsHistory = {
        {% for name, parts in parts_history.items %}
            "{{name}}": [
                {% for part in parts %}
                    {
                        order: {{part.order.id}},
                        date: '{{ part.order.created_date | date:"b. d, Y" | capfirst }}',
                        price: {{part.price}},
                        url: "{% url 'detail-service-order' part.order.id %}",
                    },
                {%endfor%}
            ],
        {%endfor%}
    }

    let showPartNumber = 1

    function partFilter(e) {
        const filt = e.value
        const map = filter(partsHistory, 0, filt)
        renderTable(map, 'partTable', filt != '')
    }

    renderTable(partsHistory, 'partTable', false)
</script>
<style>
.pointer {
    cursor: pointer;
}
.table-box {
    overflow-y: auto;
    width: 100%;
}
</style>
