{% extends 'base/base_form.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Añadir Orden
{% endblock title %}
{% block content %}
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">{{ title }}</h5>
            </div>
            {% include "services/order_header.html" %}
            <form enctype="multipart/form-data" method="post" id="update-form">
                {% csrf_token %}
                <div class="card-body">{% crispy form %}</div>
            </form>
        </div>
    </div>
{% endblock content %}
