{% extends 'base/base_list.html' %}
{% block title %}
    Orders
{% endblock title %}
{% block Ttitle %}
    <h5 class="card-header">
        Orders <spam id="filter_tag"></spam>
    </h5>
    <div class="card-body">
        <div class="demo-inline-spacing">
            <button onClick="filterTag('all')"
                    type="button"
                    class="btn rounded-pill btn-primary">all</button>
            {% for status in statuses %}
                <button onClick="filterTag('{{ status }}')"
                        type="button"
                        class="btn rounded-pill btn-outline-{% if status == 'processing' %}primary{% elif status == 'complete' %}success{% elif status == 'pending' %}warning{% elif status == 'approved' %}info{% elif status == 'decline' %}danger{% endif %}">
                    {{ status }}
                </button>
            {% endfor %}
        </div>
    </div>
{% endblock Ttitle %}
{% block Theader %}
    <th>Concept</th>
    <th>Date</th>
    <th>Status</th>
    <th>Client</th>
    <th>Amount</th>
    <th>
        <i class="bx bx-cog"></i>
    </th>
{% endblock Theader %}
{% block Tbody %}
    {% for order in orders %}
        <tr data-tag="{{ order.status }}">
            <td>
                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ order.concept }}</strong>
            </td>
            <td>{{ order.created_date|date:"SHORT_DATE_FORMAT" }}</td>
            <td>
                <span class="badge bg-label-{% if order.status == 'processing' %}primary{% elif order.status == 'complete' %}success{% elif order.status == 'pending' %}warning{% elif order.status == 'approved' %}info{% elif order.status == 'decline' %}danger{% endif %} me-1">
                    {{ order.status }}
                </span>
            </td>
            <td>{{ order.associated }}</td>
            <td>${{ order.amount|floatformat:"2" }}</td>
            <td>
                <a href={% url 'detail-service-order' order.id %}><i class="bx bx-dots-vertical-rounded"></i></a>
            </td>
        </tr>
    {% endfor %}
{% endblock Tbody %}
{% block createUrl %}
    {% url 'select-service-client' %}
{% endblock createUrl %}
{% block help %}
    Create new order
{% endblock help %}
