{% extends 'base/base_list.html' %}
{% load static %}
{% load month_name %}
{% block title %}
    Service Orders
{% endblock title %}
{% block nav %}
    {% if previousYear and previousMonth %}
        <!-- Month -->
        <div class="text-center">
            <div class="demo-inline-spacing pb-3">
                <a type="button"
                   href="{% url 'list-service-order-terminated' previousYear previousMonth %}"
                   class="btn btn-icon btn-outline-primary">
                    <span class="tf-icons bx bx-chevron-left"></span>
                </a>
                <button type="button" class="btn btn-outline-primary">{{ currentMonth | month_name }}</button>
                {% if thisMonth == currentMonth and thisYear == currentYear %}
                {% else %}
                    <a type="button"
                       href="{% url 'list-service-order-terminated' nextYear nextMonth %}"
                       class="btn btn-icon btn-outline-primary">
                        <span class="tf-icons bx bx-chevron-right"></span>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock nav %}
{% block Ttitle %}
    <h5 class="card-header">
        Service Orders <spam id="filter_tag"></spam>
        <a href="{% url 'select-service-order-flow' %}">
            <button type="button"
                    class="btn rounded-pill btn-primary btn-icon"
                    data-bs-toggle="tooltip"
                    data-bs-offset="0,4"
                    data-bs-placement="top"
                    data-bs-html="true"
                    title=""
                    data-bs-original-title="New order">
                <i class='bx bx-plus'></i>
            </button>
        </a>
        <div class="float-end">
            {% for av in alternative_views %}
                <a href="{% url av.view %}"
                   type="button"
                   class="btn btn-outline-primary">
                    <span class="tf-icons bx bx-repost"></span>&nbsp;{{ av.text }}
                </a>
            {% endfor %}
            {%comment%}
                                                                                                                                    <a href="{% url alternative_view %}"
                                                                                                                                       type="button"
                                                                                                                                       class="btn btn-outline-primary">
                                                                                                                                        <span class="tf-icons bx bx-repost"></span>&nbsp;{{ stage }}
                                                                                            </a>
        {% endcomment %}
    </div>
</h5>
<div class="card-body">
    <div class="demo-inline-spacing">
        <button onClick="filterTag('all')"
                type="button"
                class="btn rounded-pill btn-primary">all</button>
        {% for status in statuses %}
            <button onClick="filterTag('{{ status }}')"
                    type="button"
                    class="btn rounded-pill btn-outline-{% if status == 'processing' %}primary{% elif status == 'complete' %}success{% elif status == 'pending' %}warning{% elif status == 'approved' %}info{% elif status == 'payment_pending' %}danger{% elif status == 'decline' %}danger{% endif %}">
                {{ status }}
            </button>
        {% endfor %}
    </div>
</div>
{% endblock Ttitle %}
{% block Theader %}
    <th>
        <i class="bx bx-cog"></i>
    </th>
    <th>Client</th>
    <th>Concept</th>
    <th>Date</th>
    <th>Amount</th>
{% endblock Theader %}
{% block Tbody %}
    {% for order in orders %}
        {% include "services/order_item.html" with order=order %}
    {% endfor %}
{% endblock Tbody %}
{%comment%}
{% block createUrl %}
                                    {% url 'select-service-order-flow' %}
{% endblock createUrl %}
{% block help %}
                                    New order
{% endblock help %}
{% endcomment %}
{% block addButton %}
{% endblock %}
