{% extends 'base/base_list.html' %}
{% block title %}
    {{ order.concept }}
{% endblock title %}
{% block card %}
    <div class="card-body">
        <h5 class="card-title">
            {{ order.concept }} (${{ order.amount|floatformat:"2" }})
            {% if terminated %}
                <span class="float-end me-1 badge bg-{% if order.status == 'complete' %}success{% elif order.status == 'decline' %}danger{% endif %}">
                    {{ order.get_status_display }}
                </span>
            {% else %}
                <button type="button"
                        class="btn float-end me-1 btn-{% if order.status == 'processing' %}primary{% elif order.status == 'pending' %}warning{% elif order.status == 'approved' %}info{% endif %} dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                    {{ order.get_status_display }}
                </button>
                <ul class="dropdown-menu">
                    {% if order.status != 'pending' %}
                        <li>
                            <button class="dropdown-item badge bg-warning"
                                    onclick="updateStatus('{% url 'update-order-status' order.id 'pending' %}', 'pending')">
                                Pending
                            </button>
                        </li>
                    {% endif %}
                    {% if order.status != 'processing' %}
                        <li>
                            <button class="dropdown-item badge bg-primary"
                                    onclick="updateStatus('{% url 'update-order-status' order.id 'processing' %}', 'processing')">
                                Processing
                            </button>
                        </li>
                    {% endif %}
                    {% if order.status != 'complete' %}
                        <li>
                            <a class="dropdown-item badge bg-success"
                               onclick="updateStatus('{% url 'update-order-status' order.id 'complete' %}', 'complete')">Complete</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </h5>
        <div class="card-subtitle text-muted mb-3">
            {{ order.associated }} - {{ order.created_date|date:"SHORT_DATE_FORMAT" }}
        </div>
        <p class="card-text">{{ order.note }}</p>
        <div class="demo-inline-spacing">
            <a class="btn btn-icon btn-outline-primary"
               type="button"
               href="{% url 'list-service-order' %}">
                <span class="tf-icons bx bx-arrow-back"></span>
            </a>
            {% if not terminated %}
                <a class="btn btn-icon btn-outline-primary"
                   type="button"
                   href="{% url 'update-order' order.id %}">
                    <span class="tf-icons bx bx-edit"></span>
                </a>
                <a onclick="updateStatus('{% url 'update-order-status' order.id 'decline' %}', 'decline')"
                   type="button"
                   class="btn btn-icon btn-outline-danger float-end">
                    <span class="tf-icons bx bx-trash"></span>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Products</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>
                            <i class="bx bx-cog"></i>
                        </th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for trans in transactions %}
                        <tr data-tag="{{ trans.product.name }}">
                            <td>
                                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ trans.product.name }}</strong>
                            </td>
                            <td>{{ trans.quantity|floatformat:"-2" }}</td>
                            <td>{{ trans.unit }}</td>
                            <td>${{ trans.price|floatformat:"2" }}</td>
                            <td>${{ trans.amount|floatformat:"2" }}</td>
                            <td>
                                <a href="{% if terminated %} {% url 'detail-transaction' trans.id %} {% else %} {% url 'update-transaction' trans.id %} {% endif %}"><i class="bx bx-dots-vertical-rounded"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Services</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>
                            <i class="bx bx-cog"></i>
                        </th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for service in services %}
                        <tr data-tag="{{ service.product.name }}">
                            <td>
                                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ service.service.name }}</strong>
                            </td>
                            <td>
                                {{ service.quantity|floatformat:"-2" }}
                            </td>
                            <td>
                                ${{ service.price|floatformat:"2" }}
                            </td>
                            <td>
                                ${{ service.amount|floatformat:"2" }}
                            </td>
                            <td>
                                {% comment %} <a href="{% if terminated %} {% url 'detail-service-transaction' trans.id %} {% else %} {% url 'update-transaction' trans.id %} {% endif %}"><i class="bx bx-dots-vertical-rounded"></i></a> {% endcomment %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function updateStatus(url, status) {
            let confirmAction = confirm("Are you sure change the order status to " + status + "?");
            if (confirmAction) {
                window.location = url;
            }
        }
    </script>
{% endblock card %}
{% block add %}
    {% if terminated %}hidden{% endif %}
{% endblock add %}
{% block createUrl %}
    {% url 'select-service' 'create-service-transaction' order.id %}
{% endblock createUrl %}
{% block help %}
    Add part or service
{% endblock help %}
