{% extends 'base/base_form.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Añadir Orden
{% endblock title %}
{% block content %}
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">{{ title }}</h5>
            </div>
            {% include "services/order_header.html" %}
            <form enctype="multipart/form-data" method="post" id="update-form">
                {% csrf_token %}
                <div class="card-body">{% crispy form %}</div>
            </form>
        </div>
    </div>
    <script>
        const quotation = document.querySelector('#id_quotation')
        const position = document.querySelector('#id_position')
        const reason = document.querySelector('#div_id_storage_reason')
        var oldValue = 0

        function updatePosition() {
            const q = quotation.checked
            console.log(q)
            position.disabled = q
            if (q) {
                const nullOption = document.createElement("option");
                nullOption.value = "";
                nullOption.text = "Null";
                position.add(nullOption);
                oldValue = position.value
                position.value = ''
                reason.style.display = 'none'
            } else {
                nullOption = position.querySelector('option[value=""]')
                position.removeChild(nullOption)
                position.value = oldValue
                updateReason()
            }
        }

        function updateReason() {
            const value = position.value
            console.log(value)
            reason.style.display = value == 0? 'block': 'none'
        }

        position.addEventListener('change', updateReason)
        updateReason()

        quotation.addEventListener('change', updatePosition)
        updatePosition()
    </script>
{% endblock content %}
