<thead>
    <tr>
        <th>
            <i class="bx bx-plus"></i>
        </th>
        <th>Name</th>
    </tr>
</thead>
<tbody class="table-border-bottom-0">
    {% for kit in kits %}
        <tr data-tag="{{ kit.category }}" data-search="{{ kit.name }}">
            <td>
                {% if kit.available %}
                    <a href={% url 'create-kit-transaction' order_id kit.id %}><i class="bx bx-plus"></i></a>
                {% endif %}
            </td>
            <td>
                <a href={% url 'detail-kit' kit.id %}>
                    <div {% if kit.available %}{% else %}class="text-danger"{% endif %}>
                        <strong>{{ kit.name }}</strong>
                    </div>
                </a>
            </td>
        </tr>
    {% endfor %}
</tbody>
