{% extends 'base/base_list.html' %}
{% block title %}
    Services
{% endblock title %}
{% block card %}
    <div class="demo-inline-spacing">
        <h5 class="card-header">
            Services <spam id="filter_tag"></spam>
        </h5>
    </div>
    <div class="card-body">
        {% include "./service/filter_category.html" %}
        <div class="table-responsive text-nowrap">
            <table class="table" id="table_consumables">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>
                            <i class="bx bx-cog"></i>
                        </th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for service in services %}
                        {% if service.type == type %}
                            <tr data-tag="{{ service.category }}">
                                <td>
                                    <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ service.name }}</strong>
                                </td>
                                <td>${{ service.suggested_price|floatformat:"-2" }}</td>
                                <td>
                                    <a href={% url 'detail-service' service.id %}><i class="bx bx-dots-vertical-rounded"></i></a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock card %}
{% block createUrl %}
    {% url 'create-service' %}
{% endblock createUrl %}
