{% extends "base/base_select.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Details
{% endblock title %}
{% block Ctitle %}
    Details
    <div class="float-end d-flex">
        {% if last_order %}
            <a href="{% url 'detail-service-order' last_order.id %}"
               class="btn btn-outline-primary me-2">Last order</a>
        {% endif %}
        <form method='POST'>
            {% csrf_token %}
            <button type='submit' class="btn btn-outline-primary">Continue</button>
        </form>
    </div>
{% endblock Ctitle %}
{% block Cards %}
    <span class="pt-2">
        <b>Effective time:</b>
        <spam
        {% if effective_time < 90 %}class="bg-label-danger p-1 rounded"{% endif %}
        >
        {{ effective_time }}
        {% if effective_time == 1 %}
            day
        {% else %}
            days
        {% endif %}
        </spam>
    </span>
    {% if rental_debt > 0 %}
        <span class="pt-2">
            <b>Rental debt:</b>
            {{ rental_debt }}
            <spam class="bg-label-danger p-1 rounded">
            {{ rental_last_payment|timesince }}
            </spam>
        </span>
    {% endif %}
    {% if repair_debt > 0 %}
        <span class="pt-2">
            <b>Repair debt:</b>
            {{ repair_debt }}
            {% if repair_last_payment %}
                <spam
                {% if repair_overdue %}class="bg-label-danger p-1 rounded"{% endif %}
                >
                {{ repair_last_payment|timesince }}
                </spam>
            {% endif %}
        </span>
    {% endif %}
    <div class="d-flex align-items-center justify-content-center mt-4">
        {% include "rent/equipment_line.html" with equipment_type="trailer" %}
    </div>
{% endblock Cards %}
{% block createVisibility %}
    none
{% endblock createVisibility %}
