/* @tailwind base; */
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none !important;
}

.collapse {
  visibility: unset;
}

.match {
  @apply text-main font-bold;
}

.partsCard {
  box-sizing: border-box;
}
