{% load static %}
<div class="avatar flex-shrink-0 me-3">
    <a {% if equipment and equipment.id %}{% if equipment_type == 'trailer' %} href="{% url 'detail-trailer' equipment.id %}" {% else %} href="{% url 'detail-vehicle' equipment.id %}" {% endif %}
       {% endif %}>
        <span class="avatar-initial rounded-circle bg-label-primary">
            <img {% if pinned_image %} src="{{ pinned_image.image.url }}" {% else %} src="{% static 'assets/img/icons/trailer.png' %}" {% endif %}
                 alt="image"
                 height="100px"
                 width="100px"
                 class="w-px-40 rounded-circle" />
        </span>
    </a>
</div>
<div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
    <div class="me-2" style="line-height:0.8em">
        <h6 class="mb-0">
            {% if equipment.year %}{{ equipment.get_year_display }}{% endif %}
            {% if equipment.manufacturer %}{{ equipment.manufacturer }}{% endif %}
            {{ equipment.get_type_display }}
        </h6>
        <small class="text-muted">
            {% if equipment.vin %}
                <div x-html='highlightMatch("{{ equipment.vin|escapejs }}", $store.search.search)'>
                    {{ equipment.vin }}
                </div>
            {% endif %}
            {% if equipment.plate %}
                <div>
                    Plate:
                    <span x-html='highlightMatch("{{ equipment.plate|escapejs }}", $store.search.search)'>
                        {{ equipment.plate }}
                    </span>
                </div>
            {% endif %}
        </small>
    </div>
</div>
