{% extends "base/base_list.html" %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block Ttitle %}
    <h5 class="card-header">Trailers</h5>
{% endblock Ttitle %}
{% block Theader %}
    <th>
        <i class="bx bx-cog"></i>
    </th>
    <th>Vehicle</th>
    <th>Doc</th>
    <th>Last Order</th>
{% endblock Theader %}
{% block Tbody %}
    {% for equipment in trailers %}
        <tr data-search="{{ equipment.vin }}{{ equipment.year }}{{ equipment.model }}{{ equipment.manufacturer }}">
            <td>
                <a href={% url 'detail-trailer' equipment.id %}><i class="bx bx-dots-vertical-rounded"></i></a>
            </td>
            <td class="d-flex">
                {% include "rent/equipment_line.html" with equipment_type="trailer" pinned_image=equipment.pinned_image %}
            </td>
            <td>
                {% if equipment.doc_color %}
                    <img src="{% static equipment.doc_color %}"
                         alt="doc icon"
                         height="100px"
                         width="100px"
                         class="w-px-40 h-auto" />
                {% endif %}
            </td>
            <td>
                {% if equipment.last_order %}
                    <a href="{% url 'detail-service-order' equipment.last_order.id %}">{{ equipment.last_order.concept }}</a> ({{ equipment.last_order.created_date|date:"SHORT_DATE_FORMAT" }})
                {% else %}
                    None
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock Tbody %}
{% block createUrl %}
    {% url 'create-trailer' %}
{% endblock createUrl %}
{% block help %}
    Add trailer
{% endblock help %}
