{% extends "base/base.html" %}
{% load static %}
{% block title %}
  Calendar
{% endblock title %}
{% block page %}
  <script src="{% static 'fullcalendar/index.global.min.js' %}"></script>
{% endblock page %}
{% block content %}
  <div id="calendar"></div>
{% endblock content %}
{% block scripts %}
  <script type='text/javascript'>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
  
      var calendar = new FullCalendar.Calendar(calendarEl, 
      {
        selectable: true,
        businessHours: true,
        dayMaxEvents: true, // allow "more" link when too many events
        events: '/erp/rent/api_occurrences?calendar_slug=rental'
      });

      calendar.render();

  });
  </script>
{% endblock scripts %}
