{% extends "base/base_card.html" %}
{% load static %}
{% block title %}
    Manufacturers
{% endblock title %}
{% block Ctitle %}
    <h5>Trailer manufacturers</h5>
{% endblock Ctitle %}
{% block Cards %}
    {% for manufacturer in manufacturers %}
        <div class="col-6 col-md-3 mb-3 text-center">
            <div class="card h-100">
                <img class="card-img-top"
                     {% if manufacturer.icon %} src="{{ manufacturer.icon.url }}" {% else %} src="{% static 'assets/img/icons/no_image.jpg' %}" {% endif %}
                     alt="{{ manufacturer.name }} icon">
                <div class="card-body">
                    <h5 class="card-title">{{ manufacturer.brand_name }}</h5>
                    <div class="demo-inline-spacing">
                        <a class="btn btn-icon btn-outline-primary"
                           type="button"
                           href="{% url 'manufacturer-update' manufacturer.id %}">
                            <span class="tf-icons bx bx-edit"></span>
                        </a>
                        <a {% if manufacturer.url %}href="{{ manufacturer.url }}"{% endif %}
                           type="button"
                           class="btn btn-icon btn-outline-primary">
                            <span class="tf-icons bx bx-link"></span>
                        </a>
                        <a onclick="deleteManufacturer('{% url 'manufacturer-delete' manufacturer.id %}', '{{ manufacturer.name }}')"
                           type="button"
                           class="btn btn-icon btn-outline-danger">
                            <span class="tf-icons bx bx-trash"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <script>
        function deleteManufacturer(url, name) {
            let confirmAction = confirm("Are you sure to delete the manufacturer " + name + "?");
            if (confirmAction) {
                window.location = url;
            }
        }
    </script>
{% endblock Cards %}
{% block createUrl %}
    {% url 'manufacturer-create' %}
{% endblock createUrl %}
{% block help %}
    New manufacturer
{% endblock help %}
