{% load static %}
{% load nbsp %}
<head>
    <meta charset="utf-8" />
    <!-- Core CSS -->
    <link rel="stylesheet"
          href="{% static 'assets/vendor/css/core.css' %}"
          class="template-customizer-core-css" />
    <link rel="stylesheet"
          href="{% static 'assets/vendor/fonts/boxicons.css' %}" />
    <style>
        @page {
            size: A3;
            margin: 20mm;
        }
        body{
            background-color: white;
        }
        h6 {
            font-size: 2rem;
        }
        .invoice-descrpition{
            width: 100%;
        }
        td {
            padding-right: 0.3cm;
            padding-bottom: 0.3cm;
        }
        #qrcode svg {
            width: 5cm;
            height: 5cm;
            display
        }
        #qrcode {
            max-width: 5.5cm;
            width: 5.5cm !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row mb-3">
            <div class="col-12 col-xl-8 col-xxl-7 mb-2">
                <div class="card pb-2">
                    <div class="row">
                        <div class="col text-center p-3 m-0 mb-3" id="qrcode">{{ qr_url | safe }}</div>
                        <div class="col">
                            <div class="card-header">
                                <h2 class="mb-0">Deposit</h2>
                            </div>
                            <table class='ms-4'>
                                <tbody>
                                    <tr>
                                        <td>Amount:</td>
                                        <td>{{ deposit.amount }}</td>
                                    </tr>
                                    <tr>
                                        <td>Validity:</td>
                                        <td>
                                            From
                                            <strong>{{ deposit.date }}</strong>
                                            to
                                            <strong>{{ deposit.valid_until }}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Validity days:
                                        </td>
                                        <td>
                                            <strong>{{ deposit.days }}</strong>
                                            {%if deposit.days == 1%}
                                                day
                                            {%else%}
                                                days
                                            {%endif%}
                                        </td>
                                    </tr>
                                    {%if equipment.vin and equipment.vin != ''%}
                                        <tr>
                                            <td>Vin:</td>
                                            <td>{{ equipment.vin }}</td>
                                        </tr>
                                    {%endif%}
                                    {%if equipment.plate and equipment.plate != ''%}
                                        <tr>
                                            <td>Plate:</td>
                                            <td>{{ equipment.plate }}</td>
                                        </tr>
                                    {%endif%}
                                    <tr>
                                        <td>Note:</td>
                                        <td>{{ deposit.note }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-2">
                <div class="card" style='height:100%'>
                    <div class="card-header lessee">
                        <h2>
                            Lessee: <b> {{ deposit.client.name }}</b>
                        </h2>
                    </div>
                    <div class="mt-4 ms-4">
                        <table>
                            <tbody>
                                {% if deposit.client.phone_number %}
                                    <tr>
                                        <td>Phone number:</td>
                                        <td>{{ deposit.client.phone_number }}</td>
                                    </tr>
                                {% endif %}
                                {% if deposit.client.email %}
                                    <tr>
                                        <td>Email:</td>
                                        <td>{{ deposit.client.email }}</td>
                                    </tr>
                                {% endif %}
                                {% if deposit.client.state %}
                                    <tr>
                                        <td>State:</td>
                                        <td>{{ deposit.client.state }}</td>
                                    </tr>
                                {% endif %}
                                {% if deposit.client.other_state %}
                                    <tr>
                                        <td>Other state:</td>
                                        <td>{{ deposit.client.other_state }}</td>
                                    </tr>
                                {% endif %}
                                {% if deposit.client.city %}
                                    <tr>
                                        <td>City:</td>
                                        <td>{{ deposit.client.city }}</td>
                                    </tr>
                                {% endif %}
                                {% if deposit.client.other_city %}
                                    <tr>
                                        <td>Other city:</td>
                                        <td>{{ deposit.client.other_city }}</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h2>Conditions:</h2>
                    </div>

                    <div class="card-body">
                        Conditions...
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
