{% extends 'base/base_list.html' %}
{% block title %}
    Products
{% endblock title %}
{% block card %}
    <div class="list-head">
        <div class="demo-inline-spacing">
            <h5 class="card-header">
                {{ title }} <spam id="filter_tag"></spam>
                    {% block buttons %}
                    {% endblock buttons %}
            </h5>
        </div>
        <div class="card-body tabs">
            <div class="nav-align-top">
                <ul class="nav nav-pills nav-fill" role="tablist">
                    <li class="nav-item">
                        <button type="button"
                                onClick="filterTag('all')"
                                class="nav-link"
                                role="tab"
                                data-bs-toggle="tab"
                                data-bs-target="#navs-pills-justified-parts"
                                aria-controls="navs-pills-justified-parts"
                                aria-selected="true">
                            <i class="tf-icons bx bx-repost"></i> Parts
                            {% if part_alerts > 0 %}
                                <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger">{{ part_alerts }}</span>
                            {% endif %}
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button"
                                onClick="filterTag('all')"
                                class="nav-link"
                                role="tab"
                                data-bs-toggle="tab"
                                data-bs-target="#navs-pills-justified-profile"
                                aria-controls="navs-pills-justified-profile"
                                aria-selected="false">
                            <i class="tf-icons bx bx-archive"></i> Consumables
                            {% if consumable_alerts > 0 %}
                                <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger">{{ consumable_alerts }}</span>
                            {% endif %}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content pe-0 ps-0">
        <div class="tab-pane fade active show"
             id="navs-pills-justified-parts"
             role="tabpanel">
            <div class="list-head pe-4 ps-4">{% include "utils/filter_category.html" with categories=part_categories %}</div>
            <div class="table-responsive text-nowrap">
                <table class="table" id="table_parts">
                    {% block tableParts %}
                    {% endblock tableParts %}
                </table>
            </div>
        </div>
        <div class="tab-pane fade"
             id="navs-pills-justified-profile"
             role="tabpanel">
            <div class="list-head pe-4 ps-4"">
                {% include "utils/filter_category.html" with categories=consumable_categories %}
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table" id="table_consumables">
                    {% block tableConsumables %}
                    {% endblock tableConsumables %}
                </table>
            </div>
        </div>
    </div>
    <script>
        function filterLowStock() {
            let i, j;
            let tables = document.getElementsByTagName("tbody");
            for (j = 0; j < tables.length; j++) {
                tr = tables[j].getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    if (tr[i].dataset['stock']=='low') {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }                    
                }
            }
        }
    </script>
{% endblock card %}
{% block add %}
{% endblock add %}
