<thead class="sticky top-0 bg-white">
    <tr>
        <th>
            <i class="bx bx-cog"></i>
        </th>
        <th>Name</th>
        <th>Stock</th>
        <th>Unit</th>
        {% if type == 'part' %}<th>Price</th>{% endif %}
        {%if perms.extra_perm.inventary_product_cost%}
        <th>Cost</th>
        {%endif%}
    </tr>
</thead>
<tbody class="table-border-bottom-0" x-data>
    {% for product in products %}
    {% if product.type == type %}
    <tr data-tag="{{ product.category }}"
        data-stock="{% if product.quantity_min > 0 and product.quantity < product.quantity_min %}low{% else %}ok{% endif %}"
        x-show='match("{{product.name|escapejs}}", $store.search.search) || match("{{product.description|escapejs}}", $store.search.search)'
        >
        <!-- data-search="{{ product.name }} {{ product.description }}"> -->
        <td>
            <a href={% url 'detail-product' product.id %}><i class="bx bx-dots-vertical-rounded"></i></a>
        </td>
        <td>
            <i class="fab fa-angular fa-lg text-danger"></i> <strong x-html='highlightMatch("{{product.name|escapejs}}", $store.search.search)'>{{ product.name }}</strong>
            <div class="text-xs italic"
              x-show='$store.search.search != "" && match("{{product.description|escapejs}}", $store.search.search)'
              x-html='highlightMatch("{{product.description|escapejs}}", $store.search.search)'
            >
              <!-- {{product.description}} -->
            </div>
        </td>
        <td>
            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                {% if product.pending %}
                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                    class="avatar avatar-xs pull-up" title="" data-bs-html="true"
                    data-bs-original-title="<i class='tf-icons bx bx-cart'></i> Pending">
                    <span class="badge badge-center rounded-pill bg-warning stock">
                        {{ product.pending|floatformat:"-2" }}</span>
                </li>
                {% endif %}
                {% if product.processing %}
                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                    class="avatar avatar-xs pull-up" title="" data-bs-html="true"
                    data-bs-original-title="<i class='tf-icons bx bx-mail-send'></i> in process">
                    <span class="badge badge-center rounded-pill bg-primary stock">
                        {{ product.processing|floatformat:"-2" }}</span>
                </li>
                {% endif %}
                <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                    class="avatar avatar-xs pull-up" title="" data-bs-html="true"
                    data-bs-original-title="<i class='tf-icons bx bx-collection'></i> in stock">
                    <span
                        class="badge badge-center rounded-pill bg-{% if product.quantity_min > 0 and product.quantity < product.quantity_min %}danger{% else %}success{% endif %} stock">
                        {{ product.quantity|floatformat:"-2" }}</span>
                </li>
            </ul>
        </td>
        <td>{{ product.unit }}</td>
        {% if type == 'part' %}
        <td>
            ${{ product.sell_price|floatformat:"-2" }}
        </td>{% endif %}

        {%if perms.extra_perm.inventary_product_cost%}
        <td>${{ product.average_cost|floatformat:"-2" }}</td>
        {%endif%}
    </tr>
    {% endif %}
    {% endfor %}
</tbody>
