<thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Cost</th>
    </tr>
</thead>
<tbody class="table-border-bottom-0">
    {% for product in products %}
        {% if product.type == type %}
            <tr data-tag="{{ product.category }}" data-search="{{ product.name }}">
                <td>
                    <i class="fab fa-angular fa-lg text-danger"></i> <strong>{{ product.name }}</strong>
                </td>
                <td>${{ product.sell_price|floatformat:"-2" }}</td>
                <td>${{ product.average_cost|floatformat:"-2" }}</td>
            </tr>
        {% endif %}
    {% endfor %}
</tbody>
