{% load static %}
<div class="table-responsive text-nowrap">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>
                    <i class="bx bx-cog"></i>
                </th>
                <th>Product</th>
                <th>Qty</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Tax</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0" @click.outside="editNothing()">
            <template x-for="transaction in satisfied">
                <tr :data-tag="transaction.name"
                    :class="{
                            'bg-red-100': transaction.decline,
                            'highlight': transaction.id == selected.id,
                            }">
                    <!-- x-effect="if (transaction.id == selected.id) { -->
                    <!--           scrollTo($el) -->
                    <!--           }"> -->
                    <td>
                        <a :href="transactionUrl(transaction.id)">
                            $<span x-text="getTotalPrice(transaction).toFixed(2)"></span>
                        </a>
                    </td>
                    <td>
                        <a :href="productUrl(transaction.product.id)" :class="transaction.product.quantity == 0 && 'text-danger'">
                            <strong x-text="transaction.product.name"></strong>
                        </a>
                    </td>
                    <td :class="transaction.product.quantity == 0 && 'text-danger'" @click="editQuantity(transaction.id)">
                        <template x-if="editingQuantity(transaction.id)">
                            <div class="input-group">
                                <input type="number" min="1" class="form-control !p-1 !w-20" x-model="selected.ref.quantity" @keyup.enter="editNothing()" x-init="$el.focus()">
                            </div>
                        </template>
                        <template x-if="!editingQuantity(transaction.id)">
                            <div>
                                <span x-text="transaction.quantity"></span>
                                <span :class="transaction.satisfied || 'text-danger'"
                                      x-text="`(${transaction.product.quantity})`"
                                      x-show="!transaction.satisfied || transaction.product.quantity <= transaction.product.quantity_min"></span>
                            </div>
                        </template>
                    </td>
                    <td>
                        <span x-text="transaction.unit.name"></span>
                    </td>
                    <td @click="editPrice(transaction.id)">
                        <template x-if="editingPrice(transaction.id)">
                            <div class="input-group">
                                <input type="number" class="form-control !p-1 !w-20" x-model="selected.ref.price" @keyup.enter="editNothing()" x-init="$el.focus()">
                            </div>
                        </template>
                        <template x-if="!editingPrice(transaction.id)">
                            <div>
                                $<span x-text="transaction.price.toFixed(2)"></span>
                            </div>
                        </template>
                    </td>
                    <td>
                        $<span x-text="getAmount(transaction).toFixed(2)"></span>
                    </td>
                    <td @click="editTax(transaction.id)">
                        <template x-if="editingTax(transaction.id)">
                            <div class="form-check" @click.stop="console.log('123')">
                                <input class="form-check-input checkboxinput" type="checkbox" id="activeTax" x-model="selected.ref.active_tax">
                                <label class="form-check-label" for="activeTax">
                                    $<span x-text="getTax(transaction, true).toFixed(2)"></span>
                                </label>
                            </div>
                        </template>
                        <template x-if="!editingTax(transaction.id)">
                            <div>
                                $<span x-text="getTax(transaction).toFixed(2)"></span>
                            </div>
                        </template>
                    </td>
                    <td class="flex justify-end">
                        <button class="btn btn-icon btn-link text-danger"
                                @click="remove(transaction.id)">
                            <i class='bx bx-trash'></i>
                        </button>
                    </td>
                </tr>
            </template>

            {%if order.status == 'processing'%}
                <tr class="bg-mainBG" x-show="unsatisfied.length > 0" @click="editNothing()">
                    <th colspan="100%">
                        <div class="flex items-center">
                            <div class="flex-grow">
                                <span class="text-danger mr-2">
                                    Out Stock
                                </span>
                                <strong>
                                    $<span x-text="unsatisfied_args.total.toFixed(2)"></span>
                                </strong>
                                =
                                <span>
                                    $<span x-text="unsatisfied_args.amount.toFixed(2)"></span>
                                </span>
                                +
                                <span>
                                    $<span x-text="unsatisfied_args.tax.toFixed(2)"></span>
                                </span>
                            </div>
                            <div>
                                <a class="btn btn-link btn-icon"
                                   href="{%url 'service-order-out-stock-print' order.id%}">
                                    <i class='bx bx-printer'></i>
                                </a>
                            </div>
                        </div>
                    </th>
                </tr>
            {% endif %}

            <template x-for="transaction in unsatisfied">
                <tr :data-tag="transaction.name"
                    :class="{
                            'bg-red-100': transaction.decline,
                            'highlight': transaction.id == selected.id,
                            }">
                    <!-- x-effect="if (transaction.id == selected.id) { -->
                    <!--           scrollTo($el) -->
                    <!--           }"> -->
                    <td>
                        <a :href="transactionUrl(transaction.id)">
                            $<span x-text="getTotalPrice(transaction).toFixed(2)"></span>
                        </a>
                    </td>
                    <td>
                        <a :href="productUrl(transaction.product.id)" :class="transaction.product.quantity == 0 && 'text-danger'">
                            <strong x-text="transaction.product.name"></strong>
                        </a>
                    </td>
                    <td :class="transaction.product.quantity == 0 && 'text-danger'" @click="editQuantity(transaction.id)">
                        <template x-if="editingQuantity(transaction.id)">
                            <div class="input-group">
                                <input type="number" class="form-control !p-1 !w-20" x-model="selected.ref.quantity" @keyup.enter="editNothing()" x-init="$el.focus()">
                            </div>
                        </template>
                        <template x-if="!editingQuantity(transaction.id)">
                            <div>
                                <span x-text="transaction.quantity"></span>
                                <span :class="transaction.satisfied || 'text-danger'"
                                      x-text="`(${transaction.product.quantity})`"
                                      x-show="!transaction.satisfied || transaction.product.quantity <= transaction.product.quantity_min"></span>
                            </div>
                        </template>
                    </td>
                    <td>
                        <span x-text="transaction.unit.name"></span>
                    </td>
                    <td @click="editPrice(transaction.id)">
                        <template x-if="editingPrice(transaction.id)">
                            <div class="input-group">
                                <input type="number" class="form-control !p-1 !w-20" x-model="selected.ref.price" @keyup.enter="editNothing()" x-init="$el.focus()">
                            </div>
                        </template>
                        <template x-if="!editingPrice(transaction.id)">
                            <div>
                                $<span x-text="transaction.price.toFixed(2)"></span>
                            </div>
                        </template>
                    </td>
                    <td>
                        $<span x-text="getAmount(transaction).toFixed(2)"></span>
                    </td>
                    <td @click="editTax(transaction.id)">
                        <template x-if="editingTax(transaction.id)">
                            <div class="form-check" @click.stop="console.log('123')">
                                <input class="form-check-input checkboxinput" type="checkbox" id="activeTax" x-model="selected.ref.active_tax">
                                <label class="form-check-label" for="activeTax">
                                    $<span x-text="getTax(transaction, true).toFixed(2)"></span>
                                </label>
                            </div>
                        </template>
                        <template x-if="!editingTax(transaction.id)">
                            <div>
                                $<span x-text="getTax(transaction).toFixed(2)"></span>
                            </div>
                        </template>
                    </td>
                    <td class="flex justify-end">
                        <button class="btn btn-icon btn-link text-danger"
                                @click="remove(transaction.id)">
                            <i class='bx bx-trash'></i>
                        </button>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</div>
