{% load static %}
<style>
    .selected {
        box-shadow: inset 0 0 10px 3px rgba(0, 100, 255, 0.5);
    }
</style>
<div class="h-full flex flex-col overflow-hidden box-border">
    <!-- <div class="card-body py-0"> -->
    <!--     <div class="input-group mb-3"> -->
    <!--         <span class="input-group-text">Default quantity:</span> -->
    <!--         <input type="number" min="1" class="form-control" x-model="newProductQty"> -->
    <!--         <span class="input-group-text"> -->
    <!--             <div class="form-check"> -->
    <!--                 <label class="form-check-label" for="taxInput"> -->
    <!--                     Use tax -->
    <!--                 </label> -->
    <!--                 <input class="form-check-input checkboxinput" type="checkbox" id="taxInput" x-model="newProductTax"> -->
    <!--             </div> -->
    <!--         </span> -->
    <!--     </div> -->
    <!-- </div> -->

    <div class="table-responsive text-nowrap flex-grow !overflow-auto">
        <table class="table table-sm">
            <thead class="sticky top-0 bg-white z-10">
                <tr>
                    <th>
                        <i class="bx bx-cart"></i>
                    </th>
                    <th>Product</th>
                    <th>Available</th>
                    <th>Unit</th>
                    <th>Price</th>
                    <th>Cost</th>
                    <th>Tax</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <template x-for="(product, index) in filteredProducts">
                    <!-- <tr x-show="renderProduct(product) && globalThis.match(product.name, newProductSearch)" -->
                    <tr x-id="['quantity', 'price', 'tax']"
                        :class="{
                                'selected': index == newProductIndex,
                                }"
                        x-effect="() => {
                                  if (index == newProductIndex) {
                                  scrollTo($el)
                                  }
                                  }"
                        class="scroll-mt-40"
                        @click="newProductIndex = index"
                    >
                        <td>
                            <button class="btn btn-icon btn-link"
                                    @click="addNewTransaction(product)"
                                    x-show="!product.transaction_loading">
                                <i class='bx bx-plus'></i>
                            </button>
                            <div class="spinner-border text-primary" role="status"
                                 x-show="product.transaction_loading">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>
                        <td>
                            <strong x-html="globalThis.highlightMatch(product.name, newProductSearch)"></strong>
                        </td>
                        <td :class="product.quantity <= product.quantity_min && 'text-danger'">
                            <div class="input-group !w-40">
                                <input :id="$id('quantity')"
                                       type="number"
                                       min="1"
                                       class="form-control product_editable product_quantity scroll-mt-40"
                                       x-model="product.transaction_quantity"
                                       :class="{
                                               'text-danger': product.transaction_quantity > product.quantity,
                                               'text-primary': product.transaction_quantity <= product.quantity,
                                               'product_selected': index == newProductIndex,
                                               'product_active': newProductMode(),
                                               }">
                                <span class="input-group-text">
                                    /
                                    <span x-text="product.quantity"></span>
                                </span>
                            </div>
                        </td>
                        <td>
                            <span x-text="product.unit.name"></span>
                        </td>
                        <td>
                            <div class="input-group !w-40">
                                <input :id="$id('price')"
                                       type="number"
                                       min="1"
                                       class="form-control product_editable product_price scroll-mt-40"
                                       x-model="product.transaction_price"
                                       :class="{
                                               'text-danger': product.transaction_price < product.sell_price,
                                               'text-primary': product.transaction_price >= product.sell_price,
                                               'product_selected': index == newProductIndex,
                                               'product_active': newProductMode(),
                                               }">
                                <span class="input-group-text">
                                    $<span x-text="product.sell_price.toFixed(2)"></span>
                                </span>
                            </div>
                        </td>
                        <td>
                            $<span x-text="product.average_cost.toFixed(2)"></span>
                        </td>
                        <td>
                            <div class="input-group !w-40">
                                <span class="input-group-text">
                                    <div class="form-check">
                                        <input :id="$id('tax')"
                                               class="form-check-input checkboxinput product_editable product_tax scroll-mt-40"
                                               type="checkbox"
                                               x-model="product.transaction_tax"
                                               :class="{
                                                       'product_selected': index == newProductIndex,
                                                       'product_active': newProductMode(),
                                                       }">
                                    </div>
                                    <label class="form-check-label" :for="$id('tax')" x-text="product.sell_tax">
                                    </label>
                                </span>
                            </div>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</div>
