{% load static %}
<div class="h-full flex flex-col overflow-hidden box-border">
    <div class="card-body py-0 flex gap-2 flex-wrap box-border">
        <div class="input-group mb-3">
            <span class="input-group-text">Default quantity:</span>
            <input type="number" min="1" class="form-control" x-model="newServiceQty">
        </div>
        <!-- <div class="input-group mb-3"> -->
        <!--     <span class="input-group-text">Default Tax:</span> -->
        <!--     <input type="number" min="1" class="form-control" x-model="newServiceTax"> -->
        <!-- </div> -->
    </div>

    <div class="table-responsive text-nowrap flex-grow !overflow-auto">
        <table class="table table-sm">
            <thead class="sticky top-0 bg-white z-10">
                <tr>
                    <th>
                        <i class="bx bx-cart"></i>
                    </th>
                    <th>Service</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Tax</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0" @click.outside="editNothing()">
                <template x-for="service in services">
                    <tr x-show="renderService(service) && globalThis.match(service.name, newServiceSearch)">
                        <td>
                            <button class="btn btn-icon btn-link"
                                    @click="addNewTransaction(service)"
                                    x-show="!service.transaction_loading">
                                <i class='bx bx-plus'></i>
                            </button>
                            <div class="spinner-border text-primary" role="status"
                                 x-show="service.transaction_loading">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>
                        <td>
                            <strong x-html="globalThis.highlightMatch(service.name, newServiceSearch)"></strong>
                        </td>
                        <td>
                            <div class="input-group !w-24">
                                <input type="number"
                                       min="1"
                                       class="form-control"
                                       x-model="service.transaction_quantity">
                            </div>
                        </td>
                        <td>
                            <div class="input-group !w-40">
                                <input type="number"
                                       min="0"
                                       class="form-control"
                                       x-model="service.transaction_price"
                                       :class="service.transaction_price < service.suggested_price ? 'text-danger' : 'text-primary'">
                                <span class="input-group-text">
                                    $<span x-text="service.suggested_price.toFixed(2)"></span>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group !w-40">
                                <input type="number"
                                       min="0"
                                       class="form-control"
                                       x-model="service.transaction_tax"
                                       :class="service.transaction_tax < service.sell_tax ? 'text-danger' : 'text-primary'">
                                <span class="input-group-text">
                                    $<span x-text="service.sell_tax.toFixed(2)"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</div>
