{% load static %}
<template x-if="selectedKit() != null">
    <div class="h-full flex-grow flex flex-col !overflow-hidden gap-4 pl-4 w-full">
        <div class="table-responsive text-nowrap h-full flex-grow !overflow-auto">
            <table class="table table-sm">
                <thead class="sticky top-0 bg-white">
                    <tr>
                        <th>Service</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    <template x-for="kitService in selectedKit().services">
                        <tr>
                            <td>
                                <span x-text="kitService.service.name"></span>
                            </td>
                            <td>
                                <div class="input-group !w-36">
                                    <input
                                        type="number"
                                        min="0"
                                        x-model="kitService.new_price"
                                        class="form-control product_editable product_quantity scroll-mt-40 num-input"
                                    >
                                    <span class="input-group-text">
                                        $<span x-text="kitService.service.suggested_price"></span>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <div class="table-responsive text-nowrap h-full flex-grow !overflow-auto">
            <table class="table table-sm">
                <thead class="sticky top-0 bg-white">
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Price</th>
                        <th>Tax</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    <template x-for="kitProduct in selectedKit().elements">
                        <tr>
                            <td>
                                <span x-text="kitProduct.product.name"></span>
                            </td>
                            <td>
                                <div class="input-group !w-32">
                                    <input
                                        type="number"
                                        min="0"
                                        x-model="kitProduct.new_quantity"
                                        class="form-control product_editable product_quantity scroll-mt-40 num-input"
                                    >
                                    <span class="input-group-text">
                                        <span x-text="kitProduct.quantity"></span>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <strong>
                                    <span x-text="kitProduct.unit.name"></span>
                                </strong>
                            </td>
                            <td>
                                <div class="input-group !w-32">
                                    <input
                                        type="number"
                                        min="0"
                                        x-model="kitProduct.new_price"
                                        class="form-control product_editable product_quantity scroll-mt-40 num-input"
                                    >
                                    <span class="input-group-text">
                                        $<span x-text="kitProduct.product.sell_price"></span>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="form-check">
                                    <input
                                        class="form-check-input checkboxinput product_editable product_tax scroll-mt-40"
                                        type="checkbox"
                                        x-model="kitProduct.new_tax">
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
</template>
