{% load static %}
<style>
    .selected {
        box-shadow: inset 0 0 10px 3px rgba(0, 100, 255, 0.5);

        &.unavailable {
            box-shadow: inset 0 0 10px 3px rgba(255, 0, 0, 0.5);
        }
    }
</style>
<div class="h-full flex flex-col overflow-hidden box-border flex-grow w-full">
    <div class="table-responsive text-nowrap flex-grow overflow-auto">
        <table class="table table-sm">
            <thead class="sticky top-0 bg-white">
                <tr>
                    <th>
                        <i class="bx bx-cart"></i>
                    </th>
                    <th>Kit</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <template x-for="(kit, index) in filteredKits" :key="kit.id">
                    <tr
                        @click="newKitIndex = index"
                        :class="{
                                'selected': index == newKitIndex,
                                'unavailable': !kit.available,
                                }">
                        <td>
                            <div>
                                <div class="spinner-border text-primary" role="status"
                                     x-show="kit.loading">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <button class="btn btn-icon btn-link"
                                        :class="kit.available || 'text-danger'"
                                        @click="addKit(kit)"
                                        x-show="!kit.loading"
                                >
                                    <i class='bx bx-plus'></i>
                                </button>
                            </div>
                        </td>
                        <td :class="kit.available || 'text-danger'">
                            <strong x-html="globalThis.advanceHighlightMatch(kit.name, newKitSearch, kit.searchType)"></strong>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>
    </div>
</div>
