{% load static %}
<template x-if="selectedKit() != null">
    <div class="h-full flex-grow flex flex-col !overflow-hidden gap-4 pl-4 w-full">
        <div class="table-responsive text-nowrap h-full flex-grow !overflow-auto">
            <table class="table table-sm">
                <thead class="sticky top-0 bg-white">
                    <tr>
                        <th>Service</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    <template x-for="kitService in selectedKit().services">
                        <tr>
                            <td>
                                <span x-text="kitService.service.name"></span>
                            </td>
                            <td>
                                <strong>
                                    $<span x-text="kitService.service.suggested_price"></span>
                                </strong>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <div class="table-responsive text-nowrap h-full flex-grow !overflow-auto">
            <table class="table table-sm">
                <thead class="sticky top-0 bg-white">
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    <template x-for="kitProduct in selectedKit().elements">
                        <tr>
                            <td>
                                <span x-text="kitProduct.product.name"></span>
                            </td>
                            <td>
                                <strong>
                                    <span x-text="kitProduct.quantity"></span>
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    <span x-text="kitProduct.unit.name"></span>
                                </strong>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
    </div>
</template>
