{% load static %}
<div class="!h-full table-responsive !overflow-auto !visible !hidden lg:!block">
    <table class="table table-sm">
        <thead class="sticky top-0 bg-white z-10">
            <tr>
                <th>Service</th>
                <th class="text-end">Quantity</th>
                <th class="text-end">Price</th>
                <th class="text-end">Tax</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            <template x-for="transaction in transactions">
                <tr>
                    <td>
                        <strong x-text="transaction.service.name"></strong>
                    </td>
                    <td class="text-end">
                        <span x-text="transaction.quantity"></span>
                    </td>
                    <td class="text-end">
                        $<strong x-text="transaction.price.toFixed(2)"></strong>
                    </td>
                    <td class="text-end">
                        <span x-text="transaction.tax.toFixed(2)"></span>%
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</div>
