{%load static%}
<div class="table-responsive text-nowrap">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>
                    <i class="bx bx-cog"></i>
                </th>
                <th>Product</th>
                <th>Qty</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Amount</th>
                <th>Tax</th>
            </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            {%if order.status == 'processing'%}
                {% for trans in transactions %}
                    {% if trans.satisfied and trans.product.type == type %}
                        {%include 'services/order_detail/components/product_table_item_processing.html'%}
                    {% endif %}
                {% endfor %}
                {%if showOStock%}
                    <tr class="bg-mainBG">
                        <th colspan="100%">
                            <span class="text-danger mr-2">
                                Out Stock
                            </span>
                            {%if type == 'part'%}
                                ${{uparts_total|floatformat:'-2'}} =
                                ${{uparts_amount|floatformat:'-2'}} +
                                ${{uparts_tax|floatformat:'-2'}}
                            {%else%}
                                ${{uconsumable_total|floatformat:'-2'}} =
                                ${{uconsumable_amount|floatformat:'-2'}} +
                                ${{uconsumable_tax|floatformat:'-2'}}
                            {%endif%}
                        </th>
                    </tr>
                    {% for trans in transactions %}
                        {% if not trans.satisfied and trans.product.type == type %}
                            {%include 'services/order_detail/components/product_table_item_processing.html'%}
                        {% endif %}
                    {% endfor %}
                {%endif%}
            {%else%}
                {% for trans in transactions %}
                    {% if trans.product.type == type %}
                        {%include 'services/order_detail/components/product_table_item.html'%}
                    {% endif %}
                {% endfor %}
            {%endif%}
        </tbody>
    </table>
</div>
