{% load static %}
{% load nbsp %}
<head>
    <meta charset="utf-8" />
    <!-- Core CSS -->
    <link rel="stylesheet"
          href="{% static 'assets/vendor/css/core.css' %}"
          class="template-customizer-core-css" />
    <link rel="stylesheet"
          href="{% static 'assets/vendor/fonts/boxicons.css' %}" />
    <link rel="stylesheet"
          href="{% static 'assets/css/style.css' %}"/>
    <style>
        @page {
            size: A3;
            margin: 20mm;
        }
        body{
            background-color: white;
        }
        h6 {
            font-size: 2rem;
        }
        .invoice-descrpition{
            width: 100%;
        }
        td {
            padding-right: 0.3cm;
            padding-bottom: 0.3cm;
        }
        #qrcode svg {
            width: 5cm;
            height: 5cm;
            display
        }
        #qrcode {
            max-width: 5.5cm;
            width: 5.5cm !important;
        }

        #logo {
            width: 100px;
            z-index: 100;
        }

        {%if pdf%}
            #logo {
                position: absolute;
                top: 10px;
                right: 40px;
            }

            .text-primary {
                color: #0069FF;
                font-weight: bold;
            }
            .text-success {
                color: #00FF55;
                font-weight: bold;
            }
            .text-warning {
                color: #FFBB00;
                font-weight: bold;
            }
            .text-danger {
                color: #FF1100;
                font-weight: bold;
            }
        {%else%}
            .card {
                margin-bottom: 1rem;
            }
        {%endif%}
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header mb-2 flex">
                <div class="flex-grow">
                    <h1>Invoice:</h1>
                    <table class="mx-4">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>Date</strong>
                                </td>
                                <td>
                                    {% now "E, d Y" %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Invoice number</strong>
                                </td>
                                <td>{{ devolution.invoice_number }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <img id="logo"
                         src="{% static 'assets/img/icons/TOWIT.png' %}"
                         alt=""/>
                </div>
            </div>

            <div class="card-body pb-0 mb-0">
                <table class="mx-4">
                    <tbody>
                        <tr>
                            <td class="pt-0 pb-1 invoice-descrpition">
                                <strong>TOWIT HOUSTON LLC</strong>
                            </td>
                            <td>
                                <strong>BILL TO</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>6011 Liberty Rd</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Houston, TX 77026</td>
                            <td>
                                {{ devolution.contract.lessee.name|nbsp }}
                            </td>
                        </tr>
                        <tr>
                            <td>(832) 963-5145 / (305) 833-6144</td>
                            <td>{{ devolution.contract.lessee.phone_number|nbsp }}</td>
                        </tr>
                        <tr>
                            <td>info@towithouston.com</td>
                            <td>{{ devolution.contract.lessee.email|nbsp }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h2 class="mb-0">
                    {% if devolution.returned %}
                        Security Deposit - <span class="text-primary">Returned</span>:
                    {% else %}
                        Security Deposit - <span class="text-warning">Pending Return</span>:
                    {% endif %}

                </h2>
            </div>
            <div class="card-body">
                <div class="m-auto flex flex-wrap">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <span
                                        {% if discount.duration %}
                                            class="text-success"
                                        {% else %}
                                            class="text-danger"
                                        {% endif %}
                                    >
                                        Duration:
                                    </span>
                                </td>
                                <td>
                                    {{discount.expirate_HTML|safe}}
                                </td>
                            </tr>
                            <tr>
                                <td class="align-top">
                                    <span
                                        {% if discount.location_towit %}
                                            class="text-success"
                                        {% else %}
                                            class="text-danger"
                                        {% endif %}
                                    >
                                        Return location:
                                    </span>
                                </td>
                                <td>
                                    {% if discount.location_towit %}
                                        Returned at Towit Houston location.
                                    {% else %}
                                        Not returned at Towit Houston location.
                                        {% if discount.location_note is not None %}
                                            <div>
                                                {{discount.location_note}}
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="border-t">
                                <td>Prepayments:</td>
                                <td>
                                    <strong>${{devolution.prepayments | floatformat:'-2'}}</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>Debts:</td>
                                <td>
                                    <strong>${{devolution.debts | floatformat:'-2'}}</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>Tolls:</td>
                                <td>
                                    <strong>${{devolution.tolls | floatformat:'-2'}}</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>Trailer condition discount:</td>
                                <td>
                                    <strong>${{devolution.trailer_discount | floatformat:'-2'}}</strong>
                                </td>
                            </tr>
                            <tr class="border-t">
                                <td>Return date:</td>
                                <td>
                                    {% if devolution.returned %}
                                        {{devolution.returned_date|date:"E d, Y"}}
                                    {% else %}
                                        {{devolution.refund_date|date:"E d, Y"}}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Total deposited:</td>
                                <td>
                                    <strong>${{devolution.total_deposited_amount | floatformat:'-2'}}</strong>
                                </td>
                            </tr>
                            <tr>
                                <td>Towit compensation:</td>
                                <td>
                                    <strong class="text-success">${{ devolution.income|floatformat:'-2' }}</strong>
                                </td>
                            </tr>
                            {%if devolution.amount >= 0%}
                                <tr>
                                    <td>
                                        {% if devolution.returned %}
                                            Returned:
                                        {% else %}
                                            To return:
                                        {% endif %}
                                    </td>
                                    <td>
                                        <strong class="text-warning">${{ devolution.returned_amount | floatformat:'-2' }}</strong>
                                    </td>
                                </tr>
                            {%else%}
                                <tr>
                                    <td>Total client debt:</td>
                                    <td>
                                        <strong class="text-danger">${{ devolution.debt_amount|floatformat:'-2' }}</strong>
                                    </td>
                                </tr>
                            {%endif%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
