{%load static%}

<script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
<script src="{% static 'assets/js/plot_chart.js' %}"></script>
<div class="col-md-6 px-2 pb-3">
    <div class="card h-full" x-data="{tab: 'on_hold'}">
        <div class="card-header flex justify-between items-center pb-0">
            <h4>Deposits On Hold</h4>
            <div class="btn-group">
                <button class="btn btn-outline-primary btn-icon"
                        :class="{
                                active: tab=='on_hold'
                                }"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Deposits ON HOLD"
                        @click="tab='on_hold'">
                    <i class='bx bx-calendar' ></i>
                </button>
                <button class="btn btn-outline-primary btn-icon"
                        :class="{
                                active: tab=='security'
                                }"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="ON HOLD to security deposits"
                        @click="tab='security'">
                    <i class='bx bx-calendar-check' ></i>
                </button>
                <button class="btn btn-outline-primary btn-icon"
                        :class="{
                                active: tab=='renovation'
                                }"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Deposits' renovations"
                        @click="tab='renovation'">
                    <i class='bx bx-calendar-plus' ></i>
                </button>
                <button class="btn btn-outline-primary btn-icon"
                        :class="{
                                active: tab=='finished'
                                }"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"
                        data-bs-title="Deposits finished"
                        @click="tab='finished'">
                    <i class='bx bx-calendar-x' ></i>
                </button>
            </div>
        </div>

        <div class="flex justify-center items-center">
            <div id="depositsChart"></div>
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="rounded-full w-4 h-4 bg-[#0068FF]"></div>
                            </td>
                            <td>
                                ON HOLD:
                            </td>
                            <td>
                                <strong>${{deposits_on_hold_total|floatformat:"-2"}}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="rounded-full w-4 h-4 bg-[#00FF88]"></div>
                            </td>
                            <td>
                                SECURITY:
                            </td>
                            <td>
                                <strong>${{deposits_security_total|floatformat:"-2"}}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="rounded-full w-4 h-4 bg-[#FFCC00]"></div>
                            </td>
                            <td>
                                RENOVATIONS:
                            </td>
                            <td>
                                <strong>${{deposits_renovations_total|floatformat:"-2"}}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="rounded-full w-4 h-4 bg-[#FF5500]"></div>
                            </td>
                            <td>
                                FINISHED:
                            </td>
                            <td>
                                <strong>${{deposits_finished_total|floatformat:"-2"}}</strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div x-show="tab=='on_hold'">
            {% include "rent/deposits/reports_on_hold.html" %}
        </div>
        <div x-show="tab=='security'">
            {% include "rent/deposits/reports_security.html" %}
        </div>
        <div x-show="tab=='renovation'">
            {% include "rent/deposits/reports_renovations.html" %}
        </div>
        <div x-show="tab=='finished'">
            {% include "rent/deposits/reports_finished.html" %}
        </div>
    </div>
</div>
<script>
    labels = ['ON HOLD', 'SECURITY', 'RENOVATIONS', 'FINISHED'];
    series = [
        {{deposits_on_hold_total|floatformat:"-2"}},
        {{deposits_security_total|floatformat:"-2"}},
        {{deposits_renovations_total|floatformat:"-2"}},
        {{deposits_finished_total|floatformat:"-2"}}
    ],
    colors = ['#0068FF', '#00FF88', '#FFCC00', '#FF5500'];

    plotChart('#depositsChart', labels, series, colors, '${{ deposits_total|floatformat:"0" }}')
</script>
