{% load static %}
{% load humanize %}
<div class="card-body pt-0">
    <strong class='text-main'>FINISHED</strong>
    <table>
        <tr>
            <td>
                <strong>Quantity:</strong>
            </td>
            <td>{{deposits_finished_count}}</td>
        </tr>
        <tr>
            <td>
                <strong>Total income:</strong>
            </td>
            <td>${{deposits_finished_income}}</td>
        </tr>
    </table>
</div>
<div class="table-responsive text-nowrap">
    <div class="container ps-0" style="height: 500px; overflow-y: auto;">
        <table class="table">
            <thead>
                <tr>
                    <th>Invoice</th>
                    <th>Client</th>
                    <th class="text-end">Deposited</th>
                    <th class="text-end">Towit Compensation</th>
                    <th class="text-end">Returned</th>
                    <th>Days</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
            </thead>
            <tbody>
                {% for deposit in deposits_finished %}
                    <tr>
                        <td>
                            <a class="btn btn-link btn-icon"
                               href="{% url 'trailer-deposit-conditions-pdf' deposit.jwt_token %}">
                                <i class='bx bx-printer' ></i>
                            </a>
                            <a href="{%url 'trailer-deposit-details' deposit.id %}">
                                {{deposit.invoice_num}}
                            </a>
                        </td>
                        <td>{{ deposit.client.name|slice:":20" }}</td>
                        <td class="text-end font-bold">${{ deposit.amount|floatformat:"2" }}</td>
                        <td class="text-end text-success font-bold">${{ deposit.income|floatformat:"2" }}</td>
                        <td class="text-end text-danger font-bold">${{ deposit.returned|floatformat:"2" }}</td>
                        <td>{{ deposit.days }}</td>
                        <td>{{ deposit.date|date:"E, d Y" }}</td>
                        <td>{{ deposit.valid_until|date:"E, d Y" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
