{% extends 'base/base.html' %}
{% block title %}
    Dashboard
{% endblock title %}
{% block content %}
    <div class="card">
        <h5 class="card-header">Service incomes</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>date</th>
                        <th>Parts</th>
                        <th>Services</th>
                        <th>Consumables</th>
                        <th>Third party</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>
                                <strong>{{ order.associated }}</strong>
                            </td>
                            <td>{{ order.terminated_date|date:"D, d" }}</td>
                            <td>${{ order.parts|floatformat:"2" }}</td>
                            <td>${{ order.service|floatformat:"2" }}</td>
                            <td>${{ order.consumable|floatformat:"2" }}</td>
                            <td>${{ order.third_party|floatformat:"2" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="table-border-bottom-0">
                    <tr>
                        <th></th>
                        <th>
                            <strong>Total =</strong>
                        </th>
                        <th>${{ parts|floatformat:"2" }}</th>
                        <th>${{ service|floatformat:"2" }}</th>
                        <th>${{ consumable|floatformat:"2" }}</th>
                        <th>${{ third_party|floatformat:"2" }}</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock content %}
