{% extends 'base/base.html' %}
{% load month_name %}
{% load l10n %}
{% load static %}
{% load humanize %}
{% load tz %}
{% block title %}
    Dashboard
{% endblock title %}
{% block page %}
    <style>
        .trailers-available {
            height: 380px;
            overflow-y: auto;
        }

        .chapilla{
            position: relative;
        }
        .chapilla a{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .chapilla a span{
            font-size: 15px;
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-100%, -20%);
        }
        .chapilla span{
            font-size: 15px;
            position: absolute;
            bottom: 5%;
            right: 5%;
        }
    </style>
{% endblock page %}
{% block content %}
    {% localize on %}
    <div class="row">
        <div class="col-lg-12 mb-4 order-0">
            <div class="card">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-7">
                        <div class="card-body">
                            <h5 class="card-title text-primary">
                                Business Insights <strong>{{ last_date|date:"M, d" }}</strong>
                            </h5>
                            <a href="{% url 'weekly-report-date' last_date|date:"mdY" %}"
                               class="btn btn-sm btn-outline-primary">Week details</a>
                        </div>
                    </div>
                </div>
                <div class="card-body row">
                    {% for indicator in indicators %}
                        <div class="col-lg-4 col-md-4 col-6 p-0">
                            <div class="card m-2">
                                <div class="card-body">
                                    <div class="card-title d-flex align-items-start justify-content-between">
                                        <div class="avatar flex-shrink-0">
                                            <img src="{% static indicator.icon %}" alt="chart success" class="rounded">
                                        </div>
                                        <div class="dropdown">
                                            <button class="btn p-0"
                                                    type="button"
                                                    id="cardOpt3"
                                                    data-bs-toggle="dropdown"
                                                    aria-haspopup="true"
                                                    aria-expanded="false">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-end"
                                                 aria-labelledby="cardOpt3"
                                                 style="">
                                                <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="fw-semibold d-block mb-1">{{ indicator.name }}</span>
                                    <h4 class="card-title mb-2">${{ indicator.amount|floatformat:"0"|intcomma }}</h4>
                                    <small class="{% if indicator.positive %}text-success fw-semibold{% else %}text-danger fw-semibold{% endif %}">
                                        {% if indicator.increment > 0 %}
                                            <i class="bx bx-up-arrow-alt"></i>
                                        {% else %}
                                            <i class="bx bx-down-arrow-alt"></i>
                                        {% endif %}
                                    {{ indicator.increment|floatformat:"-2" }}%</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!--Graph overview-->
        <div class="col-md-6 col-lg-6 mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <h5>Monthly history</h5>
                    <ul class="nav nav-pills" role="tablist">
                        {% for indicator in indicators %}
                            {% if indicator.series %}
                                <li class="nav-item">
                                    <button type="button"
                                            class="nav-link {% if forloop.counter0 < 1 %}active{% endif %}"
                                            role="tab"
                                            data-bs-toggle="tab"
                                            data-bs-target="#navs-tabs-line-card-{{ indicator.name }}"
                                            aria-controls="navs-tabs-line-card-{{ indicator.name }}"
                                            aria-selected="true">{{ indicator.name }}</button>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-body px-0">
                    <div class="tab-content p-0">
                        {% for indicator in indicators %}
                            {% if indicator.series %}
                                <div class="tab-pane fade {% if forloop.counter0 < 1 %}show active{% endif %}"
                                     id="navs-tabs-line-card-{{ indicator.name }}"
                                     role="tabpanel"
                                     style="position: relative">
                                    <div id="{{ indicator.name }}Chart"></div>
                                    <div class="resize-triggers">
                                        <div class="expand-trigger">
                                            <div style="width: 650px; height: 650px;"></div>
                                        </div>
                                        <div class="contract-trigger"></div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 mb-4">
            <div class="card">
                <div class="list-head">
                    <h5 class="card-header">
                        Repair debt: <strong>${{ total|floatformat:"0" }}</strong>
                        <a href="{% url 'list-debtor' %}"
                           class="btn btn-sm btn-outline-primary float-end">Details</a>
                    </h5>
                </div>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Debt</th>
                                <th>Since</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            {% for associated in associates reversed %}
                                <tr data-search="{{ associated.name }}{{ associated.phone_number }}">
                                    <td>{% include "users/associated_line.html" %}</td>
                                    <td>
                                        <a href="{% url 'pay-debt' associated.id %}">${{ associated.debt|floatformat:"2" }}</a>
                                    </td>
                                    <td>
                                        <a {% if associated.overdue %}class="bg-label-danger p-1 rounded"{% endif %}
                                           href="{% url 'detail-service-order' associated.oldest_debt.id %}">
                                            {{ associated.oldest_debt.terminated_date|timesince }}
                                        </a>
                                        {% if associated.weekly_payment %}
                                            <br>
                                            <span {% if associated.late %}class="text-danger"{% endif %}>
                                                ${{ associated.weekly_payment|floatformat:"0" }}/week
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 mb-4">
            <div class="card">
                <div class="list-head">
                    <h5 class="card-header">
                        Trailers available: <strong>{{ available|length }}</strong>
                        <a href="{% url 'list-trailer' %}"
                           class="btn btn-sm btn-outline-primary float-end">All</a>
                    </h5>
                </div>
                <div class="card-body pt-0 scroll trailers-available">
                    {% for equipment in available %}
                        <hr />
                        <div class="d-flex">
                            {% include "rent/equipment_line.html" with equipment_type="trailer" pinned_image=equipment.pinned_image %}
                            <a class="btn btn-icon btn-outline-primary"
                               type="button"
                               href="{% url 'select-lessee' equipment.id %}">
                                <span class="tf-icons bx bx-key" style="font-size:1.5em"></span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 mb-4">
            <div class="card">
                <div class="list-head">
                    <h5 class="card-header">
                        Rental debt: <strong>${{ rental_debt|floatformat:"0" }}</strong>
                        <a href="{% url 'client-list' %}"
                           class="btn btn-sm btn-outline-primary float-end">Details</a>
                    </h5>
                    <ul class="nav nav-pills ps-2" role="tablist">
                        <li class="nav-item">
                            <button type="button"
                                    class="nav-link active"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-tabs-line-card-date"
                                    aria-controls="navs-tabs-line-card-date"
                                    aria-selected="true">By date</button>
                        </li>
                        <li class="nav-item">
                            <button type="button"
                                    class="nav-link"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-tabs-line-card-amount"
                                    aria-controls="navs-tabs-line-card-amount"
                                    aria-selected="true">By amount</button>
                        </li>
                        <li class="nav-item">
                            <button type="button"
                                    class="nav-link"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-tabs-line-card-yesterday"
                                    aria-controls="navs-tabs-line-card-yesterday"
                                    aria-selected="true">Yesterday</button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content p-0">
                    <div class="tab-pane fade show active"
                         id="navs-tabs-line-card-date"
                         role="tabpanel">
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Debt</th>
                                        <th>Overdue</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    {% for associated in clients_by_date %}
                                        <tr data-search="{{ associated.name }}{{ associated.phone_number }}">
                                            <td>{% include "users/associated_line.html" %}</td>
                                            <td>
                                                <a href="{% url 'client-detail' associated.id %}">${{ associated.debt|floatformat:"2" }}</a>
                                            </td>
                                            <td>
                                                <spam
                                                {% if associated.overdue %}class="bg-label-danger p-1 rounded"{% endif %}
                                                >
                                                {{ associated.last_payment|timesince }}
                                                </spam>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="navs-tabs-line-card-amount" role="tabpanel">
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Debt</th>
                                        <th>Overdue</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    {% for associated in clients_by_amount %}
                                        <tr data-search="{{ associated.name }}{{ associated.phone_number }}">
                                            <td>{% include "users/associated_line.html" %}</td>
                                            <td>
                                                <a href="{% url 'client-detail' associated.id %}">${{ associated.debt|floatformat:"2" }}</a>
                                            </td>
                                            <td>
                                                <spam
                                                {% if associated.overdue %}class="bg-label-danger p-1 rounded"{% endif %}
                                                >
                                                {{ associated.last_payment|timesince }}
                                                </spam>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade"
                         id="navs-tabs-line-card-yesterday"
                         role="tabpanel">
                        <div class="table-responsive text-nowrap">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Debt</th>
                                        <th>Overdue</th>
                                    </tr>
                                </thead>
                                <tbody class="table-border-bottom-0">
                                    {% for associated in yesterday_dues %}
                                        <tr data-search="{{ associated.name }}{{ associated.phone_number }}">
                                            <td>{% include "users/associated_line.html" %}</td>
                                            <td>
                                                <a href="{% url 'client-detail' associated.id %}">${{ associated.debt|floatformat:"2" }}</a>
                                            </td>
                                            <td>
                                                <spam
                                                {% if associated.overdue %}class="bg-label-danger p-1 rounded"{% endif %}
                                                >
                                                {{ associated.last_payment|timesince }}
                                                </spam>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <div class="list-head">
                    <h5 class="card-header">
                        Ordenes pendientes por cobrar: <strong>{{ payment_pending|length }}</strong>
                        <a href="{% url 'list-service-order' %}"
                           class="btn btn-sm btn-outline-primary float-end">All</a>
                    </h5>
                </div>
                <div class="card-body pt-0">
                    <table class='table'>
                        <thead>
                            <th>
                                <i class="bx bx-cog"></i>
                            </th>
                            <th>Client</th>
                            <th>Concept</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </thead>
                        <tbody>
                        {% for order in payment_pending %}
                            {% include "services/order_item.html" with order=order %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endlocalize %}
<script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
<script>
        let cardColor, headingColor, axisColor, shadeColor, borderColor;

        cardColor = config.colors.white;
        headingColor = config.colors.headingColor;
        axisColor = config.colors.axisColor;
        borderColor = config.colors.borderColor;
        (function () {

        let selector, time_labels, profit_data

        time_labels = [{% for label in time_labels %}'{{label}}',{% endfor %}];
        {% for indicator in indicators %}
            {% if indicator.series %}
                data = [{% for value in indicator.series %}{{value}},{% endfor %}];
                plotChart('#{{indicator.name}}Chart', time_labels, data, "{{indicator.name}}");
            {% endif %}
        {% endfor %}
        })();

        // Area chart
        // --------------------------------------------------------------------
        function plotChart(selector, time_labels, data, indicator){
            const chartEl = document.querySelector(selector),
            chartConfig = {
            series: [
                {
                data: data,
                name: indicator
                }
            ],
            chart: {
                height: 215,
                parentHeightOffset: 0,
                parentWidthOffset: 0,
                toolbar: {
                show: false
                },
                type: 'area'
            },
            tooltip: {
                y: {
                    formatter: function (val) {
                        return '$' + parseInt(val);
                      }
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                width: 2,
                curve: 'smooth'
            },
            legend: {
                show: false
            },
            markers: {
                size: 6,
                colors: 'transparent',
                strokeColors: 'transparent',
                strokeWidth: 4,
                discrete: [
                {
                    fillColor: config.colors.white,
                    seriesIndex: 0,
                    dataPointIndex: data.length-1,
                    strokeColor: config.colors.primary,
                    strokeWidth: 2,
                    size: 6,
                    radius: 8
                }
                ],
                hover: {
                size: 7
                }
            },
            colors: [config.colors.primary],
            fill: {
                type: 'gradient',
                gradient: {
                shade: shadeColor,
                shadeIntensity: 0.6,
                opacityFrom: 0.5,
                opacityTo: 0.25,
                stops: [0, 95, 100]
                }
            },
            grid: {
                borderColor: borderColor,
                strokeDashArray: 3,
                padding: {
                top: -20,
                bottom: -8,
                left: 5,
                right: 8
                }
            },
            xaxis: {
                categories: time_labels,
                axisBorder: {
                show: false
                },
                axisTicks: {
                show: false
                },
                labels: {
                show: true,
                style: {
                    fontSize: '13px',
                    colors: axisColor
                }
                }
            },
            yaxis: {
                labels: {
                    show: true,
                    formatter: function (val) {
                        if (val === 0){
                            return '';
                        }
                        return '$' + (val/1000).toFixed(1) + 'k';
                    }
                },
                tickAmount: 4
            }
            };
        if (typeof chartEl !== undefined && chartEl !== null) {
            const chart = new ApexCharts(chartEl, chartConfig);
            chart.render();
        }
        }
</script>
{% endblock content %}
