{% extends 'base/base.html' %}
{% load month_name %}
{% load static %}
{% load tz %}
{% block title %}
    Dashboard
{% endblock title %}
{% block content %}
    {% localtime on %}
    <style>
        .invoice-descrpition{
            width: 100%;
        }
    </style>
    {% block nav %}
    {% endblock nav %}
    <div class="card mb-3">
        <!-- Services -->
        <h5 class="card-header d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            Total cost:
            <div class="text-success">
                <strong>{{ total.gross|floatformat:"2" }}</strong>
                <span class="text-muted">USD</span>
            </div>
        </h5>
        {% include "./table_membership.html" with initial=False %}
        {% if orders.has_initial == True %}
            <h5 class="card-header d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">Initial:</h5>
            {% include "./table_membership.html" with initial=True total=total_initial %}
        {% endif %}
    </div>
{% endlocaltime %}
{% endblock content %}
