{% extends 'statistics.html' %}
{% load static %}
{% load month_name %}
{% block nav %}
    <!-- Month -->
    <div class="text-center">
        <div class="demo-inline-spacing pb-3">
            <a type="button"
               href="{% url 'monthly-report-date' previousYear previousMonth %}"
               class="btn btn-icon btn-outline-primary">
                <span class="tf-icons bx bx-chevron-left"></span>
            </a>
            <button type="button" class="btn btn-outline-primary">{{ currentMonth | month_name }}</button>
            <a type="button"
               href="{% url 'monthly-report-date' nextYear nextMonth %}"
               class="btn btn-icon btn-outline-primary">
                <span class="tf-icons bx bx-chevron-right"></span>
            </a>
        </div>
    </div>
{% endblock nav %}
