{% extends 'base/base.html' %}
{% load static %}
{% load tz %}
{% block title %}
    Dashboard
{% endblock title %}
{% block content %}
    <style>
        .invoice-descrpition{
            width: 100%;
        }
    </style>
    {% localtime on %}
    {% block nav %}
    {% endblock nav %}
    <div class="row">
        <!-- Order Statistics -->
        <div class="col-md-4 col-lg-4 col-xl-4 order-0 mb-4">
            <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between pb-0">
                    <div class="card-title mb-0">
                        <h5 class="m-0 me-2">Order Statistics</h5>
                        <small class="text-muted">{{ orders|length }} Service Orders</small>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3"
                         style="position: relative">
                        <div class="d-flex flex-column align-items-center gap-1">
                            {% comment %} <h4 class="mb-2">${{ total.net|floatformat:"0" }}</h4>
                            <span>Profit before costs</span> {% endcomment %}
                            <h4 class="mb-2">${{ membership|floatformat:"0" }}</h4>
                            <span>TOWIT trailers</span>
                        </div>
                        <div id="orderStatisticsChart"></div>
                        <div class="resize-triggers">
                            <div class="expand-trigger">
                                <div style="width: 602px; height: 139px;"></div>
                            </div>
                            <div class="contract-trigger"></div>
                        </div>
                    </div>
                    <ul class="p-0 m-0">
                        <li class="d-flex mb-4 pb-1">
                            <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-primary"><i class="bx bx-dollar"></i></span>
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">Labor income</h6>
                                    <small class="text-muted">Total amount</small>
                                </div>
                                <div class="user-progress">
                                    <small class="fw-semibold">${{ orders.labor|floatformat:"0" }}</small>
                                </div>
                            </div>
                        </li>
                        <li class="d-flex mb-4 pb-1">
                            <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-warning"><i class="bx bx-coin-stack"></i></span>
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">Discount</h6>
                                    <small class="text-muted">From labor</small>
                                </div>
                                <div class="user-progress">
                                    <small class="fw-semibold">${{ total.discount|floatformat:"0" }}</small>
                                </div>
                            </div>
                        </li>
                        <li class="d-flex mb-4 pb-1">
                            <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-secondary"><i class="bx bx-repost"></i></span>
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">Parts</h6>
                                    <small class="text-muted">Cost from stock</small>
                                </div>
                                <div class="user-progress">
                                    <small class="fw-semibold">${{ total.parts|floatformat:"0" }}</small>
                                </div>
                            </div>
                        </li>
                        <li class="d-flex mb-4 pb-1">
                            <div class="avatar flex-shrink-0 me-3">
                                <span class="avatar-initial rounded bg-label-danger"><i class="bx bx-dollar"></i></span>
                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">Tax</h6>
                                    <small class="text-muted">Taxes collected</small>
                                </div>
                                <div class="user-progress">
                                    <small class="fw-semibold">${{ total.tax|floatformat:"0" }}</small>
                                </div>
                            </div>
                        </li>
                        {% if total.third_party > 0 %}
                            <li class="d-flex mb-4 pb-1">
                                <div class="avatar flex-shrink-0 me-3">
                                    <span class="avatar-initial rounded bg-label-success"><i class="bx bx-credit-card"></i></span>
                                </div>
                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <div class="me-2">
                                        <h6 class="mb-0">Third Party</h6>
                                        <small class="text-muted">Outsourced services</small>
                                    </div>
                                    <div class="user-progress">
                                        <small class="fw-semibold">${{ total.third_party|floatformat:"0" }}</small>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                        {% if total.consumable > 0 %}
                            <li class="d-flex">
                                <div class="avatar flex-shrink-0 me-3">
                                    <span class="avatar-initial rounded bg-label-info"><i class="bx bx-archive"></i></span>
                                </div>
                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <div class="me-2">
                                        <h6 class="mb-0">Supplies</h6>
                                        <small class="text-muted">Cost of supplies</small>
                                    </div>
                                    <div class="user-progress">
                                        <small class="fw-semibold">${{ total.consumable|floatformat:"0" }}</small>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Costs Statistics -->
        <div class="col-md-4 col-lg-4 col-xl-4 order-0 mb-4">
            <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between pb-0">
                    <div class="card-title mb-0">
                        <h5 class="m-0 me-2">Costs Statistics</h5>
                        <small class="text-muted">{{ costs|length }} Cost Items</small>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3"
                         style="position: relative">
                        <div class="d-flex flex-column align-items-center gap-1">
                            <h4 class="mb-2">${{ profit|floatformat:"0" }}</h4>
                            <span>Total Profit</span>
                        </div>
                        <div id="costStatisticsChart"></div>
                        <div class="resize-triggers">
                            <div class="expand-trigger">
                                <div style="width: 602px; height: 139px;"></div>
                            </div>
                            <div class="contract-trigger"></div>
                        </div>
                    </div>
                    <ul class="p-0 m-0">
                        {% for cat in cost_cats %}
                            <li class="d-flex mb-4 pb-1">
                                <div class="avatar flex-shrink-0 me-3">
                                    <img {% if cat.icon %} src="{{ cat.icon.url }}" {% else %} src="{% static 'assets/img/icons/no_image.jpg' %}" {% endif %}
                                         alt=""
                                         class="rounded" />
                                </div>
                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <div class="me-2">
                                        <h6 class="mb-0">{{ cat.name }}</h6>
                                        <small class="text-muted">{{ cat.items }} items</small>
                                    </div>
                                    <div class="user-progress">
                                        {% if interval == 'weekly' %}
                                            <a href="/erp/weekly-costs/{{ cat.id }}/{{ start_date|date:'mdY' }}"
                                               class="text-white badge bg-{% if forloop.counter0 > 2 and cost_cats|length > 4 %}secondary{% else %}{{ cat.style }}{% endif %}">${{ cat.amount|floatformat:"0" }}</a>
                                        {% else %}
                                            <a href="/erp/monthly-costs/{{ cat.id }}/{{ currentYear }}/{{ currentMonth }}"
                                               class="text-white badge bg-{% if forloop.counter0 > 2 and cost_cats|length > 4 %}secondary{% else %}{{ cat.style }}{% endif %}">${{ cat.amount|floatformat:"0" }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Payment Statistics -->
        <div class="col-md-4 col-lg-4 col-xl-4 order-0 mb-4">
            <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between pb-0">
                    <div class="card-title mb-0">
                        <h5 class="m-0 me-2">Payment Statistics</h5>
                        <small class="text-muted">{{ payment_transactions }} Transactions</small>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3"
                         style="position: relative">
                        <div class="d-flex flex-column align-items-center gap-1">
                            <h4 class="mb-2">${{ debt_paid|floatformat:"0" }}</h4>
                            <span>Debt payments</span>
                        </div>
                        <div id="paymentStatisticsChart"></div>
                        <div class="resize-triggers">
                            <div class="expand-trigger">
                                <div style="width: 602px; height: 139px;"></div>
                            </div>
                            <div class="contract-trigger"></div>
                        </div>
                    </div>
                    <ul class="p-0 m-0">
                        {% for cat in payment_cats %}
                            <li class="d-flex mb-4 pb-1">
                                <div class="avatar flex-shrink-0 me-3 mt-0">
                                    <img {% if cat.icon %} src="{{ cat.icon.url }}" {% else %} src="{% static 'assets/img/icons/no_image.jpg' %}" {% endif %}
                                         alt=""
                                         class="rounded" />
                                </div>
                                {% comment %}
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">{{ cat.name }}</h6>
                                    <small class="text-muted">{{ cat.transactions }} transactions</small>
                                </div>
                                <div class="user-progress"> 
                                    {% block amount %}
                                    {% endblock amount %}
                                </div>
                            </div> 
                                {% endcomment %}
                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-0">
                                    <h6 class="mb-0">{{ cat.name }}</h6>
                                    {% block amount %}
                                    {% endblock amount %}
                                    {% if cat.services != 0 %}
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                                            <small class="text-muted">{{ cat.services }} services</small>
                                            {% if cat.payments != 0 %}
                                                {% block amount_services %}
                                                {% endblock amount_services %}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% if cat.payments != 0 %}
                                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between">
                                            <small class="text-muted">{{ cat.payments }} payments</small>
                                            {% if cat.services != 0 %}
                                                {% block amount_payments %}
                                                {% endblock amount_payments %}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}

                        <!-- {%if towit_payment_total%} -->
                        <!--     <li class="d-flex mb-4 pb-1"> -->
                        <!--         <div class="avatar flex-shrink-0 me-3 mt-0"> -->
                        <!--             <img src="{% static 'assets/img/icons/company.png' %}" -->
                        <!--                  alt="" -->
                        <!--                  class="rounded" /> -->
                        <!--         </div> -->
                        <!--         <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-0"> -->
                        <!--             <h6 class="mb-0">Towit Payment</h6> -->
                        <!--             <a type="button"> -->
                        <!--                 <small class="badge bg-secondary"> -->
                        <!--                     ${{ towit_payment_total|floatformat:"0" }} -->
                        <!--                 </small> -->
                        <!--             </a> -->
                        <!---->
                        <!--             <div class="d-flex w-100 flex-wrap align-items-center justify-content-between"> -->
                        <!--                 <small class="text-muted"> -->
                        <!--                     {{ towit_payment_count }} -->
                        <!--                     {%if towit_payment_count == 1 %} -->
                        <!--                         payment -->
                        <!--                     {%else%} -->
                        <!--                         payments -->
                        <!--                     {%endif%} -->
                        <!--                 </small> -->
                        <!--             </div> -->
                        <!--         </div> -->
                        <!--     </li> -->
                        <!-- {%endif%} -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="nav-align-top">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <button type="button"
                            class="nav-link active"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-top-parts"
                            aria-controls="navs-top-home"
                            aria-selected="true">Parts</button>
                </li>
                <li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-top-orders"
                            aria-controls="navs-top-profile"
                            aria-selected="false">Services</button>
                </li>
                <li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-top-supplies"
                            aria-controls="navs-top-messages"
                            aria-selected="false">Supplies</button>
                </li>
                <li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-top-costs"
                            aria-controls="navs-top-messages"
                            aria-selected="false">Costs</button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="navs-top-parts" role="tabpanel">
                    <div class="d-flex mb-4 pb-1">
                        <div class="avatar flex-shrink-0 me-3">
                            <span class="avatar-initial rounded bg-label-secondary"><i class="bx bx-repost"></i></span>
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                                <h6 class="mb-0">Parts income ({{ parts_utility|floatformat:"0" }}%)</h6>
                                <small class="text-muted">Price: ${{ parts_price|floatformat:"0" }}, Cost: ${{ parts_cost|floatformat:"0" }}</small>
                            </div>
                            <div class="user-progress">
                                <div class="text-success">
                                    <strong>{{ parts_profit|floatformat:"0" }}</strong>
                                    <span class="text-muted">USD</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="invoice-descrpition">Name</th>
                                    <th>Qty</th>
                                    <th>Unit</th>
                                    <th>Price</th>
                                    <th>Ave Price</th>
                                    <th>Cost</th>
                                    <th>Ave Cost</th>
                                    <th>Profit</th>
                                    <th>%</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for part in products %}
                                    {% if part.type == 'part' %}
                                        <tr>
                                            <td>
                                                <a href={% url 'detail-product' part.id %}>{{ part.name }}</a>
                                            </td>
                                            <td>
                                                <div class="float-end">{{ part.quantity|floatformat:"-2" }}</div>
                                            </td>
                                            <td>{{ part.unit }}</td>
                                            <td>
                                                <div class="float-end">${{ part.price|floatformat:"2" }}</div>
                                            </td>
                                            <td>
                                                <div class="float-end">
                                                    <strong>${{ part.average_price|floatformat:"2" }}</strong>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="float-end">${{ part.cost|floatformat:"2" }}</div>
                                            </td>
                                            <td>
                                                <div class="float-end">
                                                    <strong>${{ part.average_cost|floatformat:"2" }}</strong>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="{% if part.profit < 0 %}"
                                                     "
                                                     float-end
                                                     text-danger
                                                     "
                                                     {% else %}
                                                     "
                                                     float-end
                                                     "
                                                     {% endif %}>${{ part.profit|floatformat:"2" }}</div>
                                            </td>
                                            <td>
                                                <div class="{% if part.profit < 0 %}"
                                                     "
                                                     float-end
                                                     text-danger
                                                     "
                                                     {% else %}
                                                     "
                                                     float-end
                                                     "
                                                     {% endif %}>{{ part.efficiency|floatformat:"0" }}%</div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="navs-top-orders" role="tabpanel">
                    <!-- Services -->
                    <h5 class="card-header d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                        Profit before costs:
                        <div class="text-success">
                            <strong>{{ total.net|floatformat:"2" }}</strong>
                            <span class="text-muted">USD</span>
                        </div>
                    </h5>
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Client</th>
                                    <th>date</th>
                                    <th>Gross</th>
                                    <th>Method</th>
                                    <th>Net</th>
                                    <th>Labor</th>
                                    <th>Parts</th>
                                    <th>Supplies</th>
                                    <th>3d pty</th>
                                    <th>Discnt</th>
                                    <th>Tax</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr data-search="{{ order.associated.name }}{{ order.company.name }}">
                                        <td>
                                            <a href={% url 'detail-service-order' order.id %}> <strong>
                                                {% if order.associated %}
                                                    {{ order.associated }}
                                                {% elif order.company %}
                                                    {{ order.company }}
                                                {% else %}
                                                    None
                                                {% endif %}
                                            </strong></a>
                                        </td>
                                        <td>{{ order.terminated_date|date:"D, d" }}</td>
                                        <td>
                                            <div class="float-end">${{ order.amount|floatformat:"2" }}</div>
                                        </td>
                                        <td>
                                            <ul class="list-unstyled users-list m-0 d-flex align-items-center">
                                                {% for payment in order.payments %}
                                                    <li class="avatar">
                                                        <img {% if payment.category.icon %} src="{{ payment.category.icon.url }}" {% else %} src="{% static 'assets/img/icons/no_image.jpg' %}" {% endif %}
                                                             alt="…"
                                                             class="">
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>
                                            <div class="float-end">
                                                <strong>${{ order.net|floatformat:"2" }}</strong>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="{% if order.labor < 0 %}"
                                                 "
                                                 float-end
                                                 text-danger
                                                 "
                                                 {% else %}
                                                 "
                                                 float-end
                                                 "
                                                 {% endif %}>${{ order.labor|floatformat:"2" }}</div>
                                        </td>
                                        <td>
                                            <div class="float-end">${{ order.parts|floatformat:"2" }}</div>
                                        </td>
                                        <td>
                                            <div class="float-end">${{ order.consumable|floatformat:"2" }}</div>
                                        </td>
                                        <td>
                                            <div class="float-end">${{ order.third_party|floatformat:"2" }}</div>
                                        </td>
                                        <td>
                                            <div class="float-end">${{ order.discount|floatformat:"2" }}</div>
                                        </td>
                                        <td>
                                            <div class="float-end">${{ order.tax|floatformat:"2" }}</div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot class="table-border-bottom-0">
                                <tr>
                                    <th></th>
                                    <th>
                                        <strong>Total =</strong>
                                    </th>
                                    <th>
                                        <div class="float-end">${{ total.gross|floatformat:"2" }}</div>
                                    </th>
                                    <th></th>
                                    <th>
                                        <div class="float-end">${{ total.net|floatformat:"2" }}</div>
                                    </th>
                                    <th>
                                        <div class="float-end">${{ total.labor|floatformat:"2" }}</div>
                                    </th>
                                    <th>
                                        <div class="float-end">${{ total.parts|floatformat:"2" }}</div>
                                    </th>
                                    <th>
                                        <div class="float-end">${{ total.consumable|floatformat:"2" }}</div>
                                    </th>
                                    <th>
                                        <div class="float-end">${{ total.third_party|floatformat:"2" }}</div>
                                    </th>
                                    <th>
                                        <div class="float-end">${{ total.discount|floatformat:"2" }}</div>
                                    </th>
                                    <th>
                                        <div class="float-end">${{ total.tax|floatformat:"2" }}</div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="navs-top-supplies" role="tabpanel">
                    <h5 class="card-header d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                        Supplies:
                        <div class="{% if consumables_profit > 0 %}text-success{% elif consumables_profit < 0 %}text-danger{% endif %}">
                            <strong>{{ consumables_profit|floatformat:"2" }}</strong>
                            <span class="text-muted">USD</span>
                        </div>
                    </h5>
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="invoice-descrpition">Name</th>
                                    <th>Quantity</th>
                                    <th>Unit</th>
                                    <th>Profit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for part in products %}
                                    {% if part.type == 'consumable' %}
                                        <tr>
                                            <td>
                                                <strong>{{ part.name }}</strong>
                                            </td>
                                            <td>
                                                <div class="float-end">{{ part.quantity|floatformat:"-2" }}</div>
                                            </td>
                                            <td>{{ part.unit }}</td>
                                            <td>
                                                <div class="float-end">
                                                    <div class="{% if part.profit > 0 %}text-success{% elif part.profit < 0 %}text-danger{% endif %}">
                                                        <strong>{{ part.profit|floatformat:"2" }}</strong>
                                                        <span class="text-muted">USD</span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="navs-top-costs" role="tabpanel">
                    <h5 class="card-header d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                        Costs:
                        <div class="text-danger">
                            <strong>{{ costs.total|floatformat:"2" }}</strong>
                            <span class="text-muted">USD</span>
                        </div>
                    </h5>
                    <div class="table-responsive text-nowrap">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Amount</th>
                                    <th>concept</th>
                                    <th>date</th>
                                    <th>cat</th>
                                    <th>User</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cost in costs %}
                                    <tr data-search="{{ cost.concept }}">
                                        <td class="text-end">${{ cost.amount|floatformat:"2" }}</td>
                                        <td>
                                            <strong>{{ cost.concept }}</strong>
                                        </td>
                                        <td>{{ cost.date|date:"D, d" }}</td>
                                        <td>
                                            {% if cost.category.icon %}
                                                <img {% if cost.category.icon %} src="{{ cost.category.icon.url }}" {% else %} src="{% static 'assets/img/icons/no_image.jpg' %}" {% endif %}
                                                     alt=""
                                                     class="w-px-40" />
                                            {% else %}
                                                {{ cost.category.name }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if cost.related_to %}
                                                <div class="avatar avatar-online">
                                                    {% if cost.related_to.profile_user.avatar %}
                                                        <img src="{{ cost.related_to.profile_user.avatar.url }}"
                                                             alt=""
                                                             class="w-px-40 rounded-circle" />
                                                    {% else %}
                                                        <span style="font-size:1.5em"
                                                              class="badge badge-center rounded-pill bg-primary w-px-40 h-px-40">
                                                            {{ cost.related_to.first_name|first }}
                                                        </span>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot class="table-border-bottom-0">
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>
                                        <strong>Total =</strong>
                                    </th>
                                    <th>
                                        <div class="float-end">${{ costs.total|floatformat:"2" }}</div>
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endlocaltime %}
<script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
<script>

(function () {
    let labels, series, colors;

    // Order Statistics Chart
    // --------------------------------------------------------------------
    labels = ['Labor', 'Parts', 'Discount', 'Third'];
    series = [{{orders.labor|floatformat:"0"}}, {{total.parts|floatformat:"0"}}, {{total.discount|floatformat:"0"}}, {{total.third_party|floatformat:"0"}}],
    colors = [config.colors.primary, config.colors.secondary, config.colors.warning, config.colors.success];

    plotChart('#orderStatisticsChart', labels, series, colors, '${{ total.gross|floatformat:"0" }}')

    // Cost Statistics Chart
    // --------------------------------------------------------------------
    labels = [{% for cat in chart_costs %}'{{cat.name}}',{% endfor %}];
    series = [{% for cat in chart_costs %}{{cat.amount|floatformat:"0"}},{% endfor %}];
    colors = [{% for cat in chart_costs %}"{{cat.chartColor}}",{% endfor %}];
    plotChart('#costStatisticsChart', labels, series, colors, '${{ costs.total|floatformat:"0" }}')

    // Payment Statistics Chart
    // --------------------------------------------------------------------
    cats = [
        {%for cat in chart_payments%}
            {
                'name': "{{cat.name}}",
                'amount': {{cat.amount|floatformat:'0'}},
                'color': "{{cat.chartColor}}",
            },
        {%endfor%}

            //{
            //    'name': "Towit",
            //    'amount': {{towit_payment_total|floatformat:'0'}},
            //    'color': "#A8A8A8",
            //},
    ]
    cats = cats.sort((a,b) => {
        return b.amount - a.amount
    })

    //labels = [{% for cat in chart_payments %}'{{cat.name}}',{% endfor %} "Towit",];
    //series = [{% for cat in chart_payments %}{{cat.amount|floatformat:"0"}},{% endfor %} {{towit_payment_total|floatformat:'0'}},];
    //colors = [{% for cat in chart_payments %}"{{cat.chartColor}}",{% endfor %} '555555',];
    labels = []
    series = []
    colors = []
    cats.forEach(e => {
        labels.push(e.name)
        series.push(e.amount)
        colors.push(e.color)
    })
    total = {{ payment_total }} // + {{ towit_payment_total }}
    plotChart('#paymentStatisticsChart', labels, series, colors, '$' + parseInt(total))
     
})();

function plotChart(selector, labels, series, colors, total){

    let cardColor, headingColor, axisColor, shadeColor, borderColor;
  
    cardColor = config.colors.white;
    headingColor = config.colors.headingColor;
    axisColor = config.colors.axisColor;
    borderColor = config.colors.borderColor;

    const chartStatistics = document.querySelector(selector),
    chartConfig = {
       chart: {
         height: 185,
         width: 185,
         type: 'donut'
       },
       labels: labels,
       series: series,
       colors: colors,
       stroke: {
         width: 7,
         colors: cardColor
       },
       dataLabels: {
         enabled: false,
         formatter: function (val, opt) {
           return parseInt(val) + '%';
         }
       },
       legend: {
         show: false
       },
       grid: {
         padding: {
           top: 0,
           bottom: 0,
           right: 15
         }
       },
       plotOptions: {
         pie: {
           donut: {
             size: '75%',
             labels: {
               show: true,
               value: {
                 fontSize: '1.5rem',
                 fontFamily: 'Public Sans',
                 color: headingColor,
                 offsetY: -15,
                 formatter: function (val) {
                   return '$' + parseInt(val);
                 }
               },
               name: {
                 offsetY: 20,
                 fontFamily: 'Public Sans'
               },
               total: {
                 show: true,
                 fontSize: '0.8125rem',
                 color: axisColor,
                 label: 'Total',
                 formatter: function (w) {
                   return total;
                 }
               }
             }
           }
         }
       }
     };
    if (typeof chartStatistics !== undefined && chartStatistics !== null) {
        const statisticsChart = new ApexCharts(chartStatistics, chartConfig);
        statisticsChart.render();
   }
}
</script>
{% endblock content %}
