<div class="table-responsive text-nowrap">
    <table class="table">
        <thead class="sticky top-0 bg-white">
            <tr>
                <th>VIN</th>
                <th>date</th>
                <th>Gross</th>
                <th>Net</th>
                <th>Parts</th>
                <th>Supplies</th>
                <th>3d pty</th>
                <th>Discnt</th>
                <th>Tax</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                {% if order.is_initial == initial %}
                    <tr data-search="{{ order.trailer.vin }}">
                        <td>
                            <a href={% url 'detail-trailer' order.trailer.id %}>{{ order.trailer.vin }}</a>
                        </td>
                        <td>{{ order.terminated_date|date:"D, d" }}</td>
                        <td>
                            <div class="float-end">${{ order.amount|floatformat:"2" }}</div>
                        </td>
                        <td>
                            <div class="float-end">
                                <strong>${{ order.net|floatformat:"2" }}</strong>
                            </div>
                        </td>
                        <td>
                            <div class="float-end">${{ order.parts|floatformat:"2" }}</div>
                        </td>
                        <td>
                            <div class="float-end">${{ order.consumable|floatformat:"2" }}</div>
                        </td>
                        <td>
                            <div class="float-end">${{ order.third_party|floatformat:"2" }}</div>
                        </td>
                        <td>
                            <div class="float-end">${{ order.discount|floatformat:"2" }}</div>
                        </td>
                        <td>
                            <div class="float-end">${{ order.tax|floatformat:"2" }}</div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        <tfoot class="table-border-bottom-0">
            <tr>
                <th>
                    <strong>Total =</strong>
                </th>
                <th></th>
                <th>
                    <div class="float-end">${{ total.gross|floatformat:"2" }}</div>
                </th>
                <th>
                    <div class="float-end">${{ total.net|floatformat:"2" }}</div>
                </th>
                <th>
                    <div class="float-end">${{ total.parts|floatformat:"2" }}</div>
                </th>
                <th>
                    <div class="float-end">${{ total.consumable|floatformat:"2" }}</div>
                </th>
                <th>
                    <div class="float-end">${{ total.third_party|floatformat:"2" }}</div>
                </th>
                <th>
                    <div class="float-end">${{ total.discount|floatformat:"2" }}</div>
                </th>
                <th>
                    <div class="float-end">${{ total.tax|floatformat:"2" }}</div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
