{% load static %}
<div class="table-responsive text-nowrap">
    <table class="table">
        <thead class="sticky top-0 bg-white">
            <tr>
                <th>Invoice</th>
                <th>VIN</th>
                <th>Status</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                {% if order.is_initial == initial %}
                    <tr data-search="{{ order.trailer.vin }}">
                        <td>
                            <a href="{% url 'detail-service-order' order.id %}">
                                {{ order.concept|upper|slice:3 }}{{ order.associated.id }}-{{ order.id|stringformat:"04i" }}
                            </td>
                        </a>
                        <td>
                            <a href={% url 'detail-trailer' order.trailer.id %}>{{ order.trailer.vin }}</a>
                        </td>
                        <td>
                            {% if order.associated %}
                                <div>
                                    <span class="text-main cursor-pointer"
                                          @click="() => showRepStatus({{ order.js }})">Rented</span>
                                </div>
                                <div>{{ order.associated.name|truncatewords:'1' }}</div>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ order.terminated_date|date:"D, d" }}</td>
                        <td>
                            <div class="float-end">${{ order.amount|floatformat:"2" }}</div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        <tfoot class="table-border-bottom-0">
            <tr>
                <th>
                    <strong>Total =</strong>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                    <div class="float-end">${{ total.gross|floatformat:"2" }}</div>
                </th>
            </tr>
        </tfoot>
    </table>
</div>
