{% extends 'base/base.html' %}
{% load month_name %}
{% load static %}
{% load tz %}
{% block title %}
    Dashboard
{% endblock title %}
{% block content %}
    <style>
        .invoice-descrpition{
            width: 100%;
        }
    </style>
    {% localtime on %}
    <!-- Week -->
    <div class="text-center">
        <div class="demo-inline-spacing pb-3">
            <a type="button"
               href="{% url 'weekly-membership-date' previousWeek %}"
               class="btn btn-icon btn-outline-primary">
                <span class="tf-icons bx bx-chevron-left"></span>
            </a>
            <button type="button" class="btn btn-outline-primary">{{ start_date|date:"d/M" }} - {{ end_date|date:"d/M" }}</button>
            <a type="button"
               href="{% url 'weekly-membership-date' nextWeek %}"
               class="btn btn-icon btn-outline-primary">
                <span class="tf-icons bx bx-chevron-right"></span>
            </a>
        </div>
    </div>
    <div class="card mb-3">
        <!-- Services -->
        <h5 class="card-header d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            Total cost:
            <div class="text-success">
                <strong>{{ total.gross|floatformat:"2" }}</strong>
                <span class="text-muted">USD</span>
            </div>
        </h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>date</th>
                        <th>Gross</th>
                        <th>Net</th>
                        <th>Parts</th>
                        <th>Supplies</th>
                        <th>3d pty</th>
                        <th>Discnt</th>
                        <th>Tax</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        <tr data-search="{{ order.associated.name }}{{ order.company.name }}">
                            <td>
                                <a href={% url 'detail-service-order' order.id %}> <strong>
                                    {% if order.associated %}
                                        {{ order.associated }}
                                    {% elif order.company %}
                                        {{ order.company }}
                                    {% else %}
                                        None
                                    {% endif %}
                                </strong></a>
                            </td>
                            <td>{{ order.terminated_date|date:"D, d" }}</td>
                            <td>
                                <div class="float-end">${{ order.amount|floatformat:"2" }}</div>
                            </td>
                            <td>
                                <div class="float-end">
                                    <strong>${{ order.net|floatformat:"2" }}</strong>
                                </div>
                            </td>
                            <td>
                                <div class="float-end">${{ order.parts|floatformat:"2" }}</div>
                            </td>
                            <td>
                                <div class="float-end">${{ order.consumable|floatformat:"2" }}</div>
                            </td>
                            <td>
                                <div class="float-end">${{ order.third_party|floatformat:"2" }}</div>
                            </td>
                            <td>
                                <div class="float-end">${{ order.discount|floatformat:"2" }}</div>
                            </td>
                            <td>
                                <div class="float-end">${{ order.tax|floatformat:"2" }}</div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot class="table-border-bottom-0">
                    <tr>
                        <th></th>
                        <th>
                            <strong>Total =</strong>
                        </th>
                        <th>
                            <div class="float-end">${{ total.gross|floatformat:"2" }}</div>
                        </th>
                        <th>
                            <div class="float-end">${{ total.net|floatformat:"2" }}</div>
                        </th>
                        <th>
                            <div class="float-end">
                                ${{ total.parts|floatformat:"2" }}
                            </div>
                        </th>
                        <th>
                            <div class="float-end">
                                ${{ total.consumable|floatformat:"2" }}
                            </div>
                        </th>
                        <th>
                            <div class="float-end">
                                ${{ total.third_party|floatformat:"2" }}
                            </div>
                        </th>
                        <th>
                            <div class="float-end">
                                ${{ total.discount|floatformat:"2" }}
                            </div>
                        </th>
                        <th>
                            <div class="float-end">
                                ${{ total.tax|floatformat:"2" }}
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endlocaltime %}
{% endblock content %}
