{% extends "statistics.html" %}
{% load static %}
{% block nav %}
    <!-- Week -->
    <div class="text-center">
        <div class="demo-inline-spacing pb-3">
            <a type="button"
               href="{% url 'weekly-report-date' previousWeek %}"
               class="btn btn-icon btn-outline-primary">
                <span class="tf-icons bx bx-chevron-left"></span>
            </a>
            <button type="button" class="btn btn-outline-primary">{{ start_date|date:"d/M" }} - {{ end_date|date:"d/M" }}</button>
            <a type="button"
               href="{% url 'weekly-report-date' nextWeek %}"
               class="btn btn-icon btn-outline-primary">
                <span class="tf-icons bx bx-chevron-right"></span>
            </a>
    
        </div>
    </div>
    <div class="text-center">
        <div class="demo-inline-spacing pb-3">  
            
            <a type="button" class="btn btn-outline-primary" onclick="weekStatsRecalculate('{% url 'week-stats-recalculate' currentDate %}', '')">stats recalculate </a>
            <span class="tf-icons bx"></span>
            

        <script>
            function weekStatsRecalculate(url, name) {
                let confirmAction = confirm("Are you sure to recalculate this statistics?");
                if (confirmAction) {
                    window.location = url;
                }
            }
        </script>
        </div>
    </div>


{% endblock nav %}
{% block amount %}
    {% include "payment_amount.html" with interval="week" week=currentDate year="" month="" %}
{% endblock amount %}
