{% extends 'base/base_form.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Delete From Register
{% endblock title %}

{% block content %}
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Delete From Register</h5>
                <a onclick="" type="button">
                    <span class="tf-icons bx bx-trash"></span>
                </a>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
