{% extends 'base/base_list.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block Ttitle %}
    <h5 class="card-header d-flex flex-row justify-content-between">
        <p>
            {% if type == 'client' %}
                Clients
            {% elif type == 'provider' %}
                Providers
            {% endif %}
        </p>
    </h5>
{% endblock Ttitle %}
{% block Theader %}
    <th>
        <i class="bx bx-cog"></i>
    </th>
    <th>Name</th>
    <th>Contact</th>
    <th>Last Order</th>
{% endblock Theader %}

