{% extends 'base/base_list.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block Ttitle %}
    <h5 class="card-header d-flex flex-row justify-content-between">
        <p>
            {% if type == 'client' %}
                Clients
            {% elif type == 'provider' %}
                Providers
            {% endif %}
        </p>
    </h5>
{% endblock Ttitle %}
{% block Theader %}
    <th>
        <i class="bx bx-cog"></i>
    </th>
    <th>Call SID</th>
    <th>From Phone Number</th>
    <th>To Phone Number</th>
    <th>From Country</th>
    <th>From City</th>
{% endblock Theader %}

{% block Tbody %}
    {% for llamada in llamadas %}
        <tr>
            <td>{{ llamada.call_sid }}</td>
            <td>{{ llamada.from_phone_number }}</td>
            <td>{{ llamada.to_phone_number }}</td>
            <td>{{ llamada.from_country }}</td>
            <td>{{ llamada.from_city }}</td>
        </tr>
    {% endfor %}
{% endblock Tbody %}
