{% extends 'base/base_list.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock title %}
{% block Ttitle %}
    <h5 class="card-header d-flex flex-row justify-content-between">
        <p>
            {% if type == 'client' %}
                Clients
            {% elif type == 'provider' %}
                Providers
            {% endif %}
        </p>
    </h5>
{% endblock Ttitle %}
{% block Theader %}
    <th>
        <i class="bx bx-cog"></i>
    </th>
    <th>Name</th>
    <th>From Phone Number</th>
    <th>To Phone Number</th>
{% endblock Theader %}

{% block Tbody %}
    {% for llamada in llamadas %}
        <tr x-show='match("{{ llamada.from_phone_number|escapejs }}", $store.search.search) || match("{{ llamada.from_country|escapejs }}", $store.search.search) || match("{{ llamada.associated|escapejs }}", $store.search.search)'>
            <td>
                {% if type == 'client' %}
                    {% url 'create-client' as create_url %}
                {% elif type == 'provider' %}
                    {% url 'create-provider' as create_url %}
                {% endif %}
                {% if llamada.associated %}
                    <a href={% url 'update-associated' llamada.associated.id %}>
                        <i class="bx">📝</i>
                    </a>
                {%else%}
                    <a href="{{ create_url }}?phone_number={{ llamada.from_phone_number }}">
                        <i class="bx">➕</i>
                    </a>
                {% endif %}
            </td>
            <td>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                        <div data-tag="{{ llamada.associated }}">
                            <h6 class="mb-0" x-html='highlightMatch("{{ llamada.associated|escapejs }}", $store.search.search)'>
                                {{ llamada.associated }}
                            </h6>
                        </div>
                </div>
            </td>                 
            <td>
                <div class="d-flex pb-1">
                    <div class="avatar flex-shrink-0 me-3">
                        {% if llamada.associated %}
                            <a href={% url 'detail-associated' llamada.associated.id %}>
                                <span class="avatar-initial rounded-circle bg-label-primary">
                                    <img {% if llamada.associated.avatar %} src="{{ llamada.associated.avatar.url }}" {% else %} src="{% static 'assets/img/icons/user.png' %}" {% endif %}
                                        alt="Avatar"
                                        height="100px"
                                        width="100px"
                                        class="w-px-40 rounded-circle" />
                                </span>
                            </a>
                        {% else %}
                            <span class="avatar-initial rounded-circle bg-label-primary">
                                <img src="{% static 'assets/img/icons/user.png' %}" 
                                    alt="Avatar"
                                    height="100px"
                                    width="100px"
                                    class="w-px-40 rounded-circle" />
                            </span>
                        {% endif %}
                    </div>
                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                        <div data-tag="{{ llamada.from_phone_number }}{{ llamada.from_country }}" class="me-2  llamada-data">
                            <h6 class="mb-0" x-html='highlightMatch("{{ llamada.from_phone_number|escapejs }}", $store.search.search)'>
                                {{ llamada.from_phone_number }}
                            </h6>
                            {% if llamada.from_country %}
                                <small class="text-muted" x-html='highlightMatch("{{ llamada.from_country|escapejs }}", $store.search.search)'>
                                    {{ llamada.from_country }}
                                </small>
                            {% else %}
                                <small class="text-muted">-</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </td>
            <td>{{ llamada.to_phone_number }}</td>
        </tr>
    {% endfor %}
    {% block addButton %}
    {% endblock addButton%}
{% endblock Tbody %}
