{% extends 'base/base_form.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Añadir Transacción
{% endblock title %}
{% block content %}
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Crear nueva transacción</h5>
            </div>
            <form enctype="multipart/form-data" method="post" id="update-form">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-12">
                            Product: <b>{{ product.name }}</b>
                            <a class="btn btn-icon btn-outline-primary float-end"
                               type="button"
                               href="{% url 'detail-order' order_id %}">
                                <span class="tf-icons bx bx-edit"></span>
                            </a>
                        </div>
                    </div>
                    {% crispy form %}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
