{% extends 'base/base_list.html' %}
{% block title %}
    Categorías de productos
{% endblock title %}
{% block Ttitle %}
    Categorías de productos
{% endblock Ttitle %}
{% block Theader %}
    <th>Categoría</th>
{% endblock Theader %}
{% block Tbody %}
    {% for category in categories %}
        <tr>
            <td>
                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ category.name }}</strong>
            </td>
        </tr>
    {% endfor %}
{% endblock Tbody %}
{% block createUrl %}
    {% url 'create-category' %}
{% endblock createUrl %}
