{% extends 'base/base_list.html' %}
{% block title %}
    Products
{% endblock title %}
{% block card %}
    <h5 class="card-header">Products</h5>
    <div class="nav-align-top mb-4">
        <ul class="nav nav-pills mb-3 nav-fill" role="tablist">
            <li class="nav-item">
                <button type="button"
                        class="nav-link active"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-pills-justified-home"
                        aria-controls="navs-pills-justified-home"
                        aria-selected="true">
                    <i class="tf-icons bx bx-repost"></i> Parts
                    {% if part_alerts > 0 %}
                        <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger">{{ part_alerts }}</span>
                    {% endif %}
                </button>
            </li>
            <li class="nav-item">
                <button type="button"
                        class="nav-link"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-pills-justified-profile"
                        aria-controls="navs-pills-justified-profile"
                        aria-selected="false">
                    <i class="tf-icons bx bx-archive"></i> Consumables
                    {% if consumable_alerts > 0 %}
                        <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger">{{ consumable_alerts }}</span>
                    {% endif %}
                </button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active show"
                 id="navs-pills-justified-home"
                 role="tabpanel">
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Stock</th>
                                <th>Unit</th>
                                <th>Price</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            {% for product in products %}
                                {% if product.type == 'part' %}
                                    <tr>
                                        <td>
                                            <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ product.name }}</strong>
                                        </td>
                                        <td>
                                            {% if product.quantity_min > 0 and product.quantity < product.quantity_min %}
                                                <spam class="alert-danger">{{ product.quantity|floatformat:"-2" }}</spam>
                                            {% else %}
                                                {{ product.quantity|floatformat:"-2" }}
                                            {% endif %}
                                        </td>
                                        <td>{{ product.unit }}</td>
                                        <td>${{ product.sell_price|floatformat:"-2" }}</td>
                                        <td>${{ product.average_cost|floatformat:"-2" }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade"
                 id="navs-pills-justified-profile"
                 role="tabpanel">
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Stock</th>
                                <th>Unit</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            {% for product in products %}
                                {% if product.type == 'consumable' %}
                                    <tr>
                                        <td>
                                            <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ product.name }}</strong>
                                        </td>
                                        <td>
                                            {% if product.quantity_min > 0 and product.quantity < product.quantity_min %}
                                                <spam class="alert-danger">{{ product.quantity|floatformat:"-2" }}</spam>
                                            {% else %}
                                                {{ product.quantity|floatformat:"-2" }}
                                            {% endif %}
                                        </td>
                                        <td>{{ product.unit }}</td>
                                        <td>${{ product.average_cost|floatformat:"-2" }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock card %}
{% block createUrl %}
    {% url 'create-product' %}
{% endblock createUrl %}
