{% extends 'base/base_card.html' %}
{% load static %}
{% block title %}
    Categorías de productos
{% endblock title %}
{% block Ctitle %}
    Categorías de productos
{% endblock Ctitle %}
{% block Cards %}
    {% for category in object_list %}
        <div class="col-6 col-md-3 mb-3 text-center">
            <div class="card h-100">
                <img class="card-img-top"
                     {% if category.icon %} src="{{ category.icon.url }}" {% else %} src="{% static 'images/icons/no_image.jpg' %}" {% endif %}
                     alt="{{ category.name }} icon">
                <div class="card-body">
                    <h5 class="card-title">{{ category.name }}</h5>
                    <div class="demo-inline-spacing">
                        <a class="btn btn-icon btn-outline-primary"
                           type="button"
                           href="{% url 'update-category' category.id %}">
                            <span class="tf-icons bx bx-edit"></span>
                        </a>
                        <a onclick="deleteCategory('{% url 'delete-category' category.id %}', '{{ category.name }}')"
                           type="button"
                           class="btn btn-icon btn-outline-danger">
                            <span class="tf-icons bx bx-trash"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <script>
        function deleteCategory(url, name) {
            let confirmAction = confirm("Are you sure to delete the category " + name + "?");
            if (confirmAction) {
                window.location = url;
            }
        }
    </script>
{% endblock Cards %}
{% block createUrl %}
    {% url 'create-category' %}
{% endblock createUrl %}
