{% load static %}
<thead>
    <tr>
        <th>
            <i class="bx bx-cart"></i>
        </th>
        <th>Name</th>
        <th>Cost</th>
    </tr>
</thead>
<tbody class="table-border-bottom-0" x-data>
    {% for service in services %}
        <tr data-tag="{{ service.category }}"
            x-show='match("{{service.name|escapejs}}", $store.search.search)'
        >
            <td>
                <a href={% url 'create-kit-service' kit_id service.id %}><i class="bx bx-plus"></i></a>
            </td>
            <td class="pl-0">
                <strong x-html='highlightMatch("{{service.name|escapejs}}", $store.search.search)'>{{ service.name }}</strong>
            </td>
            <td>${{ service.suggested_price|floatformat:"-2" }}</td>
        </tr>
    {% endfor %}
</tbody>
