<thead>
    <tr>
        <th>
            <i class="bx bx-cart"></i>
        </th>
        <th>Name</th>
        <th>Cost</th>
    </tr>
</thead>
<tbody class="table-border-bottom-0">
    {% for service in services %}
        <tr data-tag="{{ service.category }}">
            <td>
                <a href={% url next order_id service.id %}><i class="bx bx-plus"></i></a>
            </td>
            <td class="pl-0">
                <i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ service.name }}</strong>
            </td>
            <td>${{ service.suggested_price|floatformat:"-2" }}</td>
        </tr>
    {% endfor %}
</tbody>
