{% load static %}
<div class="col-md-6 col-lg-6 mb-4">
    <div class="card" x-data="{on_hold: false}">
        <div class="list-head">
            <h5 class="card-header flex justify-between items-center">
                <div>
                    {{ title }}: <strong>{{ available|length }}</strong>
                </div>
                <div class="flex items-center">
                    <div class="btn-group">
                        <button class="btn btn-icon btn-outline-primary"
                                :class="on_hold || 'active'"
                                @click="on_hold = false"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="Trailers availables">
                            <i class='bx bx-key'></i>
                        </button>
                        <button class="btn btn-icon btn-outline-primary"
                                :class="on_hold && 'active'"
                                @click="on_hold = true"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="Trailers On Hold">
                            <i class='bx bx-calendar-check' ></i>
                        </button>
                    </div>

                    <a href="{% url 'list-trailer' %}"
                       class="btn btn-outline-primary ml-2">
                        All
                    </a>
                </div>
            </h5>
        </div>
        <div class="card-body pt-0 scroll trailers-available" x-show="!on_hold">
            {% for equipment in available %}
                <hr />
                <div class="d-flex">
                    {% include "rent/equipment_line.html" with equipment_type="trailer" pinned_image=equipment.pinned_image %}
                    <a class="btn btn-icon btn-outline-primary"
                       type="button"
                       href="{% url 'select-lessee' equipment.id %}">
                        <i class='bx bx-key'></i>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="card-body pt-0 scroll trailers-available" x-show="on_hold">
            {% for equipment in on_hold %}
                <hr />
                <div class="d-flex">
                    {% include "rent/equipment_line.html" with equipment_type="trailer" pinned_image=equipment.pinned_image %}
                    <a class="btn btn-icon btn-outline-{%if equipment.on_hold.expirated%}danger{%else%}primary{%endif%}"
                       type
                       None="button"
                       href="{% url 'trailer-deposit-details' equipment.on_hold.id %}">
                        <span class="tf-icons bx bx-calendar-check"></span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
