{% load static %}
<div class="col-md-6 col-lg-6 mb-4">
    <div class="card" x-data="{on_hold: false}">
        <div class="list-head">
            <h5 class="card-header flex justify-between items-center">
                <template x-if='!on_hold'>
                    <div>
                        {{ title }}: <strong>{{ available|length }}</strong>
                    </div>
                </template>
                <template x-if='on_hold'>
                    <div>
                        Trailers on hold: <strong>{{ on_hold|length }}</strong>
                    </div>
                </template>
                <div class="flex items-center">
                    <div class="btn-group">
                        <button class="btn btn-icon btn-outline-primary"
                                :class="on_hold || 'active'"
                                @click="on_hold = false"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="Trailers availables">
                            <i class='bx bx-key'></i>
                        </button>
                        <button class="btn btn-icon btn-outline-primary"
                                :class="on_hold && 'active'"
                                @click="on_hold = true"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                data-bs-custom-class="custom-tooltip"
                                data-bs-title="Trailers On Hold">
                            <i class='bx bx-calendar-check' ></i>
                        </button>
                    </div>

                    <a href="{% url 'list-trailer' %}"
                       class="btn btn-outline-primary ml-2">
                        All
                    </a>
                </div>
            </h5>
        </div>
        <div class="card-body pt-0 scroll trailers-available" x-show="!on_hold">
            {% for equipment in available %}
                <hr />
                <div class="d-flex">
                    {% include "rent/equipment_line.html" with equipment_type="trailer" pinned_image=equipment.pinned_image %}
                    {% if equipment.current_contract %}
                        {% include "rent/contract_icon.html" with contract=equipment.current_contract %}
                    {% else %}
                        <a class="btn btn-icon btn-outline-primary"
                           type="button"
                           href="{% url 'select-lessee' equipment.id %}">
                            <i class='bx bx-key'></i>
                        </a>
                        <a class="btn btn-icon btn-outline-primary"
                           type
                           None="button"
                           href="{% url 'reserve-trailer' equipment.id %}">
                            <i class='bx bx-calendar'></i>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="card-body pt-0 scroll trailers-available" x-show="on_hold">
            {% for equipment in on_hold %}
                <hr />
                <div class="flex">
                    {% include "rent/equipment_line.html" with equipment_type="trailer" pinned_image=equipment.pinned_image %}
                    {% if equipment.current_contract %}
                        {% include "rent/contract_icon.html" with contract=equipment.current_contract %}
                    {% else %}
                        <a class="btn btn-outline-{%if equipment.on_hold.expirated%}danger{%else%}primary{%endif%} flex items-center px-1 py-[0.1rem]"
                           type
                           None="button"
                           href="{% url 'trailer-deposit-details' equipment.on_hold.id %}">
                            <span class="tf-icons bx bx-calendar-check"></span>
                            <div class="text-left text-[0.6rem] ml-1">
                                <div class="whitespace-nowrap">{{equipment.on_hold.valid_until}}</div>
                                <div class="text-[0.55rem]">
                                    {{equipment.on_hold.remaining_days}}
                                    {% if equipment.on_hold.remaining_days == 1 %}
                                        day
                                    {% else %}
                                        days
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
