{% extends "base/base.html" %}
{% load static %}
{% block page %}
    <style>
        .upper-right {
        position: absolute;
        top: 2em;
        right: 2em;
        }
    </style>
{% endblock page %}
{% block content %}
    <div class="card mb-3">
        <div class="card-body">{% include "users/associated_line.html" with associated=client %}</div>
        <a href="{% url 'rental-payment' client.id %}"
           type="button"
           class="btn btn-icon btn-outline-primary upper-right">
            <span class="tf-icons bx bx-dollar"></span>
        </a>
        <div class="card-body pt-0">
            <h5>Emergency contact:</h5>
            <div class="d-flex pb-1">
                <a class="btn btn-icon btn-outline-primary me-3"
                   type
                   None="button"
                   href="tel:{{ client.data.contact_phone }}">
                    <span class="tf-icons bx bx-phone-call"></span>
                </a>
                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                    <div class="me-2  associated-data">
                        <h6 class="mb-0">{{ client.data.contact_name }}</h6>
                        <small class="text-muted">{{ client.data.contact_phone }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="list-head">
            <div class="demo-inline-spacing">
                <h5 class="card-header">Leases</h5>
            </div>
            <div class="card-body tabs pt-0">
                <div class="nav-align-top">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        {% for lease in leases %}
                            <li class="nav-item">
                                <button type="button"
                                        class="nav-link {% if forloop.first %}active{% endif %}"
                                        role="tab"
                                        data-bs-toggle="tab"
                                        data-bs-target="#navs-pills-justified-{{ lease.id }}"
                                        aria-controls="navs-pills-justified-{{ lease.id }}"
                                        aria-selected="true">
                                    {{ lease.contract.trailer }}
                                    {% if lease.unpaid_dues|length > 0 %}
                                        <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger">{{ lease.unpaid_dues|length }}</span>
                                    {% endif %}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content pb-0">
            {% for lease in leases %}
                <div class="tab-pane fade {% if forloop.first %}active show{% endif %}"
                     id="navs-pills-justified-{{ lease.id }}"
                     role="tabpanel">
                    <h5 class="ps-3">
                        {% if lease.remaining %}Remaining: ${{ lease.remaining|floatformat:"0" }}{% endif %}
                        {% if lease.debt %}Debt: ${{ lease.debt|floatformat:"0" }}{% endif %}
                        <a class="btn btn-icon btn-outline-primary float-end"
                           href="{% url 'detail-contract' lease.contract.id %}">
                            <img src="{% static 'assets/img/icons/contract.jpg' %}"
                                 alt="contract icon"
                                 class="h-px-20 w-auto" />
                        </a>
                    </h5>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Due payments:</strong>
                            <ul>
                                {% for due in lease.unpaid_dues %}
                                    <li>
                                        <i class="tf-icons bx bx-calendar text-danger"></i>{{ due.start|date:"m/d/Y" }} - <strong>${{ lease.payment_amount|floatformat:"0" }}</strong>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <strong>Payment history:</strong>
                            <ul>
                                {% for payment in lease.payments %}
                                    <li>
                                        Payment: {{ payment.date_of_payment|date:"m/d/Y" }} - <strong>${{ payment.amount|floatformat:"0" }}</strong>
                                        <ul>
                                            {% for due in payment.dues %}
                                                <li>
                                                    <i class="tf-icons bx bx-calendar text-success"></i>{{ due.due_date|date:"m/d/Y" }} - ${{ due.amount|floatformat:"0" }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
