{% extends "base/base_list.html" %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block card %}
    <div class="list-head">
        <div class="demo-inline-spacing">
            <h5 class="card-header">Lessees</h5>
        </div>
        <div class="card-body tabs">
            <div class="nav-align-top">
                <ul class="nav nav-pills nav-fill" role="tablist">
                    <li class="nav-item">
                        <button type="button"
                                class="nav-link active"
                                role="tab"
                                data-bs-toggle="tab"
                                data-bs-target="#navs-pills-justified-active"
                                aria-controls="navs-pills-justified-active"
                                aria-selected="true">
                            <i class="tf-icons bx bx-check"></i> Active
                            <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-secondary">{{ n_active }}</span>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button"
                                class="nav-link"
                                role="tab"
                                data-bs-toggle="tab"
                                data-bs-target="#navs-pills-justified-processing"
                                aria-controls="navs-pills-justified-processing"
                                aria-selected="false">
                            <i class="tf-icons bx bx-edit"></i> Preparing
                            <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-secondary">{{ n_processing }}</span>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button"
                                class="nav-link"
                                role="tab"
                                data-bs-toggle="tab"
                                data-bs-target="#navs-pills-justified-ended"
                                aria-controls="navs-pills-justified-ended"
                                aria-selected="false">
                             Ended
                            <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-secondary">{{ n_ended }}</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-content p-0">
        <div class="tab-pane fade active show"
             id="navs-pills-justified-active"
             role="tabpanel">
            <div class="table-responsive text-nowrap">
                <table class="table" id="table_active">
                    <thead>
                        <tr>
                            <th>
                                <i class="bx bx-cog"></i>
                            </th>
                            <th>Client</th>
                            <th>Debt</th>
                            <th>Alarm</th>
                            <th>Trailer</th>
                            <th>Overdue</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% for client in clients %}
                            {% if client.contract.stage == "active" %}
                                <tr data-search="{{ client.trailer.vin }}{{ client.trailer.model }}{{ client.trailer.manufacturer }}{{ client.name }}{{ client.phone_number }}">
                                    <td>
                                        <a href={% url 'client-detail' client.id %}><i class="bx bx-dots-vertical-rounded"></i></a>
                                    </td>
                                    <td>{% include "users/associated_line.html" with associated=client %}</td>
                                    <td>${{ client.debt }}</td>
                                    <td>
                                        {% if client.contract.contract_type == 'lto' and  client.contract.paid %}
                                            <img src="{% static 'assets/img/icons/paid.png' %}"
                                                 alt="contract icon"
                                                 class="h-px-40 w-auto" />
                                        {% else %}
                                            <a href="{% url 'toggle-alarm' client.lease.id %}"
                                               type="button"
                                               class="btn btn-icon btn-outline-primary upper-right">
                                                {% if client.lease.notify %}
                                                    <i class="bx bx-alarm"></i>
                                                {% else %}
                                                    <i class="bx bx-alarm-off"></i>
                                                {% endif %}
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            {% include "rent/equipment_line.html" with equipment=client.trailer equipment_type="trailer" pinned_image=client.trailer.pinned_image %}
                                        </div>
                                    </td>
                                    <td>
                                        {% if client.debt %}
                                            {{ client.last_payment|timesince }}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade"
             id="navs-pills-justified-processing"
             role="tabpanel">
            <div class="table-responsive text-nowrap">
                <table class="table" id="table_consumables">
                    <thead>
                        <tr>
                            <th>
                                <i class="bx bx-cog"></i>
                            </th>
                            <th>Client</th>
                            <th>Trailer</th>
                            <th>Effective Date</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% for client in clients %}
                            {% if client.contract.stage != "active" and client.contract.stage != "ended" %}
                                <tr data-search="{{ client.trailer.vin }}{{ client.trailer.model }}{{ client.trailer.manufacturer }}{{ client.name }}{{ client.phone_number }}">
                                    <td>
                                        <a href={% url 'detail-contract' client.contract.id %}><i class="bx bx-dots-vertical-rounded"></i></a>
                                    </td>
                                    <td>{% include "users/associated_line.html" with associated=client %}</td>
                                    <td>
                                        <div class="d-flex">
                                            {% include "rent/equipment_line.html" with equipment=client.trailer equipment_type="trailer" pinned_image=client.trailer.pinned_image %}
                                        </div>
                                    </td>
                                    <td>
                                        {% if client.debt %}
                                            {{ client.contract.effective_date|date:"m/d/Y" }}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade"
             id="navs-pills-justified-ended"
             role="tabpanel">
            <div class="table-responsive text-nowrap">
                <table class="table" id="table_consumables">
                    <thead>
                        <tr>
                            <th>
                                <i class="bx bx-cog"></i>
                            </th>
                            <th>Client</th>
                            <th>Debt</th>
                            <th>Trailer</th>
                            <th>Ended Date</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        {% for client in clients %}
                            {% if client.contract.stage == "ended" %}
                                <tr data-search="{{ client.trailer.vin }}{{ client.trailer.model }}{{ client.trailer.manufacturer }}{{ client.name }}{{ client.phone_number }}">
                                    <td>
                                        <a href={% url 'detail-contract' client.contract.id %}><i class="bx bx-dots-vertical-rounded"></i></a>
                                    </td>
                                    <td>{% include "users/associated_line.html" with associated=client %}</td>
                                    <td>${{ client.debt }}</td>
                                    <td>
                                        <div class="d-flex">
                                            {% include "rent/equipment_line.html" with equipment=client.trailer equipment_type="trailer" pinned_image=client.trailer.pinned_image %}
                                        </div>
                                    </td>
                                    <td>
                                        {% if client.debt %}
                                            {{ client.contract.ended_date|date:"m/d/Y" }}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock card %}
{% block add %}
    hidden
{% endblock add %}
