{% extends 'base/base_form.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Añadir Asociado
{% endblock title %}
{% block img_id %}
    const img_id = "id_avatar";
{% endblock img_id %}
{% block content %}
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Crear nuevo asociado</h5>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" method="post" id="update-form">
                    {% csrf_token %}
                    {% crispy form %}
                    <div>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
