{% extends 'base/base_list.html' %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block Ttitle %}
    <h5 class="card-header">
        {% if type == 'client' %}
            Clients
        {% elif type == 'provider' %}
            Providers
        {% endif %}
    </h5>
{% endblock Ttitle %}
{% block Theader %}
    <th>Name</th>
    <th></th>
    <th>note</th>
    <th>
        <i class="bx bx-cog"></i>
    </th>
{% endblock Theader %}
{% block Tbody %}
    {% for associated in associateds %}
        <tr>
            <td>
                <strong>{{ associated.name }}</strong>
            </td>
            <td>
                {% if associated.avatar %}
                    <div class="avatar avatar-xs pull-up">
                        <img src="{{ associated.avatar.url }}" alt="Avatar" class="rounded-circle">
                    </div>
                {% endif %}
            </td>
            <td>{{ associated.note|truncatechars:30 }}</td>
            <td>
                <a href={% url 'update-associated' associated.id %}><i class="bx bx-dots-vertical-rounded"></i></a>
            </td>
        </tr>
    {% endfor %}
{% endblock Tbody %}
{% block createUrl %}
    {% if type == 'client' %}
        {% url 'create-client' %}
    {% elif type == 'provider' %}
        {% url 'create-provider' %}
    {% endif %}
{% endblock createUrl %}
