{% extends 'base/base_card.html' %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block Ctitle %}
    <h5 class="card-header">
        {% if type == 'client' %}
            Clients
        {% elif type == 'provider' %}
            Providers
        {% endif %}
    </h5>
{% endblock Ctitle %}
{% block Cards %}
    {% for associated in associateds %}
        {% include "./associated_card.html" with update=1 %}
    {% endfor %}
{% endblock Cards %}
{% block createUrl %}
    {% if type == 'client' %}
        {% url 'create-client' %}
    {% elif type == 'provider' %}
        {% url 'create-provider' %}
    {% endif %}
{% endblock createUrl %}
{% block help %}
    {% if type == 'client' %}
        Create new client
    {% elif type == 'provider' %}
        Create new provider
    {% endif %}
{% endblock help %}
