{% extends 'base/base_select.html' %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block Ctitle %}
    Select company
    {% if skip %}
        <a href="{% url 'select-equipment-type' %}"
           type="button"
           class="btn btn-outline-primary float-end">Skip</a>
    {% endif %}
{% endblock Ctitle %}
{% block Cards %}
    {% for company in companies %}
        <div class="col-md-6 infocard">{% include "users/company/select_card.html" %}</div>
    {% endfor %}
{% endblock Cards %}
{% block createUrl %}
    {% url 'create-company' %}?next={{ request.path|urlencode }}
{% endblock createUrl %}
{% block help %}
    New company
{% endblock help %}
