{% extends 'base/base.html' %}
{% load static %}
{% block page %}
    <style>
        .add {
            position: fixed;
            font-size: 27px;
            bottom: 3rem;
            right: 1.625rem;
            z-index: 999999;
            box-shadow: 0 1px 20px 1px #696cff;
        }
        .tooltip-inner{
            font-size: 10px;
        }
        .associated-pic{
            position: relative;
        }
        .lang-flag{
            position: absolute;
            bottom: 0;
            left: 50%; /* position the left edge of the element at the middle of the parent */      
            transform: translate(25px, 0);
        }
    </style>
{% endblock page %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h5>
                <strong>{{ title }}</strong>
            </h5>
        </div>
        <div class="card-body text-center">
            <div class="demo-inline-spacing mb-2 associated-pic">
                <img {% if contact.avatar %} src="{{ contact.avatar.url }}" {% elif type == 'company' %} src="{% static 'assets/img/icons/company.png' %}" {% elif type == 'associated' %} src="{% static 'assets/img/icons/user.png' %}" {% endif %}
                     alt="Avatar"
                     height="100px"
                     width="100px"
                     class="w-px-100 h-px-100 rounded-circle card-img-top"/>
                <img {% if contact.language == "english" %}src="{% static 'assets/img/icons/en.png' %}"{% else %} src="{% static 'assets/img/icons/es.png' %}" {% endif %}
                     alt="Avatar"
                     height="40px"
                     width="40px"
                     class="w-px-40 h-px-40 rounded-circle lang-flag"/>
            </div>
            <h5 class="card-title">{{ contact.name }}</h5>
            {% if contact.alias %}<div class="card-subtitle text-muted mb-3">{{ contact.alias }}</div>{% endif %}
            <div class="card-subtitle text-muted mb-3">{{ contact.contact }}</div>
            <p class="card-text">{{ contact.note }}</p>
            <div class="demo-inline-spacing">
                {% if contact.phone_number %}
                    <a class="btn btn-icon btn-outline-primary"
                       type
                       None="button"
                       href="tel:{{ contact.phone_number }}">
                        <span class="tf-icons bx bx-phone-call"></span>
                    </a>
                {% endif %}
                {% if contact.email %}
                    <a class="btn btn-icon btn-outline-primary"
                       type
                       None="button"
                       href="mailto:{{ contact.email }}">
                        <span class="tf-icons bx bx-mail-send"></span>
                    </a>
                {% endif %}
                <a class="btn btn-icon btn-outline-primary"
                   type
                   None="button"
                   {% if type == 'company' %}
                   href="{% url 'update-company' contact.id %}">
                {% elif type == 'associated' %}
                    href="{% url 'update-associated' contact.id %}">
                {% endif %}
                <span class="tf-icons bx bx-edit"></span>
            </a>
        </div>
    </div>
    <div class="card-header">
        <h5>
            <strong>Service orders</strong> - ${{ orders.total|floatformat:"2" }}
        </h5>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Amount</th>
                    <th>Debt</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr data-search="{{ order.concept }}">
                        <td>
                            <a href="{% url 'detail-service-order' order.id %}"><strong>{{ order.concept }}</strong></a>
                        </td>
                        <td>{{ order.created_date|date:"SHORT_DATE_FORMAT" }}</td>
                        <td>
                            <span class="badge bg-label-{% if order.status == 'processing' %}primary{% elif order.status == 'complete' %}success{% elif order.status == 'pending' %}warning{% elif order.status == 'approved' %}info{% elif order.status == 'decline' %}danger{% endif %} me-1">
                                {{ order.status }}
                            </span>
                        </td>
                        <td>${{ order.amount|floatformat:"2" }}</td>
                        <td>
                            {% if order.debt %}${{ order.debt|floatformat:"2" }}{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <div class="card-header mt-3">
        <h5>
            <strong>Pending Payments</strong> 
        </h5>
    </div>
        <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>amount</th>
                    <th>category</th>
                    <th>created_date</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in pending_payments %}
                    <tr data-search="{{payment.category}}">
                        <td>
                            ${{ payment.amount }}
                        </td>
                        <td>
                            <div class="avatar">
                                <img {% if payment.category.icon %} src="{{ payment.category.icon.url }}" {% else %} src="{% static 'assets/img/icons/no_image.jpg' %}" {% endif %}
                                     alt="…"
                                     class="">
                            </div>
                        </td>
                        <td>{{ payment.created_date|date:"SHORT_DATE_FORMAT" }}</td>
                         
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock content %}
