{% extends 'base/base_list.html' %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block Ttitle %}
    <h5 class="card-header">Costs</h5>
{% endblock Ttitle %}
{% block Theader %}
    <th>
        <i class="bx bx-cog"></i>
    </th>
    <th>category</th>
    <th>concept</th>
    <th>date</th>
    <th>Associated</th>
    <th>Amount</th>
{% endblock Theader %}
{% block Tbody %}
    {% for cost in costs %}
        <tr data-tag="{{ cost.category.name }}">
            <td>
                <a href={% url 'update-cost' cost.id %}>${{ cost.amount|floatformat:"0" }}</a>
            </td>
            <td>
                {% if cost.category.icon %}
                    <img src="{{ cost.category.icon.url }}"
                         alt="icon"
                         height="40px"
                         width="40px"
                         class="h-px-40 w-auto"/>
                {% endif %}
            </td>
            <td>
                <strong>{{ cost.concept }}</strong>
            </td>
            <td>{{ cost.date|date:"SHORT_DATE_FORMAT" }}</td>
            <td>
                {% if cost.related_to %}{{ cost.related_to.name }}{% endif %}
            </td>
            <td>${{ cost.amount|floatformat:"2" }}</td>
        </tr>
    {% endfor %}
{% endblock Tbody %}
{% block createUrl %}
    {% url 'create-cost' %}
{% endblock createUrl %}
{% block help %}
    Add cost
{% endblock help %}
