{% extends 'base/base_form.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block img_id %}
    const img_id = "id_image";
{% endblock img_id %}
{% block content %}
    <div class="bs-toast toast toast-placement-ex m-2 bg-primary top-0 start-0 hide"
         role="alert"
         id="toast"
         aria-live="assertive"
         aria-atomic="true">
        <div class="toast-header">
            <div class="me-auto fw-semibold">Uploading...</div>
            <div class="spinner-border spinner-border-sm text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <button type="button"
                    class="btn-close"
                    id="btn-close"
                    data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
        <div class="toast-body">Please, be pacient, we are uploading your file to Google Drive.</div>
    </div>
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">{{ title }}</h5>
                {% if form.instance.id %}
                    <a onclick="deleteCost('{% url 'delete-cost' form.instance.id %}', '')"
                       type="button"
                       class="btn btn-icon btn-outline-danger float-end">
                        <span class="tf-icons bx bx-trash"></span>
                    </a>
                {% endif %}
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" method="post" id="update-form">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
    <script>
        function deleteCost(url, name) {
            let confirmAction = confirm("Are you sure to delete this cost?");
            if (confirmAction) {
                window.location = url;
            }
        }
        {% comment %} // About date
        function formatDate(userDate) {
            userDate = new Date(userDate);
            y = userDate.getFullYear().toString();
            m = (userDate.getMonth() + 1).toString();
            d = userDate.getDate().toString();
            if(m.length == 1) m = '0' + m;
            if(d.length == 1) d = '0' + d;
            return y+"-"+d+"-"+m;
        }
        const date = document.getElementById("id_date");
        console.log(date.getAttribute("value"));
        date.value=formatDate(date.getAttribute("value")); {% endcomment %}

        // Toast for alerting delayed upload to GDrive
        let toast; 

        function showToast(){
            toast.style.display='block';
        }
        function hideToast(){
            toast.style.display='none';
        }

        window.onload = function(){  
            toast = document.getElementById("toast");
            document.getElementById("submit-id-submit").addEventListener('click', showToast);
            document.getElementById("btn-close").addEventListener('click', hideToast);            
        }  
    </script>
{% endblock content %}
