{% load static %}
{% if pdf %}
{% else %}
    {% if external %}
        <a class="date_btn"
           href="{% url 'ext-capture-signature' 'date_guarantor' token %}">
            <button type="button" class="btn btn-icon btn-primary">
                <span class="tf-icons bx bx-edit"></span>
            </button>
        </a>
    {% else %}
        <a class="date_btn"
           href="{% url 'capture-signature' 'date_guarantor' token %}">
            <button type="button" class="btn btn-icon btn-primary">
                <span class="tf-icons bx bx-edit"></span>
            </button>
        </a>
    {% endif %}
{% endif %}
<img class="date" src="{{ date_guarantor.img.url }}">
