{% extends "base/base_form.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <script>
        window.Total = {{ initial }};

        function deleteDocument(name, id) {
            let confirmAction = confirm("Are you sure to delete the document: " + name + "?");
            if (confirmAction) {
                window.location ="{% url 'delete-document-on-ended-contract' id='PLACEHOLDER' %}".replace('PLACEHOLDER', id);
            }
        }
    </script>
    <!-- Basic with Icons -->
    <form enctype="multipart/form-data" method="post" id="update-form" x-data="depositDevolution">
        {% csrf_token %}
        <div class="lg:flex lg:gap-4">
            {%if formDiscount%}
                <div class="lg:flex-grow">
                    <div class="card mb-4">
                        <div class="card-header flex items-center justify-between">
                            <h5 class="mb-0">Contract conditions:</h5>
                        </div>
                        <div class="card-body">
                            {% crispy formDiscount %}
                        </div>
                    </div>
                </div>
            {%endif%}

            <div class="lg:flex-grow">
                <div class="card mb-4">
                    <div class="card-header"
                         :style="{
                                 filter: devolution() ? '': 'blur(3px)',
                                 'pointer-events': devolution() ? '' : 'none',
                                 }"
                    >
                        <h5 class="mb-2">{{ title }}</h5>
                        <div>
                            Current deposit: <strong>$<span>{{initial|floatformat:'-2'}}</span></strong> (On contract: <strong>$<span>{{on_contract|floatformat:'-2'}}</span></strong>)
                        </div>
                        <div>
                            Total discount on the deposit: <strong>$<span x-text="totalDiscount()"></span></strong>
                        </div>
                        <div class="shadow-inner py-2">
                            <span x-show="totalAmount() >= 0">
                                Amount in favor of the customer:
                            </span>
                            <span x-show="totalAmount() < 0">
                                Amount due from the customer:
                            </span>
                            <strong :class="totalAmount() < 0 ? 'text-danger': 'text-primary'">$<span x-text='Math.abs(totalAmount())'></span></strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <div
                            :style="{
                                    filter: devolution() ? '': 'blur(3px)',
                                    'pointer-events': devolution() ? '' : 'none',
                                    }"
                        >
                            {% crispy form %}
                        </div>
                        <div>
                            <input type="submit" class="btn btn-primary" value="Enviar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script src="{% static "assets/js/deposits/deposit_discount.js" %}"></script>
{% endblock content %}
