{% extends "base/base_form.html" %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">{{ title }}</h5>
            </div>
            <div class="card-body">
                <form enctype="multipart/form-data" method="post" id="update-form">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
    <script>
        function toggleInput() {
            var contractType = document.getElementById("id_contract_type");
            var totalAmount = document.getElementById("div_id_total_amount");
            var label = document.querySelector('label[for="id_security_deposit"]');
            
            if (contractType.value === "lto") {
                totalAmount.style.display = 'block';
                label.innerHTML = 'Down payment*';
            } else {
                totalAmount.style.display = 'none';
                label.innerHTML = 'Security deposit*';
            }
        }

        // Call the toggleInput function on page load
        toggleInput();

        // Call the toggleInput function on every update of the select element
        document.getElementById("id_contract_type").addEventListener("change", toggleInput);
    </script>
{% endblock content %}
