{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-4 d-flex pb-1">
            <div class="avatar flex-shrink-0 me-3">
                <a href={% url 'detail-associated' contract.lessee.id %}>
                    <span class="avatar-initial rounded-circle bg-label-primary">
                        <img {% if contract.lessee.avatar %} src="{{ contract.lessee.avatar.url }}" {% else %} src="{% static 'assets/img/icons/user.png' %}" {% endif %}
                             alt="Avatar"
                             height="100px"
                             width="100px"
                             class="w-px-40 rounded-circle" />
                    </span>
                </a>
            </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                <div class="me-2">
                    <h6 class="mb-0">{{ contract.lessee.name }}</h6>
                    {% if contract.lessee.debt > 0 %}
                        <small class="text-danger">Debt: ${{ contract.lessee.debt }} ({{ contract.lessee.debt_status }})</small>
                    {% else %}
                        <small class="text-muted">{{ contract.lessee.phone_number }}</small>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="demo-inline-spacing col-md-8">
            <!-- <a href="{% url 'update-lessee-data' contract.lessee.data.id %}" -->
            <!--    type="button" -->
            <!--    class="btn btn-outline-primary"> -->
            <!--     <span class="tf-icons bx bx-edit"></span>&nbsp; Client data -->
            <!-- </a> -->
            <a href="{% url 'update-data-on-contract' contract.id %}"
               type="button"
               class="btn btn-outline-primary">
                <span class="tf-icons bx bx-edit"></span>&nbsp; Client data
            </a>
            <a href="{% url 'update-contract' contract.id %}"
               type="button"
               class="btn btn-outline-primary">
                <span class="tf-icons bx bx-edit"></span>&nbsp; Terms
            </a>
            {% if contract.inspection %}
                <a href="{% url 'update-inspection' contract.inspection.id %}"
                type="button"
                class="btn btn-outline-primary">
                    <span class="tf-icons bx bx-edit"></span>&nbsp; Inspection
                </a>
                <a href="{% url 'update-tires' contract.inspection.id %}"
                type="button"
                class="btn btn-outline-primary">
                    <span class="tf-icons bx bx-edit"></span>&nbsp; Tires
                </a>
            {% endif %}
            <a href="{% url 'contract-signing' contract.id %}"
               type="button"
               class="btn btn-icon btn-outline-primary">
                <span class="tf-icons bx bx-share-alt"></span>
            </a>
            <a href="{% url 'contract-signed' contract.id %}"
               type="button"
               class="btn btn-icon btn-outline-primary">
                <span class="tf-icons bx bx-file"></span>
            </a>
            {% if validated %}
                <button class="btn btn-icon btn-outline-secondary" disabled>
                    <span class="tf-icons bx bx-check"></span>
                </button>
            {% elif signature_lessee.img.url and signature_lessee.img.url != '' %}
                <button onClick="validateContract('{% url 'update-contract-stage' contract.id 'active' %}')"
                        id="submit-id-submit"
                        class="btn btn-icon btn-outline-primary">
                    <span class="tf-icons bx bx-check"></span>
                </button>
            {%else%}
                <button class="btn btn-icon btn-outline-danger" data-bs-toggle="modal" data-bs-target="#unsignedModal">
                    <span class="tf-icons bx bx-check"></span>
                </button>

                <div class="modal fade" id="unsignedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Unsigned contract</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                This contract has not been signed
                            </div>
                        </div>
                    </div>
                </div>
            {%endif%}
            {% if contract.stage == 'ended' %}
            <a href="{% url 'adjust-deposit' contract.id %}"
                type="button"
                class="btn btn-icon btn-outline-primary">
                <span class="tf-icons bx bx-wallet"></span>
            </a>
            {% else %}
            <button onClick="cancelContract('{% url 'adjust-deposit' contract.id %}?closing=1')"
                    id="submit-id-submit"
                    class="btn btn-icon btn-outline-primary">
                <span class="tf-icons bx bx-x"></span>
            </button>
            {% endif %}
        </div>
    </div>
</div>
{% include "base/toast.html" with msg="Please, be pacient, we are sending the PDF copy to the client." %}
<script>
    function cancelContract(url) {
        let confirmAction = confirm("Are you sure to cancel this contract?");
        if (confirmAction) {
            window.location = url;
        }
    }
    function validateContract(url) {
        let confirmAction = confirm("Are you sure to validate this contract?");
        if (confirmAction) {
            window.location = url;
        }
    }
</script>
