{% extends "base/base_form.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <!-- Basic with Icons -->
    <div class="col-xxl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">{{ title }}</h5>
            </div>
            <div class="card-body" x-data="createContract">
                <form enctype="multipart/form-data" method="post" id="update-form">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
    <script src="{% static "assets/js/create_contract.js" %}">
    </script>
{% endblock content %}
