{% extends "base/base.html" %}
{% block page %}
    <meta charset="utf-8" />
    <style>
    {% block mark %}    
      mark { 
         background-color: yellow;
         color: black;
      }
    {% endblock %}
     .bottom-three-left-two {
         margin-left: 3em;
         margin-top: -4em;
         z-index:-1;
     }
     
    .date {
        margin-bottom: 2em;
        max-width: 300px;
    }
     
	.signature {
        min-width: 300px;
        max-width: 300px;
        z-index:1;
	}
     .center {
	      text-align: center;
      }
      p, li {
	      text-align: justify;
      }
      div.break {
         page-break-before:always;
      }
    .left-space {
        margin-left: 1em;
        margin-right: 0.5em;
    }
    </style>
{% endblock page %}
{% block content %}
    <div class="card mb-3">
        <div class="card-body">{% include "./contract_header.html" %}</div>
    </div>
    {% include "./contract_content.html" %}
{% endblock content %}
