{% load static %}
{% if contract.stage == 1 %}
    {% include "empty_signatures_and_date.html" %}
{% else %}
    <div class="table max-w-full">
        <table class="max-w-full">
            <tr>
                <td>Accepted on:</td>
                <td>
                    {% include "./signatures/date_daniel.html" %}
                </td>
                <td>Signed on:</td>
                <td>
                    {% include "./signatures/date_lessee.html" %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td><u>LESSOR:</u></td>
                <td></td>
                <td><u>LESSEE:</u></td>
            </tr>
            <tr>
                <td></td>
                <td>TOWITHOUSTON LLC</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>By:</td>
                <td>
                    <img class="signature" src="{% static '/images/signs/firma_daniel.png' %}">
                </td>
                <td>By:</td>
                <td>
                    {% include "./signatures/sign_lessee.html" %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>Daniel Hernández Duarte</td>
                <td></td>
                <td>Printed Name:<u><mark class="marker-yellow">{{ contract.lessee.name }}</mark></u></td>
            </tr>
            <tr>
                <td></td>
                <td>Managing Member</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
{%endif%}
