{% load static %}
{% if contract.stage == 1 %}
    {% include "empty_signatures_and_date.html" %}
{% else %}
    <div class="table">
        <table>
            <tr>
                <td>Signed on:</td>
                <td>
                    {% if pdf %}
                    {% else %}
                        {% if not external %}
                            <a class="date_btn"
                               href="{% url 'capture-signature' contract.id 'date_daniel' %}">
                                <button type="button" class="btn btn-icon btn-primary">
                                    <span class="tf-icons bx bx-edit"></span>
                                </button>
                            </a>
                        {% endif %}
                    {% endif %}
                    <img class="date" src="{{ date_daniel.img.url }}">
                </td>
                <td>Signed on:</td>
                <td>
                    {% if pdf %}
                    {% else %}
                        {% if external %}
                            <a class="date_btn"
                               href="{% url 'capture-signature' contract.id 'date_lessee' True %}">
                                <button type="button" class="btn btn-icon btn-primary">
                                    <span class="tf-icons bx bx-edit"></span>
                                </button>
                            </a>
                        {% else %}
                            <a class="date_btn"
                                href="{% url 'capture-signature' contract.id 'date_lessee' %}">
                                <button type="button" class="btn btn-icon btn-primary">
                                    <span class="tf-icons bx bx-edit"></span>
                                </button>
                            </a>
                        {% endif %}
                    {% endif %}
                    <img class="date" src="{{ date_lessee.img.url }}">
                </td>
            </tr>
            <tr>
                <td></td>
                <td><u>LESSOR:</u></td>
                <td></td>
                <td><u>LESSEE:</u></td>
            </tr>
            <tr>
                <td></td>
                <td>TOWITHOUSTON LLC</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>By:</td>
                <td>
                    <img class="signature" src="{% static '/images/signs/firma_daniel.png' %}">
                </td>
                <td>By:</td>
                <td>
                    {% if pdf %}
                    {% else %}
                        {% if external %}
                            <a class="signature_btn"
                               href="{% url 'capture-signature' contract.id 'signature_lessee' True %}">
                                <button type="button" class="btn btn-icon btn-primary">
                                    <span class="tf-icons bx bx-edit"></span>
                                </button>
                            </a>
                        {% else %}
                            <a class="signature_btn"
                                href="{% url 'capture-signature' contract.id 'signature_lessee' %}">
                                <button type="button" class="btn btn-icon btn-primary">
                                    <span class="tf-icons bx bx-edit"></span>
                                </button>
                            </a>
                        {% endif %}
                    {% endif %}
                    <img class="signature" src="{{ signature_lessee.img.url }}">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>Daniel Hernández Duarte</td>
                <td></td>
                <td>Printed Name:<u><mark class="marker-yellow">{{ contract.lessee.name }}</mark></u></td>
            </tr>
            <tr>
                <td></td>
                <td>Managing Member</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
{%endif%}
