{% extends 'towit/tracker/tracker.html' %}
{% load tz %}
{% load static %}
{% block map_scripts %}
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script type="text/javascript" src="{% static '/js/leaflet.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/date.format.js' %}"></script>
    <style>#map { height: 450px; }</style>
{% endblock %}
{% block map %}
    <div id ="map"></div>
    Last update: <b class="datetime"
    style="background: {% if online == True %} #b9ec94 {% else %} #FF0000 {% endif %};">{{ data.timestamp|utc|date:'m/d/Y h:i:s A' }}</b>
    <script>
         // Creating map options
         var mapOptions = {
         center: [{{ data.latitude }}, {{ data.longitude }}],
         zoom: 6
         }
         
         // Creating a map object
         var map = new L.map("map", mapOptions);
         
         // Creating a Layer object
         var layer = new  L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
         
         // Adding layer to the map
         map.addLayer(layer);
         
         var marker = L.marker([{{ data.latitude }}, {{ data.longitude }}]).addTo(map);
         
         function update_map(lat, lon, speed, dt){
             // Update MAP
            if (marker != undefined) {
              map.removeLayer(marker);
            };
            marker = L.marker([lat, lon]).addTo(map);
            map.panTo(new L.LatLng(lat, lon));
            // Update data
            document.getElementById("speed").innerHTML=speed
            document.getElementById("lat").innerHTML=lat
            document.getElementById("lon").innerHTML=lon
            document.getElementById("datetime").innerHTML=dt
         }

         function uploadHistory() {
            let confirmAction = confirm("Do you want to export all historical data to Traccar?");
            if (confirmAction) {
                 window.location = "/towit/tracker_export/{{ tracker.id }}";
            }
        }
    </script>
{% endblock %}
{% block table %}
    <hr class="mt-0 mb-4">
    <h4 class="mt-3">
    History </b>
    <button onclick="uploadHistory()"
            class="btn btn-primary data-toggle="
            tooltip
            data-placement="left"
            title="Copy to clipboard">
        <i class="fa fa-share"></i>
    </button>
    <a href="/towit/tracker_detail/{{ tracker.id }}/100">
        <i class="fa fa-search"></i>
    </a>
</h4>
<div class="row">
    <div class="table-responsive-md col-6 overflow-auto"
         style="max-height: 500px;">
        <table id="table"
               class="table table-striped table-bordered table-sm"
               cellspacing="0"
               width="100%">
            <thead>
                <tr>
                    <th class="th-sm">Seq</th>
                    <th class="th-sm">Datetime</th>
                    <!-- <th class="th-sm">Latitude</th>
                <th class="th-sm">Longitude</th>
                <th class="th-sm">Speed</th> -->
                    <th class="th-sm">Vbat</th>
                </tr>
            </thead>
            <tbody>
                {% for element in history %}
                    <tr>
                        <td>
                        {{ element.sequence }} </a>
                    </td>
                    <td>
                        <button class="datetime"
                                onclick="update_map({{ element.latitude }}, {{ element.longitude }}, {{ element.speed }}, '{{ element.timestamp }}')">
                            {{ element.timestamp|utc|date:'m/d/Y h:i:s A' }}
                        </button>
                    </td>
                    <!-- <td>{{ element.latitude }}</td>
                    <td>{{ element.longitude }}</td>
                    <td>{{ element.speed }}</td> -->
                    <td style="background: {% if element.mode  == 0 %} #b9ec94 {% else %} #f5ada1 {% endif %};">
                        {{ element.battery|floatformat:"0" }}%
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-6">
    <b>Datetime: </b>
    <div class="datetime" id="datetime">{{ data.timestamp|utc|date:'m/d/Y h:i:s A' }}</div>
    <b>Latitude: </b>
    <div id="lat">{{ data.latitude }}</div>
    <b>Longitude: </b>
    <div id="lon">{{ data.longitude }}</div>
    <b>Speed: </b>
    <div id="speed">{{ data.speed }}</div>
</div>
</div>
<script>
        function updateTZ() {
            let elements = document.getElementsByClassName("datetime");
            for (let element of elements){
                let date = new Date(element.innerHTML + ' UTC');
                console.log(date);
                element.innerHTML = date.format("mmm dd, h:MMtt");
            }
        }

        updateTZ();
</script>
{% endblock %}
