{% extends "base/base_list.html" %}
{% load tz %}
{% load static %}
{% block page %}
    <script type="text/javascript" src="{% static '/js/date.format.js' %}"></script>
{% endblock page %}
{% block Theader %}
    <th class="col-1">#</th>
    <th class="col-3">Lessee</th>
    <th class="col-4">Trailer</th>
    <th class="col-1">Bat</th>
    <th class="col-3">Updated</th>
{% endblock Theader %}
{% block Tbody %}
    {% for tracker in trackers %}
        <tr>
            <td>
                <a class="tracker-link" href="{% url 'detail-tracker' tracker.id %}">{{ tracker.id }}</a>
            </td>
            <td>
                {% if tracker.lessee %}
                    {% include "users/associated_line.html" with associated=tracker.lessee %}
                {% endif %}
            </td>
            <td>
                {% if tracker.trailer %}
                    <div class="d-flex">
                        {% include "rent/equipment_line.html" with equipment=tracker.trailer equipment_type="trailer" pinned_image=tracker.trailer.pinned_image %}
                    </div>
                {% endif %}
            </td>
            <td>
                {% if tracker.bat %}
                    <span class="badge bg-{% if tracker.charging %}success"{% else %}danger{% endif %}">{{ tracker.bat|floatformat:"0" }}%</span>
                {% endif %}
            </td>
            <td {% if tracker.online != True %}class="text-danger"{% endif %}>{{ tracker.timestamp|timesince }}</td>
        </tr>
    {% endfor %}
{% endblock Tbody %}
{% block add %}
    hidden
{% endblock add %}
<script>
        function updateTZ() {
            let elements = document.getElementsByClassName("datetime");
            for (let element of elements){
                let date = new Date(element.innerHTML + ' UTC');
                console.log(date);
                element.innerHTML = date.format("mmm dd, h:MMtt");
            }
        }

        updateTZ();

</script>
