{% extends 'towit/base.html' %}
{% block head %}
  {% block map_scripts %}{% endblock %}
  <script>
        function deleteTracker() {
            let confirmAction = confirm("Are you sure to delete the tracker?");
            if (confirmAction) {
                 window.location = "/towit/delete_tracker/{{ tracker.id }}";
            }
        }
  </script>
{% endblock %}
{% block nav %}
  <li>
    <a href="/towit/trackers/">Trackers</a>
  </li>
{% endblock %}
{% block content %}
  <h3 class="mt-3">
    Tracker <b> {{ tracker.id }}</b>
    <button onclick="deleteTracker()"
            class="btn btn-danger float-right data-toggle="
            tooltip
            data-placement="left"
            title="Remove current picture">
      <i class="fa fa-trash"></i>
    </button>
  </h3>
  {% block map %}{% endblock %}
  {% block table %}{% endblock %}
  <hr class="mt-0 mb-4">
  <!-- Props -->
  <h4 class="mt-3">
  Configuration </b>
  <a href="/towit/update_tracker/{{ tracker.id }}">
    <button class="btn btn-primary data-toggle="
            tooltip
            data-placement="left"
            title="Edit tracker">
      <i class="fa fa-pencil"></i>
    </button>
  </a>
</h4>
<hr class="mt-0 mb-4">
<div class="row">
  <div class="lg-5 sm-12">
    IMEI: <b>{{ tracker.imei }}</b>
  </div>
  <div class="lg-7 sm-12">
    <form method="post">
      {% csrf_token %}
      <label for="lessee_name">Lessee:</label>
      <input id="lessee_name"
             type="text"
             name="lessee_name"
             placeholder="{{ tracker.lessee_name }}">
      <input class="btn btn-primary btn btn-success" type="submit" value="Update">
    </form>
  </div>
</div>
<div class="row">
  <div class="col-6">
    Phone number: <b> {{ tracker.phone_number }} </b>
  </div>
  <div class="col-6">
    Credit: <b> ${{ tracker.line_credit }} </b>
  </div>
</div>
<div class="row">
  <div class="col-6 col-md-3">
    Max erros: <b>{{ tracker.Mode }}</b>
  </div>
  <div class="col-6 col-md-5">
    Energy check: <b> {{ tracker.Tcheck }}min </b>
  </div>
  <div class="col-6 col-md-4">
    Smart: <b> {{ tracker.SMART }} </b>
  </div>
</div>
<!-- Parameters -->
<h4 class="mt-3">
Powered: </b>
</h4>
<hr class="mt-0 mb-4">
<div class="row">
  <div class="col-6 col-md-4">
    Data update: <b> {{ tracker.Tint }}min </b>
  </div>
  <div class="col-6 col-md-4">
    GPS timeout: <b> {{ tracker.TGPS }}min </b>
  </div>
  <div class="col-6 col-md-4">
    GSM timeout: <b> {{ tracker.Tsend }}min </b>
  </div>
</div>
<h4 class="mt-3">
On battery: </b>
</h4>
<hr class="mt-0 mb-4">
<div class="row">
  <div class="col-6 col-md-4">
    Data update: <b> {{ tracker.TintB }}min </b>
  </div>
  <div class="col-6 col-md-4">
    GPS timeout: <b> {{ tracker.TGPSB }}min </b>
  </div>
  <div class="col-6 col-md-4">
    GSM timeout: <b> {{ tracker.TsendB }}min </b>
  </div>
</div>
{% endblock %}
