{% load static %}
<div>
    <h5>Emergency contact {{number}}:</h5>
    <div class="d-flex pb-1">
        <a class="btn btn-icon btn-outline-primary me-3"
           type
           None="button"
           href="tel:{{ phone }}">
            <span class="tf-icons bx bx-phone-call"></span>
        </a>
        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2  associated-data">
                <h6 class="mb-0">
                    {{ name }}
                    {% if rel %}
                        <span class="text-xs text-gray-400 italic">({{rel}})</span>
                    {% endif %}
                </h6>
                <small class="text-muted">{{ phone }}</small>
            </div>
        </div>
    </div>
</div>
