{%load static%}
<div class="demo-inline-spacing">
    <h5 class="card-header">Leases</h5>
</div>
<div class="nav-align-top">
    <ul class="nav nav-pills nav-fill" role="tablist">
        {% for lease in leases %}
            <li class="nav-item">
                <button type="button"
                        class="nav-link {% if lease_id %}{% if lease.contract.id == lease_id %}active{%endif%}{% elif forloop.first %}active{% endif %}"
                        role="tab"
                        data-bs-toggle="tab"
                        data-bs-target="#navs-pills-justified-{{ lease.id }}"
                        aria-controls="navs-pills-justified-{{ lease.id }}"
                        aria-selected="true">
                    {{ lease.contract.trailer }}
                    {% if lease.unpaid_dues|length > 0 %}
                        <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-danger">{{ lease.unpaid_dues|length }}</span>
                    {% endif %}
                </button>
            </li>
        {% endfor %}
    </ul>
</div>
